<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('当当词性匹配列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								账户名：<input type="text" name="account"/>
							</li>

							<li>
								推广计划名称：<input type="text" name="plan"/>
							</li>

							<li>
								推广单元名称：<input type="text" name="unit"/>
							</li>

							<li>
								关键词名称：<input type="text" name="keyword"/>
							</li>

							<li>
								词性：<input type="text" name="partSpeech"/>
							</li>

							<li>
								二级分类：<input type="text" name="secondaryClassification"/>
							</li>

							<li>
								三级分类：<input type="text" name="threeLevelClassification"/>
							</li>

							<li>
								组合：<input type="text" name="combination"/>
							</li>

							<li>
								移动访问url：<input type="text" name="mobileAccessUrl"/>
							</li>

							<li>
								小程序url：<input type="text" name="appletUrl"/>
							</li>

							<li>
								小程序更改后：<input type="text" name="appletDone"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:dangMatch:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:dangMatch:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:dangMatch:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:dangMatch:export">
						<i class="fa fa-download"></i> 导出
				 </a>
				<a class="btn btn-info" onclick="$.table.importExcel()">
					<i class="fa fa-upload"></i> 导入
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:dangMatch:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:dangMatch:remove')}]];
        var prefix = ctx + "system/dangMatch";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				importTemplateUrl: prefix + "/importTemplate",
				importUrl: prefix + "/importData",
                modalName: "当当词性匹配",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
					visible: false
				},
				{
					field : 'account', 
					title : '账户名',
					sortable: true
				},
				{
					field : 'plan', 
					title : '推广计划名称',
					sortable: true
				},
				{
					field : 'unit', 
					title : '推广单元名称',
					sortable: true
				},
				{
					field : 'keyword', 
					title : '关键词名称',
					sortable: true
				},
				{
					field : 'partSpeech', 
					title : '词性',
					sortable: true
				},
				{
					field : 'secondaryClassification', 
					title : '二级分类',
					sortable: true
				},
				{
					field : 'threeLevelClassification', 
					title : '三级分类',
					sortable: true
				},
				{
					field : 'combination', 
					title : '组合',
					sortable: true
				},
				{
					field : 'mobileAccessUrl', 
					title : '移动访问url',
					sortable: true
				},
				{
					field : 'appletUrl', 
					title : '小程序url',
					sortable: true
				},
				{
					field : 'appletDone', 
					title : '小程序更改后',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			&nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</html>