<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-reiadd" th:object="${facUserApproval}">
        <div class="container-div">
            <div class="row">
                <input id="msg" name="msg" class="form-control-static" type="hidden" th:value="${msg}"/>
                <input id="userId" name="userId" class="form-control-static" type="hidden" th:value="${userId}"/>
                <input id="dept" name="dept" class="form-control-static" type="hidden" th:value="${dept}"/>
                <div>
                    <h4 class="form-header h4">日常报销申请</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报销名称：</label>
                                <div class="col-sm-8">
                                    <input name="name" autocomplete="off" placeholder="XX月份报销" class="form-control"
                                           type="text" maxlength="30" th:value="${name}" readonly required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">&nbsp&nbsp部门：</label>
                                <div class="col-sm-8">
                                    <input name="userName" autocomplete="off" placeholder="悦维联动" class="form-control"
                                           type="text" maxlength="30" readonly="readonly" th:value="${deptName}" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"></span>报销编号：</label>
                                <div class="col-sm-8">
                                    <input id="num" name="num" class="form-control" type="text" th:value="${num}"
                                           readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
                    </div>
                </div>
                <div class="row" id="jbc">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table-4" data-mobile-responsive="true"></table>
                    </div>
                </div>
                <div class="row" id="zdf">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table-3" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form class="form-horizontal m" id="form-facUserApproval-edit" th:object="${facUserApproval}">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" id="div-reiadd">
                    <label class="col-sm-4 control-label"></span>审批意见：</label>
                    <div class="col-sm-8">
                        <input id="opi" name="opi" class="form-control" type="text"  th:value="${opi}">
                        <input id="applyId" name="applyId" class="form-control-static" type="hidden" th:value="${num}">
                        <input id="approverId" name="approverId" class="form-control-static" type="hidden"
                               th:value="${userId}">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div th:include="include :: footer"></div>

<script th:inline="javascript">

    var prefix = ctx + "system/facReimburseApply";
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var num = $("#num").val();
    var msg = $("#msg").val();
    var userId = $("#userId").val();
    var dept = $("#dept").val();
    var prefixs = ctx + "system/facUserApproval";

    var edit1 = [[${edit1}]];
    var edit2 = [[${edit2}]];
    var edit3 = [[${edit3}]];
    var edit4 = [[${edit4}]];

    if (edit2 == "false") {

        $("#jtf").hide();//隐藏
    } else {
        $("#jtf").show();//显示

    }

    if (edit1 == "false") {
        $("#zdf").hide();//隐藏
    } else {
        $("#zdf").show();//显示
    }

    if (edit3 == "false") {
        $("#qtf").hide();//隐藏
    } else {
        $("#qtf").show();//显示
    }

    if (edit4 == "false") {
        $("#jbc").hide();//隐藏
    } else {
        $("#jbc").show();//显示
    }

    if (dept = 10) {
        $("#zdf").hide();//隐藏
    } else {
        $("#zdf").show();//显示
    }

    function mAdd(id) {
        if (id == 1) {
            $.table._option.id = "bootstrap-table-1";
            $.table._option.url = prefix + "/addTraDetail";
        } else if (id == 2) {
            $.table._option.id = "bootstrap-table-2";
            $.table._option.url = prefix + "/addAll";
        } else if (id == 3) {
            $.table._option.id = "bootstrap-table-3";
            $.table._option.url = prefix + "/otherDetail";
        }else if (id == 4) {
            $.table._option.id = "bootstrap-table-4";
            $.table._option.url = prefix + "/mealDetail";
        }
    }

    function mEdit(index, id) {
        if (index == 1) {
            $.table._option.id = "bootstrap-table-1";
            $.table._option.url = prefix + "/addTraDetail";
            $.table._option.modalName = "交通报销信息";
            $.table._option.updateUrl = prefix + "/editTran/{id}";
        } else if (index == 2) {
            $.table._option.updateUrl = prefix + "/editTran/{id}";
        }
        $.operate.edit(id);
    }

    function mRemove(index, id) {
        if (index == 1) {
            $.table._option.modalName = "交通报销信息";
            $.table._option.removeUrl = prefix + "/removeTran";
        } else if (index == 2) {
            $.table._option.removeUrl = prefix + "/removeTran";
        }
        $.operate.remove(id);
    }

    $(function () {
        var options = {
            id: "bootstrap-table-1",
            url: prefix + "/addTraDetail",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modalName: "交通费报销信息",
            columns: [
                [
                        {
                            title: '交通费报销信息',
                            align: 'center',
                            colspan: 10,
                        }

                ],
                [
                {
                    checkbox: false
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'num',
                    title: '报销编号',
                    sortable: true
                },
                {
                    field: 'ddDate',
                    title: '日期',
                    sortable: true
                },
                {
                    field: 'targetUnit',
                    title: '目标单位简称',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '金额',
                    sortable: true
                },
                {
                    field: 'user',
                    title: '人员',
                    sortable: true
                },
                {
                    field: 'departure',
                    title: '出发地',
                    sortable: true
                },
                {
                    field: 'target',
                    title: '目的地',
                    sortable: true
                },
                {
                    field: 'type',
                    title: '类型 ',
                    sortable: true
                },{
                    field: 'reason',
                    title: '事由 ',
                    sortable: false
                }

            ]
                ]
        };

        $.table.init(options);
    });

    $(function () {

        var options = {
            id: "bootstrap-table-2",
            Url: prefix + "/addAll",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modelName: "招待费用信息",
            columns: [
                [
                    {
                        title: '招待费用信息',
                        align: 'center',
                        colspan: 8,
                    }

                ],
                [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: 'id',
                        visible: false
                    },
                    {
                        field: 'ddDate',
                        title: '日期'
                    },
                    {
                        field: 'amount',
                        title: '金额'
                    },
                    {
                        field: 'project',
                        title: '报销科目'
                    },
                    {
                        field: 'reason',
                        title: '事由'
                    },
                    {
                        field: 'documentNum',
                        title: '单据数'
                    },
                    {
                        field: 'status',
                        title: '用户状态',
                        visible: false,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(datas, value);
                        }
                    },
                   ]]
        };
        $.table.init(options);
    });
    $(function () {
        var options = {
            id: "bootstrap-table-4",
            url: prefix + "/mealDetail",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modelName: "加班餐费用申请",
            columns: [
                [
                    {
                        title: '加班餐费用申请',
                        align: 'center',
                        colspan: 8,
                    }

                ],
                [{
                    checkbox: true
                },


                    {
                        field: 'id',
                        title: 'id',
                        visible: false
                    },
                    {
                        field: 'addDate',
                        title: '加班日期',
                        sortable: false,
                        formatter: function (value, row, index) {
                            var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                            return newDate;
                        }
                    },
                    {
                        field: 'amount',
                        title: '餐费金额',
                        sortable: false,
                        formatter: function (value,row,index) {
                            return value;
                        }
                    },

                    {
                        field : 'userName',
                        title : '加班人员',
                        sortable: false
                    } ,
                    {
                        field : 'place',
                        title : '加班地点',
                        sortable: false
                    },
                    {
                        field: 'reason',
                        title: '事由',
                        sortable: false
                    },
                    {
                        field: 'documentNum',
                        title: '单据数',
                        sortable: false
                    },
                    {
                        field: 'status',
                        title: '用户状态',
                        visible: false,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(datas, value);
                        }
                    }]]
        };
        $.table.init(options);
    });

    $(function () {
        var options = {
            id: "bootstrap-table-3",
            url: prefix + "/otherDetail",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modelName: "其他费用申请",
            columns: [
                [
                    {
                        title: '其他费用报销信息',
                        align: 'center',
                        colspan: 8,
                    }

                ],
                [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: 'id',
                        visible: false
                    },
                    {
                        field: 'ddDate',
                        title: '日期'
                    },
                    {
                        field: 'amount',
                        title: '金额'
                    },
                    {
                        field: 'project',
                        title: '报销科目'
                    },
                    {
                        field: 'reason',
                        title: '事由'
                    },
                    {
                        field: 'documentNum',
                        title: '单据数'
                    },
                    {
                        field: 'status',
                        title: '用户状态',
                        visible: false,
                        align: 'center',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(datas, value);
                        }
                    }]]
        };
        $.table.init(options);
    });

    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                
                $.modal.closeTab();
            }
        };
        $.ajax(config)
    }

    function submitHandler(index) {
        if ($.validate.form()) {
            //index为1表示同意
            if (index == 1) {
                mSave(prefixs + "/edit", $('#form-facUserApproval-edit').serialize());
            } else {
                mSave(prefixs + "/editnot", $('#form-facUserApproval-edit').serialize());
            }
            $.modal.close();
        }
    }

</script>
</body>
</html>