<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增差旅申请')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-facCostApply-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">出差编号：</label>
            <div class="col-sm-8">
                <input id="num" name="num" class="form-control" type="text" th:value="${num}" readonly="readonly">
            </div>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <a id="addAll" class="btn btn-success" onclick="mAdd()">
                <i class="fa fa-plus"></i> 行程安排
            </a>
            <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <a id="addzhusu" class="btn btn-success" onclick="zAdd()">
                <i class="fa fa-plus"></i> 住宿安排
            </a>
            <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
        </div>
        </div>
    </form>
    <form class="form-horizontal m" id="form-facUserApproval-edit" th:object="${facUserApproval}">
        <form class="form-horizontal m" id="form-facUserApproval-edit" th:object="${facUserApproval}">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" id="div-reiadd">
                        <label class="col-sm-4 control-label"></span>审批意见：</label>
                        <div class="col-sm-8">
                            <input id="opi" name="opi" class="form-control" type="text"  th:value="${opi}">
                            <input id="applyId" name="applyId" class="form-control-static" type="hidden" th:value="${num}">
                            <input id="approverId" name="approverId" class="form-control-static" type="hidden"
                                   th:value="${userId}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></span>审批结果：</label>
                        <div class="col-sm-8">
                            <input id="approvalState" name="approvalState" class="form-control" type="text"  th:value="${approvalState}">
                        </div>
                    </div>
                </div>
            </div>
        </form>

</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/facCostApply"
    var num = $("#num").val();
    var prefixs = ctx + "system/facUserApproval";
    $("#form-facCostApply-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function mAdd() {
        $.table._option.id = "bootstrap-table-1";
        $.table._option.url = prefix + "/querys/" + num;
        $.modal.open("行程详细信息", "/system/facCostApply/tranDetail?num=" + num);
    }

    function zAdd() {
        $.table._option.id = "bootstrap-table-2";
        $.table._option.url = prefix + "/sleep/" + num;
        $.modal.open("住宿详细信息", "/system/facCostApply/putAdd?num=" + num);
    }

    var options1 = {
        id: "bootstrap-table-1",
        url: prefix + "/querys/" + num,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        modalName: "行程安排",
        columns: [
            {
                checkbox: true
            },
            {
                field: 'id',
                title: 'id',
                visible: false
            },
            {
                field: 'num',
                title: '差旅编号',
                sortable: true
            },
            {
                field: 'costDate',
                title: '时间',
                sortable: true,
                formatter: function (value, row, index) {
                    var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                    return newDate;
                }
            },
            {
                field: 'vehicle',
                title: '交通工具',
                sortable: true
            },
            {
                field: 'departure',
                title: '出发地',
                sortable: true
            },
            {
                field: 'target',
                title: '目的地',
                sortable: true
            },
            {
                field: 'amount',
                title: '预计金额',
                sortable: true
            },
            {
                field: 'reason',
                title: '工作内容',
                sortable: true
            },
            {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs" href="#"><i class="fa fa-edit"></i>修改</a> ');
                    actions.push('<a class="btn btn-danger btn-xs" href="#"><i class="fa fa-remove"></i>删除</a>');
                    return actions.join('');
                }
            }

        ]
    };
    var options2 = {
        id: "bootstrap-table-2",
        url: prefix + "/sleep/" + num,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        modalName: "住宿安排",
        columns: [
            {
                checkbox: true
            },
            {
                field: 'id',
                title: 'id',
                visible: false
            },
            {
                field: 'num',
                title: '差旅编号',
                sortable: true
            },
            {
                field: 'city',
                title: '入住城市',
                sortable: true
            },
            {
                field: 'entrytime',
                title: '入店时间',
                sortable: true,
                formatter: function (value, row, index) {
                    var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                    return newDate;
                }
            },
            {
                field: 'shoptime',
                title: '离店时间',
                sortable: true,
                formatter: function (value, row, index) {
                    var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                    return newDate;
                }
            },
            {
                field: 'number',
                title: '入住人数',
                sortable: true
            },
            {
                field: 'details',
                title: '入住详情',
                sortable: true
            },
            {
                field: 'money',
                title: '住宿金额',
                sortable: true
            }

        ]
    };

    $(function () {

        $.table.init(options1);
        $.table.init(options2);
    });



    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                alert(result.msg);
                $.modal.closeTab();
            }
        };
        $.ajax(config)
    }

    function submitHandler(index) {
        if ($.validate.form()) {
            //index为1表示同意
            if (index == 1) {
                mSave(prefixs + "/edit", $('#form-facUserApproval-edit').serialize());
            } else {
                mSave(prefixs + "/editnot", $('#form-facUserApproval-edit').serialize());
            }
            $.modal.close();
        }

    }

</script>
</body>
</html>
