<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input id="num" name="num" class="form-control-static" type="hidden" th:value="${num}"/>
        <input id="msg" name="msg" class="form-control-static" type="hidden" th:value="${msg}"/>
        <div>
            <h4 class="form-header h4">对公支付详情</h4>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
            </div>
            <h4 class="form-header h4">对公支付明细</h4>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
            </div>
        </div>


            <form class="form-horizontal m" id="form-facUserApproval-edit" th:object="${facUserApproval}">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" id="div-reiadd">
                            <label class="col-sm-4 control-label"></span>审批意见：</label>
                            <div class="col-sm-8">
                                <input id="opi" name="opi" class="form-control" type="text"  th:value="${opi}">
                                <input id="applyId" name="applyId" class="form-control-static" type="hidden" th:value="${num}">
                                <input id="approverId" name="approverId" class="form-control-static" type="hidden"
                                       th:value="${userId}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></span>审批结果：</label>
                            <div class="col-sm-8">
                                <input id="approvalState" name="approvalState" class="form-control" type="text"  th:value="${approvalState}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    <div th:include="include::footer"></div>

        <script th:inline="javascript">
            var approvalState = [[${@dict.getType('fac_approval_state')}]];
            var prefix = ctx + "system/facPayPublicApply";
            var datas = [[${@dict.getType('sys_normal_disable')}]];
            var num = $("#num").val();
            var msg = $("#msg").val();

            var prefixs = ctx + "system/facUserApproval";
            $(function () {
                var options = {
                    id: "bootstrap-table-1",
                    url: prefix + "/query?num="+num,
                    showSearch: false,
                    showRefresh: false,
                    showToggle: false,
                    showColumns: false,
                    modalName: "对公详细信息",
                    columns: [
                        {
                            checkbox: true
                        } ,
                        {
                            field: 'num',
                            title: '申请编号'
                        },
                        {
                            field: 'name',
                            title: '申请名称'
                        },
                        {
                            field: 'user',
                            title: '申请人id'
                        },
                        {
                            field: 'amount',
                            title: '付款金额'
                        },
                        {
                            field: 'payee',
                            title: '收款人'
                        },
                        {
                            field: 'payeeAccount',
                            title: '收款人账号'
                        } ,
                        {
                            field: 'status',
                            title: '审批状态',
                            formatter: function(value, row, index) {
                                return $.table.selectDictLabel(approvalState, value);
                            }
                        },
                    ]
                };
                $.table.init(options);
            });



            $(function () {
                var options = {
                    id: "bootstrap-table-2",
                    url: prefix + "/dgtail?num=" + num,
                    showSearch: false,
                    showRefresh: false,
                    showToggle: false,
                    showColumns: false,
                    modalName: "对公明细添加",
                    columns: [
                        {
                            checkbox: true
                        },
                        {
                            field : 'id',
                            title : 'id',
                            visible: false
                        },
                        {
                            field : 'num',
                            title : '对公编号',
                            sortable: true
                        },
                        {
                            field : 'name',
                            title : '项目名称',
                            sortable: true
                        },
                        {
                            field : 'reson',
                            title : '付款事由',
                            sortable: true
                        },
                        {
                            field : 'money',
                            title : '付款金额',
                            sortable: true
                        },
                        {
                            field : 'detail',
                            title : '详情',
                            sortable: true
                        }

                    ]
                };

                $.table.init(options);
            });




    $("#form-facPayPublicApply-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });
    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                alert(result.msg);
                $.modal.closeTab();
            }
        };
        $.ajax(config)
    }

    function submitHandler(index) {
        if ($.validate.form()) {
            //index为1表示同意
            if (index == 1) {
                mSave(prefixs + "/edit", $('#form-facUserApproval-edit').serialize());
            } else {
                mSave(prefixs + "/editnot", $('#form-facUserApproval-edit').serialize());
            }
            $.modal.close();
        }
    }
</script>
</body>
</html>
