<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增对公申请')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-facPayPublicApply-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">对公编号：</label>
            <div class="col-sm-8">
                <input id="num" name="num" class="form-control" type="text" th:value="${num}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">申请名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" class="form-control" type="text"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否有发票：</label>
            <div class="col-sm-8">
                <input id="weatherInvoice" name="weatherInvoice" class="form-control" type="text"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">付款金额：</label>
            <div class="col-sm-8">
                <input id="amount" name="amount" class="form-control" type="text"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款人：</label>
            <div class="col-sm-8">
                <input id="payee" name="payee" class="form-control" type="text"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款人开户行：</label>
            <div class="col-sm-8">
                <input id="payeeBank" name="payeeBank" class="form-control" type="text"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款人账号：</label>
            <div class="col-sm-8">
                <input id="payeeAccount" name="payeeAccount" class="form-control" type="text"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input id="remarks" name="remarks" class="form-control" type="text"  required>
            </div>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <a id="addzhusu" class="btn btn-success" onclick="zAdd()">
                <i class="fa fa-plus"></i> 对公明细
            </a>
            <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
        </div>


    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/facPayPublicApply"
    var num = $("#num").val();
    $("#form-facPayPublicApply-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });


    function zAdd() {
        $.modal.open("对公明细", "/system/facPayPublicApply/offset?num=" + num);
    }

    $(function () {
        var options = {
            id: "bootstrap-table-1",
            url: prefix + "/dgtail",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modalName: "对公明细添加",
            columns: [
                {
                    checkbox: true
                },
                {
                    field : 'id',
                    title : 'id',
                    visible: false
                },
                {
                    field : 'num',
                    title : '对公编号',
                    sortable: true
                },
                {
                    field : 'name',
                    title : '项目名称',
                    sortable: true
                },
                {
                    field : 'reson',
                    title : '付款事由',
                    sortable: true
                },
                {
                    field : 'money',
                    title : '付款金额',
                    sortable: true
                },
                {
                    field : 'detail',
                    title : '详情',
                    sortable: true
                }
            ]
        };

        $.table.init(options);
    });


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-facPayPublicApply-add').serialize());
        }
    }
</script>
</body>
</html>
