<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style>
    .select-list li .time-input {
        display: inline;
    }

    .select-list ul li div {
        float: none;
        display: inline;
    }
</style>
<head>
    <th:block th:include="include :: header('财务审批列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="col-sm-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 未审批</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">已审批</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="formId1">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    申请编号：<input type="text" name="applyId"/>
                                                </li>
                                                <li>
                                                    申请人 ：
                                                    <div class="col-sm-9">
                                                        <input id="applicantId" type="text" name="applicantId"/>
                                                        <div class="input-group-btn" style="float: right">
                                                            <button type="button" class="btn btn-white dropdown-toggle"
                                                                    data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    审批项目名称：<input type="text" name="projectName"/>
                                                </li>

                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="mySearch(1)"><i
                                                            class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm"
                                                       onclick="$.form.reset('formId1')"><i
                                                            class="fa fa-refresh"></i>&nbsp;重置</a>
                                                    <a class="btn btn-danger btn-rounded btn-sm"
                                                       onclick="toSubmitAll()">
                                                        <i class="fa fa-check"></i>批量审批
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="formId2">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    申请编号：<input type="text" name="applyId"/>
                                                </li>
                                                <li>
                                                    申请人 ：
                                                    <div class="col-sm-9">
                                                        <input id="applicantIds" type="text" name="applicantId"/>
                                                        <div class="input-group-btn" style="float: right">
                                                            <button type="button" class="btn btn-white dropdown-toggle"
                                                                    data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    审批项目名称：<input type="text" name="projectName"/>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="mySearch(2)"><i
                                                            class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm"
                                                       onclick="$.form.reset('formId2')"><i
                                                            class="fa fa-refresh"></i>&nbsp;重置</a>

                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/facUserApproval";
    var approvalState = [[${@dict.getType('fac_approval_state')}]];
    $(function () {
        var options = {
            id: "bootstrap-table-1",
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "财务审批",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'approvalId',
                    title: '审批记录ID'
                },
                {
                    field: 'applyId',
                    title: '申请编号'
                },
                {
                    field: 'projectName',
                    title: '审批项目名称'
                },
                {
                    field: 'amount',
                    title: '审批总金额'

                },
                {
                    field: 'applicantName',
                    title: '申请人'
                },
                {
                    field: 'approverName',
                    title: '审批人'
                }, {
                    field: 'allName',
                    title: '所有审批人',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'approvalState',
                    title: '审批状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(approvalState, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="zAdd(\'' + row.approvalId + '\')"><i class="fa fa-edit"></i>审 批</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    $(function () {
        var options = {
            id: "bootstrap-table-2",
            url: prefix + "/endfacUserApproval",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "财务审批",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'approvalId',
                    title: '审批记录ID',
                    visible: false
                },
                {
                    field: 'applyId',
                    title: '申请编号'
                },
                {
                    field: 'projectName',
                    title: '审批项目名称'
                },
                {
                    field: 'approvalState',
                    title: '审批',
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "审批成功";
                        } else if (value == 2) {
                            return "驳回";
                        } else {
                            return "---";
                        }
                    }
                },
                {
                    field: 'applicantName',
                    title: '申请人'
                },
                {
                    field: 'approverName',
                    title: '审批人'
                }, {
                    field: 'allName',
                    title: '所有审批人',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'approvalTime',
                    title: '审批操作时间'
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'opi',
                    title: '审批意见'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="eAdd(\'' + row.approvalId + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function eAdd(approvalId) {
        $.modal.openTab("审批", "/system/facUserApproval/detail?approvalId=" + approvalId);
    }

    function zAdd(id) {
        $.modal.openFull("审批", "/system/facUserApproval/edit/" + id);

    }

    function sAdd(id) {
        $.modal.open("审批", "/system/facUserApproval/editSa/" + id);
    }

    function mySearch(id) {
        if (id == '1') {
            $.table._option.id = 'bootstrap-table-1';
            $.table._option.url = prefix + "/list";
        } else if (id == '2') {
            $.table._option.id = 'bootstrap-table-2';
            $.table._option.url = prefix + "/endfacUserApproval";
        }
        $.table.search('formId' + id);
    }

    function shenpi() {
        $.modal.openFull("批量审批", "/system/facUserApproval/piliang/");

    }


    function toSubmitAll() {

        debugger;
        $.table._option.id = 'bootstrap-table-1';
        var ids = $.table.selectColumns('approvalId');

        if (ids.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要提交选中的" + ids.length + "条数据吗?", function () {
            // var url = $.table._option.toAllSubmitUrl;
            // var data = { "ids": ids.join() };
            // $.operate.submit(url, "post", "json", data);
            $.modal.open('审批', prefix + "/approvalModer?ids=" + ids, '500', '320');
        });

        // $.modal.open('审批', prefix + "/approvalModer?ids="+id+"&remark="+remark, '500', '320');

    }


    var testBsSuggest = $("#applicantId").bsSuggest({
        url: ctx + "system/user/userModel",
        showBtn: false,
        idField: "userName",
        keyField: "userId",
        effectiveFields: ["deptName", "userName"],
        multiWord: true,
        hideOnSelect: true
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });
    var testBsSuggest = $("#applicantIds").bsSuggest({
        url: ctx + "system/user/userModel",
        showBtn: false,
        idField: "userName",
        keyField: "userId",
        effectiveFields: ["deptName", "userName"],
        multiWord: true,
        hideOnSelect: true
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });
</script>
</body>
</html>