<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input id="num" name="num" class="form-control-static" type="hidden" th:value="${num}"/>
        <input id="msg" name="msg" class="form-control-static" type="hidden" th:value="${msg}"/>
        <div>
            <h4 class="form-header h4">团建信息</h4>


            <div class="col-sm-12 select-table table-striped">

                <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
            </div>
        </div>

        <form class="form-horizontal m" id="form-facUserApproval-edit" th:object="${facUserApproval}">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" id="div-reiadd">
                        <label class="col-sm-4 control-label"></span>审批意见：</label>
                        <div class="col-sm-8">
                            <input id="opi" name="opi" class="form-control" type="text"  th:value="${opi}">
                            <input id="applyId" name="applyId" class="form-control-static" type="hidden" th:value="${num}">
                            <input id="approverId" name="approverId" class="form-control-static" type="hidden"
                                   th:value="${userId}">
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
        var prefix = ctx + "system/facCollectApply"
        var num = $("#num").val();
        var msg = $("#msg").val();
        var userId = $("#userId").val();
        var dept = $("#dept").val();
        var prefixs = ctx + "system/facUserApproval";

        $(function () {
            var options = {
                id: "bootstrap-table-1",
                url: prefix + "/listId?num=" +num ,
                modalName: "团建申请",
                showExport: true,
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: '',
                        visible: false
                    },
                    {
                        field: 'num',
                        title: '团建费编号',
                        sortable: true
                    },
                    {
                        field: 'deptCompany',
                        title: '所属公司',
                        sortable: true
                    },
                    {
                        field: 'deptName',
                        title: '所属部门',
                        sortable: true
                    },
                    {
                        field: 'applicant',
                        title: '申请人',
                        sortable: true
                    },
                    {
                        field: 'amount',
                        title: '申请金额',
                        sortable: true
                    },
                    {
                        field: 'applicationTime',
                        title: '申请时间',
                        sortable: true,
                        formatter: function (value, row, index) {
                            var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                            return newDate;
                        }
                    },
                    {
                        field: 'startDate',
                        title: '开始日期',
                        sortable: true
                    },
                    {
                        field: 'endDate',
                        title: '结束日期',
                        sortable: true
                    },
                    {
                        field: 'parNumber',
                        title: '参与人数',
                        sortable: true
                    },
                    {
                        field: 'activityPlace',
                        title: '活动地点',
                        sortable: true
                    }]
            };
            $.table.init(options);
        });


        $("#form-facCollectApply-add").validate({
            rules: {
                xxxx: {
                    required: true,
                },
            },
            focusCleanup: true
        });


        function mSave(url, data, callback) {
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function (result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                    alert(result.msg);
                    $.modal.closeTab();
                }
            };
            $.ajax(config)
        }

        function submitHandler(index) {
            if ($.validate.form()) {
                //index为1表示同意
                if (index == 1) {
                    mSave(prefixs + "/edit", $('#form-facUserApproval-edit').serialize());
                } else {
                    mSave(prefixs + "/editnot", $('#form-facUserApproval-edit').serialize());
                }
                $.modal.close();
            }
        }
    </script>
</body>
</html>
