<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="user-form">
                <input type="hidden" id="deptId" name="deptId">
                <input type="hidden" id="parentId" name="parentId">
                <div class="select-list">
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">

    var prefix = ctx + "system/facUserApproval";

    $(function () {
            var options = {
                url: prefix + "/user",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'deptNAme',
                        title: '部门名称'
                    },
                    {
                        field: 'bxJBamount',
                        title: '加班交通费'

                    },
                    {
                        field: 'bxGCamount',
                        title: '公出交通费'
                    },
                    {
                        field: 'bxQTamount',
                        title: '其他报销费'
                    },
                    {
                        field: 'zdAmount',
                        title: '招待费'
                    },
                    {
                        field: 'dgAmount',
                        title: '对公支付费'
                    },
                    {
                        field: 'tjAmount',
                        title: '团建费'
                    },
                    {
                        field: 'clAmount',
                        title: '差旅费'
                    }]
            };
            $.table.init(options);
    });



</script>
</body>
</html>