<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('借款还款列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            借款编号：<input type="text" name="num"/>
                        </li>
                       

                        <li>
                            还款方式：<input type="text" name="repayMethod"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:facLoanRepayApply:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:facLoanRepayApply:remove')}]];
    var prefix = ctx + "system/facLoanRepayApply";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "借款还款",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'num',
                    title: '借款编号',
                    sortable: true
                },
                {
                    field: 'payerName',
                    title: '还款人',
                    sortable: true
                },
                {
                    field: 'repayTime',
                    title: '还款时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'repayMethod',
                    title: '还款方式',
                    sortable: true
                },
                {
                    field: 'repayAmount',
                    title: '还款金额（元）',
                    sortable: true
                },
                {
                    field: 'arrears',
                    title: '实际欠款金额（元）',
                    sortable: true
                },
                {
                    field: 'method',
                    title: '财务确认还款金额',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '核实后欠款金额',
                    sortable: true
                },
                {
                    field: 'states',
                    title: '还款状态',
                    sortable: true
                },
                {
                    field: 'remarks',
                    title: '备注',
                    sortable: true
                },
                {
                    field: 'voucher',
                    title: '备注',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                         if (row.voucher == '1') {
                          }else {
                             actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>核实</a> ');

                         }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>