<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增外出报备')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-oaOut-add">			
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="starttime" name="starttime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off">
                    </div><span id="p01"></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>结束时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="endtime" name="endtime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off">
                    </div><span id="p02"></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>理由：</label>
				<div class="col-sm-8">
					<textarea id="reason" name="reason" class="form-control" maxlength="500" rows="3"></textarea>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/oaOut"
		$("#form-oaOut-add").validate({
			rules:{
				starttime:{
					required:true,
				},
				endtime:{
					required:true,
				},
				reason:{
					required:true,
				},
			},
			focusCleanup: true
		});
		$(function(){
			layui.use('laydate', function(){
				var laydate = layui.laydate;
			
				laydate.render({ 
       		    	elem: '#starttime',
       		 		format: 'yyyy-MM-dd HH:mm',
       		   	    type: 'datetime',
       		    	trigger: 'click'
       		 	 });
				laydate.render({ 
       		    	elem: '#endtime',
       		 		format: 'yyyy-MM-dd HH:mm',
       		   	    type: 'datetime',
       		    	trigger: 'click'
       		 	 });
			});
		 });
		function submitHandler() {
			debugger;
	        if ($.validate.form()) {
	        	var starttime = $("#starttime").val();
				var endtime = $("#endtime").val();
				
				var flag = false;//提交flag 
				var repeatFlag = false;
				
				if(endtime < starttime){
					p02.innerText="结束日期不能小于或等于开始日期";
					$("#p02").css("color","red");
					flag = false;
					return;
				}
				
				//验证所请假期 是否与已有申请时段重复 
				$.ajax({
					type:"post",
					async:false,
					url:prefix + "/ifRepeat",
					data:{"starttime":starttime,"endtime":endtime},
					dataType:"json",
					success:function(result){
						 if(result == "0"){
							 repeatFlag = true;
							 flag = true;
						}
						else{
							repeatFlag = false;
							$.modal.alertWarning("申请中部分时段已经申请过，不能再次申请!");
							return;
						}
					},
					error:function(){
						$.modal.alertWarning("请联系管理员");
					}
				}); 
				if(flag && repeatFlag){
					save(prefix + "/add", $('#form-oaOut-add').serialize());
				}
				function save(url, data) {
		        	var config = {
		    	        url: url,
		    	        type: "post",
		    	        dataType: "json",
		    	        data: data,
		    	        beforeSend: function () {
		    	        	$.modal.loading("正在处理中，请稍后...");
		    	        	$.modal.disable();
		    	        },
		    	        success: function(result) {
		    	        	$.operate.successCallback(result);
		    	        	
		    	        }
		    	    };
		    	    $.ajax(config)
		        };
	           /*  $.operate.save(prefix + "/add", $('#form-oaOut-add').serialize()); */
	        }
	    }
	</script>
</body>
</html>
