<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('外出报备-我的申请')" />
	<script type="text/javascript">
	function add(){
		$.modal.open("外出报备申请", prefix+"/add");
	}
	function toView(outId){
		var url = $.table._option.toViewUrl.replace("{outId}",outId);
		$.modal.open("查看申请", url);
	}
	function takeBack(outId){
		if(confirm("确认撤回吗？")){
			$.ajax({
				type:"post",
				url:prefix+"/ifTakeback",
				data:{"outId":outId},
				dataType:"json",
				success:function(result){
					if(result == "0"){
						var data = { "outId": outId };
			     	    $.operate.submit(prefix+"/takeBack", "post", "json", data);
					}
					else{
						$.modal.alertWarning("不能执行此操作");
					}
				},
				error:function(){
					$.modal.alertWarning("请联系管理员");
				}
			});
		}
	}
	function del(outId){
		if(confirm("确认删除吗？")){
			$.ajax({
				type:"post",
				url:prefix+"/ifTakeback",
				data:{"outId":outId},
				dataType:"json",
				success:function(result){
					if(result == "0"){
						var data = { "ids": outId };
			     	    $.operate.submit(prefix+"/remove", "post", "json", data);
					}
					else{
						$.modal.alertWarning("不能执行此操作");
					}
				},
				error:function(){
					$.modal.alertWarning("请联系管理员");
				}
			});
		}
	}
	
	function edit(outId){
		$.ajax({
			type:"post",
			async:false,
			url:prefix+"/ifTakeback",
			data:{"outId":outId},
			dataType:"json",
			success:function(result){
				if(result == "0"){
					var url = $.table._option.updateUrl.replace("{outId}",outId);
					$.modal.open("修改申请", url);
				}else if(result == "1"){
					$.modal.alertWarning("不能执行此操作");
				}
			},
			error:function(){
				$.modal.alertWarning("请联系管理员");
			}
		});
		
	}
	</script>
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li class="select-time">
								<label>报备时间：</label>
								<input type="text" class="time-input" id="starttime"  placeholder="yyyy-MM-dd" name="params[starttime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endtime"  placeholder="yyyy-MM-dd" name="params[endtime]"/>
							</li>
							<li>
								申请状态：<select id="state" name="state" th:with="type=${@dict.getType('sys_user_apply_state')}">
	                    			<option value="">---------------请选择---------------</option>
	                    			<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                			</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="add()">
					<i class="fa fa-plus"></i> 外出报备申请
				</a>
				<!-- <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:oaOut:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:oaOut:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:oaOut:export">
						<i class="fa fa-download"></i> 导出
				 </a> -->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:oaOut:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:oaOut:remove')}]];
        var prefix = ctx + "system/oaOut";

        $(function() {
            var options = {
                url: prefix + "/myOutApprovalList",
                toViewUrl: prefix + "/toView/{outId}",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{outId}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "外出报备",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'outId', 
					title : '唯一标识',
					visible: false
				},
				{
					field : 'userName', 
					title : '申请人',
					sortable: false
				},
				{
					field : 'reason', 
					title : '理由',
					visible: false
				},
				{
					field : 'starttime', 
					title : '开始时间',
					sortable: false
				},
				{
					field : 'endtime', 
					title : '结束时间',
					sortable: false
				},
				{
					field : 'state', 
					title : '申请状态',
					sortable: false
				},
				{
					field : 'createDate', 
					title : '申请时间',
					sortable: false
				},
				{
					field : 'approvalName', 
					title : '当前审批人',
					sortable: false
				},
				{
					field : 'approvalState', 
					title : '审批状态',
					sortable: false
				},
				{
					field : 'approvalDate', 
					title : '审批时间',
					visible: false
				},
				{
					field : 'remark', 
					title : '审批意见',
					visible: false
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + '" href="#" onclick="toView(\'' + row.outId + '\')" id="check"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + '" href="#" onclick="takeBack(\'' + row.outId + '\')"><i class="fa fa-refresh"></i>撤回</a>');
 		            	actions.push('<a class="btn btn-info btn-xs ' + '" href="#" onclick="del(\'' + row.outId + '\')"><i class="fa fa-user"></i>删除</a>'); 
                        actions.push('<a class="btn btn-warning btn-xs" href="#" onclick="edit(\'' + row.outId + '\')"><i class="fa fa-edit"></i>修改</a> ');
 		            	return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>