<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增借款申请')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-facLoanApply-add">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>借款名称：</label>
            <div class="col-sm-8">
                <input id="loanName" name="loanName" class="form-control" type="text" required>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">公司名称：</label>
                <div class="col-sm-8">
                    <select id="unit" name="unit">
                        <option th:selected="${unit=='新普互联（北京）科技有限公司'}" value="新普互联（北京）科技有限公司">新普互联（北京）科技有限公司</option>
                        <option th:selected="${unit=='普菲特（海南）科技有限公司'}" value="普菲特（海南）科技有限公司">普菲特（海南）科技有限公司</option>
                        <option th:selected="${unit=='新疆普菲特网络科技有限公司'}" value="新疆普菲特网络科技有限公司">新疆普菲特网络科技有限公司</option>
                        <option th:selected="${unit=='上海优寰网络科技有限公司'}" value="上海优寰网络科技有限公司">上海优寰网络科技有限公司</option>
                        <option th:selected="${unit=='云为智合网络技术（深圳）有限公司'}" value="云为智合网络技术（深圳）有限公司">云为智合网络技术（深圳）有限公司</option>
                        <option th:selected="${unit=='喀什百思互联文化传媒有限公司'}" value="喀什百思互联文化传媒有限公司">喀什百思互联文化传媒有限公司</option>
                        <option th:selected="${unit=='深圳百思互联科技有限公司'}" value="深圳百思互联科技有限公司">深圳百思互联科技有限公司</option>
                    </select>
                </div>
            </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>借款金额：</label>
            <div class="col-sm-8">
                <input id="amount" name="amount" class="form-control" type="text" onkeyup="chkPrice(this);" onblur="chkLast(this)" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>借款时间：</label>
            <div class="col-sm-8">
                <input id="loanTime" name="loanTime" class="time-input form-control" required  readonly style="background-color: white">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>预计还款时间：</label>
            <div class="col-sm-8">
                <input id="repayTime" name="repayTime" class="time-input form-control" required readonly style="background-color: white">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>借款事由：</label>
            <div class="col-sm-8">
                <input id="reason" name="reason" placeholder="详细填写借款原因" class="form-control" type="text" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/facLoanApply"
    $("#form-facLoanApply-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });
    function submitHandler() {
        var res = false;
        if ($.validate.form()) {
            var config = {
                url: prefix + "/add",
                type: "post",
                dataType: "json",
                data: $('#form-facLoanApply-add').serialize(),
                async: false,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if(result.code==0){
                        res = true;
                    }
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config);
        }
        return res;
    }
    function sub() {
        var res = false;
        if ($.validate.form()) {
            var config = {
                url: prefix + "/addSove",
                type: "post",
                dataType: "json",
                data: $('#form-facLoanApply-add').serialize(),
                async: false,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if(result.code==0){
                        res = true;
                    }
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config);
        }
        return res;
    }


    function chkPrice(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");
//必须保证第一位为数字而不是.
        obj.value = obj.value.replace(/^\./g,"");
//保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g,".");
//保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
    }
    function chkLast(obj){
// 如果出现非法字符就截取掉
        if(obj.value.substr((obj.value.length - 1), 1) == '.')
            obj.value = obj.value.substr(0,(obj.value.length - 1));
    }




</script>
</body>
</html>
