<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改借款申请')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-facLoanApply-edit" th:object="${facLoanApply}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">借款编号：</label>
				<div class="col-sm-8">
					<input id="num" name="num" th:field="*{num}" class="form-control" type="text" readonly>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">借款名称：</label>
				<div class="col-sm-8">
					<input id="loanName" name="loanName" th:field="*{loanName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公司名称：</label>
				<div class="col-sm-8">
					<select id="unit" name="unit" th:field="*{unit}">
						<option value="新普互联（北京）科技有限公司">新普互联（北京）科技有限公司</option>
						<option value="普菲特（海南）科技有限公司">普菲特（海南）科技有限公司</option>
						<option value="新疆普菲特网络科技有限公司">新疆普菲特网络科技有限公司</option>
						<option value="上海优寰网络科技有限公司">上海优寰网络科技有限公司</option>
						<option value="云为智合网络技术（深圳）有限公司">云为智合网络技术（深圳）有限公司</option>
						<option value="喀什百思互联文化传媒有限公司">喀什百思互联文化传媒有限公司</option>
						<option value="深圳百思互联科技有限公司">深圳百思互联科技有限公司</option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">借款金额：</label>
				<div class="col-sm-8">
					<input id="amount" name="amount" th:field="*{amount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">借款时间：</label>
				<div class="col-sm-8">
					<input id="loanTime" name="loanTime"  th:value="${#dates.format(facLoanApply.loanTime,'yyyy-MM-dd')}" class="time-input form-control"  readonly style="background-color: white">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预计还款时间：</label>
				<div class="col-sm-8">
					<input id="repayTime" name="repayTime" th:value="${#dates.format(facLoanApply.repayTime,'yyyy-MM-dd')}" class="time-input form-control" readonly style="background-color: white">
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">借款事由：</label>
				<div class="col-sm-8">
					<input id="reason" name="reason" th:field="*{reason}" class="form-control" type="text">
				</div>
			</div>

		</form>
    </div>
    <div th:include="include::footer"></div>
	<th:block th:include="include :: bootstrap-suggest-js" />
	<th:block th:include="include :: bootstrap-select-js" />
    <script type="text/javascript">
		var prefix = ctx + "system/facLoanApply";
		$("#form-facLoanApply-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});

		function submitHandler() {
			var res = false;
			if ($.validate.form()) {
				var config = {
					url: prefix + "/add",
					type: "post",
					dataType: "json",
					data: $('#form-facLoanApply-edit').serialize(),
					async: false,
					beforeSend: function () {
						$.modal.loading("正在处理中，请稍后...");
						$.modal.disable();
					},
					success: function(result) {
						if(result.code==0){
							res = true;
						}
						$.operate.successCallback(result);
					}
				};
				$.ajax(config);
			}
			return res;
		}
		function sub() {
			var res = false;
			if ($.validate.form()) {
				var config = {
					url: prefix + "/addSove",
					type: "post",
					dataType: "json",
					data: $('#form-facLoanApply-edit').serialize(),
					async: false,
					beforeSend: function () {
						$.modal.loading("正在处理中，请稍后...");
						$.modal.disable();
					},
					success: function(result) {
						if(result.code==0){
							res = true;
						}
						$.operate.successCallback(result);
					}
				};
				$.ajax(config);
			}
			return res;
		}

		// function submitHandler() {
	    //     if ($.validate.form()) {
	    //         $.operate.save(prefix + "/edit", $('#form-facLoanApply-edit').serialize());
	    //     }
	    // }
	</script>
</body>
</html>
