<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改当当前端消费汇总')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dangdangSummary-edit" th:object="${dangdangSummary}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户：</label>
				<div class="col-sm-8">
					<input id="account" name="account" th:field="*{account}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<input id="ddDate" name="ddDate" th:field="*{ddDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广计划：</label>
				<div class="col-sm-8">
					<input id="plan" name="plan" th:field="*{plan}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广单元：</label>
				<div class="col-sm-8">
					<input id="unit" name="unit" th:field="*{unit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关键词：</label>
				<div class="col-sm-8">
					<input id="keyword" name="keyword" th:field="*{keyword}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">展现：</label>
				<div class="col-sm-8">
					<input id="showdata" name="showdata" th:field="*{showdata}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">点击：</label>
				<div class="col-sm-8">
					<input id="click" name="click" th:field="*{click}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费：</label>
				<div class="col-sm-8">
					<input id="cost" name="cost" th:field="*{cost}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">点击率：</label>
				<div class="col-sm-8">
					<input id="clickRate" name="clickRate" th:field="*{clickRate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平均点击价：</label>
				<div class="col-sm-8">
					<input id="averageClickPrice" name="averageClickPrice" th:field="*{averageClickPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">首页平均排名：</label>
				<div class="col-sm-8">
					<input id="homepageAverageRanking" name="homepageAverageRanking" th:field="*{homepageAverageRanking}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出价：</label>
				<div class="col-sm-8">
					<input id="bid" name="bid" th:field="*{bid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">匹配模式：</label>
				<div class="col-sm-8">
					<input id="partSpeech" name="partSpeech" th:field="*{partSpeech}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">app点击：</label>
				<div class="col-sm-8">
					<input id="appClick" name="appClick" th:field="*{appClick}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">app展现：</label>
				<div class="col-sm-8">
					<input id="appShowdata" name="appShowdata" th:field="*{appShowdata}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">app消费：</label>
				<div class="col-sm-8">
					<input id="appCost" name="appCost" th:field="*{appCost}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">小程序点击：</label>
				<div class="col-sm-8">
					<input id="letsClick" name="letsClick" th:field="*{letsClick}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">小程序展现：</label>
				<div class="col-sm-8">
					<input id="letsShowdata" name="letsShowdata" th:field="*{letsShowdata}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">小程序消费：</label>
				<div class="col-sm-8">
					<input id="letsCost" name="letsCost" th:field="*{letsCost}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/dangdangSummary";
		$("#form-dangdangSummary-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-dangdangSummary-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
