<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.finance.FacUserApprovalMapper">


    <resultMap type="FacUserApproval" id="FacUserApprovalResult">
        <result property="approvalId" column="approval_id"/>
        <result property="applyId" column="apply_id"/>
        <result property="approvalState" column="approval_state"/>
        <result property="approverId" column="approver_id"/>
        <result property="approvalTime" column="approval_time"/>
        <result property="approvalSight" column="approval_sight"/>
        <result property="approvalLevel" column="approval_level"/>
        <result property="opi" column="opi"/>
        <result property="createTime" column="create_time"/>
        <result property="applicantId" column="applicant_id"/>
        <result property="amount" column="amount"/>
        <result property="projectName" column="projectName"/>
        <result property="isnotice" column="isnotice"/>
    </resultMap>

    <sql id="selectFacUserApprovalVo">
		select approval_id, apply_id, approval_state, approver_id,
		approval_time,
		approval_sight, approval_level, opi, create_time,
		applicant_id,
		amount, projectName, isnotice from fac_sys_user_approval
	</sql>

    <select id="selectFacUserApprovalList" parameterType="FacUserApproval"
            resultMap="FacUserApprovalResult">
        <include refid="selectFacUserApprovalVo"/>
        <where>
            <if test="approvalId != null ">and approval_id = #{approvalId}</if>
            <if test="applyId != null  and applyId != '' ">and apply_id = #{applyId}</if>
            <if test="approvalState != null  and approvalState != '' ">and approval_state = #{approvalState}</if>
            <if test="approverId != null ">and approver_id = #{approverId}</if>
            <if test="approvalTime != null ">and approval_time = #{approvalTime}</if>
            <if test="approvalSight != null  and approvalSight != '' ">and approval_sight = #{approvalSight}</if>
            <if test="approvalLevel != null ">and approval_level = #{approvalLevel}</if>
            <if test="opi != null  and opi != '' ">and opi = #{opi}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="applicantId != null ">and applicant_id = #{applicantId}</if>
            <if test="amount != null ">and amount = #{amount}</if>
            <if test="projectName != null  and projectName != '' ">and projectName = #{projectName}</if>
            <if test="isnotice != null  and isnotice != '' ">and isnotice = #{isnotice}</if>
        </where>
        order by approval_id desc
    </select>


    <select id="selectBoHui" resultMap="FacUserApprovalResult">
        select approval_id, apply_id, approval_state, approver_id,
		approval_time,
		approval_sight, approval_level, opi, create_time,
		applicant_id,
		amount, projectName from fac_sys_user_approval where  approval_state ='2'
    </select>

    <select id="selectChenggong" resultMap="FacUserApprovalResult">
       select *
       from fac_sys_user_approval
       where (apply_id, approval_level)
       in (select apply_id, max(approval_level)
       from fac_sys_user_approval
       where approval_state = '1'
       and approval_sight = '1'
      group by apply_id);
    </select>


    <select id="selectEndFacUserApprovalList" parameterType="FacUserApproval"
            resultMap="FacUserApprovalResult">
		select * from fac_sys_user_approval where approver_id=
		#{approverId} and
		approval_state='3' and apply_id = #{applyId} order by
		create_time desc
	</select>

    <select id="selectApprovaIdlList" parameterType="FacUserApproval"
            resultMap="FacUserApprovalResult">
	select * from fac_sys_user_approval where approval_level = (select max(approval_level) from fac_sys_user_approval where applicant_id=#{applicantId} AND apply_id= #{applyId} ) AND applicant_id=#{applicantId} AND apply_id= #{applyId}
	 </select>


    <select id="selectApplicantIdList" parameterType="FacUserApproval"
            resultMap="FacUserApprovalResult">
        <include refid="selectFacUserApprovalVo"/>
        <where>
            <if test="applyId != null  and applyId != '' ">and apply_id = #{applyId}</if>
            <if test="applicantId != null ">and applicant_id = #{applicantId}</if>
            <if test="projectName != null  and projectName != '' ">and projectName = #{projectName}</if>
            <if test="approverId != null ">and approver_id = #{approverId}</if>
        </where>
        and approval_state in (1,2)
        order by create_time desc
    </select>

    <select id="selectApproverIdList" parameterType="FacUserApproval"
            resultMap="FacUserApprovalResult">
		SELECT * FROM fac_sys_user_approval WHERE approver_id =
		#{approverId}
	</select>

    <select id="selectFacUserApprovalById" parameterType="Long"
            resultMap="FacUserApprovalResult">
        <include refid="selectFacUserApprovalVo"/>
        where approval_id = #{approvalId}
    </select>


    <!-- 子查询显示当前申请的所有审批人及审批状态 -->
    <select id="getAllAppNames" parameterType="String" resultType="String">
		SELECT
  REPLACE (
    GROUP_CONCAT(
      u.user_name,
      "(",
      (
        CASE
          WHEN app.approval_state = 1
          THEN '同意'
          WHEN app.approval_state = 2
          THEN '驳回'
          WHEN app.approval_state = 3
          THEN '未操作'
          ELSE ''
        END
      ),
      ")"
    ),
    ',',
    '--'
  ) allAppNames
FROM
  fac_sys_user_approval app
  LEFT JOIN sys_user u
    ON u.`user_id` = app.`approver_id`
WHERE app.apply_id =  #{apply_id}
ORDER BY app.approval_level
    </select>


    <insert id="insertFacUserApproval" parameterType="FacUserApproval"
            useGeneratedKeys="true" keyProperty="approvalId">
        insert into fac_sys_user_approval
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null  and applyId != ''  ">apply_id,</if>
            <if test="approvalState != null  and approvalState != ''  ">approval_state,</if>
            <if test="approverId != null  ">approver_id,</if>
            <if test="approvalTime != null  ">approval_time,</if>
            <if test="approvalSight != null  and approvalSight != ''  ">approval_sight,</if>
            <if test="approvalLevel != null  ">approval_level,</if>
            <if test="opi != null  and opi != ''  ">opi,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="applicantId != null  ">applicant_id,</if>
            <if test="amount != null  ">amount,</if>
            <if test="projectName != null  and projectName != ''  ">projectName,</if>
            <if test="isnotice != null  and isnotice != ''  ">isnotice,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null  and applyId != ''  ">#{applyId},</if>
            <if test="approvalState != null  and approvalState != ''  ">#{approvalState},</if>
            <if test="approverId != null  ">#{approverId},</if>
            <if test="approvalTime != null  ">#{approvalTime},</if>
            <if test="approvalSight != null  and approvalSight != ''  ">#{approvalSight},</if>
            <if test="approvalLevel != null  ">#{approvalLevel},</if>
            <if test="opi != null  and opi != ''  ">#{opi},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="applicantId != null  ">#{applicantId},</if>
            <if test="amount != null  ">#{amount},</if>
            <if test="projectName != null  and projectName != ''  ">#{projectName},</if>
            <if test="isnotice != null  and isnotice != ''  ">#{isnotice},</if>
        </trim>
    </insert>

    <update id="updateFacUserApproval" parameterType="FacUserApproval">
        update fac_sys_user_approval
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyId != null  and applyId != ''  ">apply_id = #{applyId},</if>
            <if test="approvalState != null  and approvalState != ''  ">approval_state = #{approvalState},</if>
            <if test="approverId != null  ">approver_id = #{approverId},</if>
            <if test="approvalTime != null  ">approval_time = #{approvalTime},</if>
            <if test="approvalSight != null  and approvalSight != ''  ">approval_sight = #{approvalSight},</if>
            <if test="approvalLevel != null  ">approval_level = #{approvalLevel},</if>
            <if test="opi != null  and opi != ''  ">opi = #{opi},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="applicantId != null  ">applicant_id = #{applicantId},</if>
            <if test="amount != null  ">amount = #{amount},</if>
            <if test="projectName != null  and projectName != ''  ">projectName = #{projectName},</if>
            <if test="isnotice != null  and isnotice != ''  ">isnotice = #{isnotice},</if>
        </trim>
        where approval_id = #{approvalId} and approval_level =
        #{approvalLevel}
    </update>

    <delete id="deleteFacUserApprovalById" parameterType="Long">
		delete from
		fac_sys_user_approval where approval_id = #{approvalId}
	</delete>

    <delete id="deleteFacUserApprovalByIds" parameterType="String">
        delete from fac_sys_user_approval where approval_id in
        <foreach item="approvalId" collection="array" open="("
                 separator="," close=")">
            #{approvalId}
        </foreach>
    </delete>

</mapper>