<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
    <style>
        .table-striped table thead{
            background-color:#fff;
        }
        .select-table{
            box-shadow:none;
            padding:0;
            margin-bottom:25px;
        }
        .fixed-table-container thead th .th-inner{
            font-size: 13px;
            color: #676a6c;
            font-weight: bold;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input id="num" name="num" class="form-control-static" type="hidden" th:value="${num}"/>
        <input id="msg" name="msg" class="form-control-static" type="hidden" th:value="${msg}"/>


        <div>
            <h4 class="form-header h4">差旅详细信息</h4>

            <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
            <div class="col-sm-12 select-table table-striped">

                <h4 class="form-header h4">行程安排详细信息</h4>
                <table id="bootstrap-table-3" data-mobile-responsive="true"></table>
            </div>
            <div></div>
            <div>
                <h4 class="form-header h4">住宿安排详细信息</h4>
                <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
            </div>

        </div>
        <div>
            <button type="button" class="btn btn-w-m btn-primary" onclick="print(2)">打印</button>
        </div>
        <div th:include="include :: footer"></div>
        <script th:inline="javascript">
            var prefix = ctx + "system/facCostApply";
            var num = $("#num").val();
            var msg = $("#msg").val();

            function print(id) {
                // $.modal.openTab("编辑" + $.table._option.modalName, prefix + "/detail?id=" + id);
                var width;
                var height;
                if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
                    width = 'auto';
                    height = 'auto';
                }
                var index = layer.open({
                    type: 2,
                    area: [width, height],
                    fix: false,
                    //不固定
                    maxmin: true,
                    shade: 0.3,
                    title: "打印预览",
                    content: "/system/print/preview?type=chuchai&num="+num,
                    // content: "/system/print/view?type=jiekuan&num="+id,
                    btn: ['打印', '关闭'],
                    // 弹层外区域关闭
                    shadeClose: true,
                    yes: function () {
                        var html1 = "";
                        var html2 = "";
                        var config = {
                            url: "/system/print/preview?type=chuchai&num="+num,
                            type: "get",
                            dataType: "html",
                            async: false,
                            data: "",
                            success: function(result) {
                                html1 = html1+result;
                            }
                        };
                        $.ajax(config)

                        printWindow=window.open('','_blank');
                        printWindow.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title></title><style>@page{margin-bottom:0mm;margin-top:2mm}</style></head><body>');

                        //这里是向新建的窗口写入HTML的head信息，可引入自己的js和css，以供打印时样式与网页中显示的一致

                        printWindow.document.write('<div style="page-break-after:always; width:100%; height:100%;">'+html1+'</div>');

                        //这里向新建的窗体中写入BODY的内容，注意，外边加的额外DIV是有必要的，它里面CSS可以控制打印时不会出现空白页

                        printWindow.document.write("</body></html>");//这里向新建的窗体写入HTML的结束标记


                        printWindow.document.close();//关闭新建窗口的文档输出流，否则下面的打印语句无效

                        printWindow.print();//打印当前新建窗口中的内容

                        printWindow.close();//关闭新建的窗口
                    },
                    cancel: function(index) {
                        return true;
                    }
                });
                layer.full(index);
            }

            $(function () {
                var options = {
                    id: "bootstrap-table-1",
                    url: prefix + "/query?num=" + num,
                    showSearch: false,
                    showRefresh: false,
                    showToggle: false,
                    showColumns: false,
                    modalName: "差旅详细信息",
                    columns: [
                        {
                            checkbox: true
                        },
                        {
                            field : 'id',
                            title : 'ID',
                            visible: false
                        },
                        {
                            field : 'num',
                            title : '出差编号'
                        },
                        {
                            field : 'busName',
                            title : '项目名称'
                        },
                        {
                            field : 'outTime',
                            title : '出差时间',
                            formatter: function (value, row, index) {
                                var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                                return  newDate;
                            }
                        },
                        {
                            field : 'backTimeEs',
                            title : '预计返回时间',
                            formatter: function (value, row, index) {
                                var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                                return  newDate;
                            }
                        },
                        {
                            field : 'outMan',
                            title : '出差人员'
                        },
                        {
                            field : 'moneyEs',
                            title : '预计费用'
                        } ,
                        {
                            field: 'reason',
                            title: '事由'
                        }
                    ]
                };
                $.table.init(options);
            });

            $(function () {
                var options = {
                    id: "bootstrap-table-2",
                    url: prefix + "/sleep/" + num,
                    createUrl: prefix + "/tranDetail?id=" + num,
                    showSearch: false,
                    showRefresh: false,
                    showToggle: false,
                    showColumns: false,
                    modalName: "住宿安排详细信息",
                    columns: [
                        {
                            checkbox: true
                        },
                        {
                            field: 'num',
                            title: '差旅编号',
                            sortable: true
                        },
                        {
                            field: 'city',
                            title: '入住城市',
                            sortable: true
                        },
                        {
                            field: 'entrytime',
                            title: '入店时间',
                            sortable: true,
                            formatter: function (value, row, index) {
                                var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                                return  newDate;
                            }
                        },
                        {
                            field: 'shoptime',
                            title: '离店时间',
                            sortable: true,
                            formatter: function (value, row, index) {
                                var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                                return  newDate;
                            }
                        },
                        {
                            field: 'number',
                            title: '入住人数',
                            sortable: true
                        },
                        {
                            field: 'details',
                            title: '入住详情',
                            sortable: true
                        },
                        {
                            field: 'money',
                            title: '住宿金额',
                            sortable: true
                        }
                    ]
                };
                $.table.init(options);
            });


            $(function () {
                var options = {
                    id: "bootstrap-table-3",
                    url: prefix + "/querys/" + num,
                    showSearch: false,
                    showRefresh: false,
                    showToggle: false,
                    showColumns: false,
                    modalName: "行程安排详细信息",
                    columns: [
                        {
                            checkbox: true
                        },
                        {
                            field: 'num',
                            title: '差旅编号'
                        },
                        {
                            field: 'costDate',
                            title: '时间',
                            formatter: function (value, row, index) {
                                var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                                return  newDate;
                            }
                        },
                        {
                            field: 'vehicle',
                            title: '交通工具'
                        },
                        {
                            field: 'departure',
                            title: '出发地'
                        },
                        {
                            field: 'target',
                            title: '目的地'
                        },
                        {
                            field: 'amount',
                            title: '预算金额'
                        },
                        {
                            field: 'reason',
                            title: '事由'
                        }
                    ]
                };
                $.table.init(options);
            });

        </script>
</body>
</html>