<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改差旅住宿')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-facCostPutupApply-edit" th:object="${facCostPutupApply}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">差旅编号：</label>
				<div class="col-sm-8">
					<input id="num" name="num" th:field="*{num}" class="form-control" type="text" readonly>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入住城市：</label>
				<div class="col-sm-8">
					<input id="city" name="city" th:field="*{city}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入店时间：</label>
				<div class="col-sm-8">
					<input id="entrytime" name="entrytime" class="time-input form-control" th:value="${#dates.format(facCostPutupApply.entrytime,'yyyy-MM-dd')}" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">离店时间：</label>
				<div class="col-sm-8">
					<input id="shoptime" name="shoptime" class="time-input form-control" th:value="${#dates.format(facCostPutupApply.shoptime,'yyyy-MM-dd')}" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入住人数：</label>
				<div class="col-sm-8">
					<input id="number" name="number" th:field="*{number}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入住详情：</label>
				<div class="col-sm-8">
					<input id="details" name="details" th:field="*{details}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">住宿金额：</label>
				<div class="col-sm-8">
					<input id="money" name="money" th:field="*{money}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <th:block th:include="include :: bootstrap-suggest-js" />
<th:block th:include="include :: bootstrap-select-js"/>
    <script type="text/javascript">
		var prefix = ctx + "system/facCostApply";
		var prefix1 = ctx + "system/facCostPutupReimburse";
		$("#form-facCostPutupApply-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/editPut", $('#form-facCostPutupApply-edit').serialize());
	        }
	    }

		function baoxiaoSubmit() {
	        if ($.validate.form()) {
				var config = {
					url: prefix1 + "/edit",
					type: "post",
					dataType: "json",
					data: $('#form-facCostPutupApply-edit').serialize(),
					beforeSend: function () {
						$.modal.loading("正在处理中，请稍后...");
						$.modal.disable();
					},
					success: function(result) {
						if (typeof callback == "function") {
							callback(result);
						}
						$.operate.successCallback(result);
					}
				};
				$.ajax(config);
	        }
	    }
	</script>
</body>
</html>
