<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style>
    #unit {
        display: inline-block;
        padding: 0;
    }
</style>
<head>
    <th:block th:include="include :: header('差旅申请列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            出差编号：<input type="text" name="num"/>
                        </li>

                        <li>
                            项目名称：<input type="text" name="busName"/>
                        </li>
                        <li>
                            公司名称：
                            <select id="unit" name="unit" class="form-control">
                                <option value="">-- 请选择 --</option>
                                <option value="新普互联（北京）科技有限公司">新普互联（北京）科技有限公司</option>
                                <option value="普菲特（海南）科技有限公司">普菲特（海南）科技有限公司</option>
                                <option value="新疆普菲特网络科技有限公司">新疆普菲特网络科技有限公司</option>
                                <option value="上海优寰网络科技有限公司">上海优寰网络科技有限公司</option>
                                <option value="云为智合网络技术（深圳）有限公司">云为智合网络技术（深圳）有限公司</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--            <a class="btn btn-success" onclick="$.operate.addTab()">-->
            <a class="btn btn-success" onclick="add()">
                <i class="fa fa-plus"></i> 添加
            </a>

        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:facCostApply:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:facCostApply:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:facCostApply:detail')}]];
    var prefix = ctx + "system/facCostApply";
    var approvalState = [[${@dict.getType('fac_approval_state')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            facCostApplyDetailUrl: "/system/facCostApply/clDetail/{id}",
            onDblClickRow: onDblClickRow,
            modalName: "差旅申请",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'num',
                    title: '出差编号',
                    sortable: true
                },
                {
                    field: 'busName',
                    title: '项目名称',
                    sortable: true
                },
                {
                    field: 'unit',
                    title: '公司名称',
                    sortable: true
                },
                {
                    field: 'outTime',
                    title: '出差时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'backTimeEs',
                    title: '预计返回时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'outMan',
                    title: '出差人员',
                    sortable: true
                },
                {
                    field: 'moneyEs',
                    title: '预计费用',
                    sortable: true
                },
                {
                    field: 'allName',
                    title: '所有审批人',
                    sortable: false,
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'approver',
                    title: '当前审批人',
                    sortable: false
                }, {
                    field: 'approvalStatus',
                    title: '当前审批状态',
                    sortable: false,
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "审批成功";
                        } else if (value == 2) {
                            return "驳回";
                        } else {
                            return "待审批";
                        }
                    }
                },
                {
                    field: 'status',
                    title: '审批状态',
                    visible: false,
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "审批成功";
                        } else if (value == 2) {
                            return "驳回";
                        } else if (value == 3) {
                            return "审批中";
                        } else if (value == 5) {
                            return "待提交";
                        } else {
                            return "待审批";
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];

                        if (row.approvalStatus == 1) {
                            //审批成功
                            actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="print(\'' + row.num + '\')"><i class="fa fa-detail"></i>打印</a>');
                            if (row.status == 4) {
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="baoxiao(\'' + row.id + '\')"> </i>报销</a> ');
                            }
                        } else if (row.approvalStatus == 2) {
                            //驳回
                            actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)" onclick="mEdit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        } else if (row.status == 2) {
                            //审批失败
                        } else if (row.status == 3) {
                            //审批中

                        } else if (row.status == 5) {
                            // actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="submitHandler(\'' + row.id + '\')"> </i>提交</a> ');
                            //待审批
                            actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)" onclick="mEdit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');

                        } else {
                            if (row.approvalStatus == 4) {
                                actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                            }
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function print(num) {
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "打印预览",
            content: "/system/print/preview?type=chuchai&num="+num,
            // content: "/system/print/view?type=jiekuan&num="+id,
            btn: ['打印', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function () {
                var html1 = "";
                var html2 = "";
                var config = {
                    url: "/system/print/preview?type=chuchai&num="+num,
                    type: "get",
                    dataType: "html",
                    async: false,
                    data: "",
                    success: function(result) {
                        html1 = html1+result;
                    }
                };
                $.ajax(config)

                printWindow=window.open('','_blank');
                printWindow.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title></title><style>@page{margin-bottom:0mm;margin-top:2mm}</style></head><body>');

                //这里是向新建的窗口写入HTML的head信息，可引入自己的js和css，以供打印时样式与网页中显示的一致

                printWindow.document.write('<div style="page-break-after:always; width:100%; height:100%;">'+html1+'</div>');

                //这里向新建的窗体中写入BODY的内容，注意，外边加的额外DIV是有必要的，它里面CSS可以控制打印时不会出现空白页

                printWindow.document.write("</body></html>");//这里向新建的窗体写入HTML的结束标记


                printWindow.document.close();//关闭新建窗口的文档输出流，否则下面的打印语句无效

                printWindow.print();//打印当前新建窗口中的内容

                printWindow.close();//关闭新建的窗口
            },
            cancel: function(index) {
                return true;
            }
        });
        layer.full(index);
    }

    // function f(id) {
    //     $.modal.openTab("查看" + $.table._option.modalName, prefix + "/detail?id=" + id);
    // }

    function onDblClickRow(row, $element) {
        var url = $.table._option.facCostApplyDetailUrl.replace("{id}", row.id);
        $.modal.open("详情", url);

    }

    function submitHandler(id) {
        $.modal.open("保存", "/system/facCostApply/addSave?id=" + id);
    }

    function baoxiao(id) {
        //  $.modal.open("报销添加", "/system/facCostApply/baoxiao?id=" + id);
        // $.modal.open("报销添加", "/system/facCostReimburse/baoxiaoEdit?id=" + id);
        var index = layer.open({
            type: 2,
            area: ["auto","auto"],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "报销添加",
            content: "/system/facCostReimburse/baoxiaoEdit?id=" + id,
            btn: ['确定', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler(index, layero);
                $.table.refresh();
            },
            cancel: function(index) {
                return true;
            }
        });
        layer.full(index);
    }




    function mEdit(id) {

        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "提交预览",
            content: prefix + "/edit/" + id,
            btn: ['提交', '保存', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {

                var iframeWin = window[layero.find('iframe')[0]['name']];
                var res = iframeWin.submitHandler();
                if(res){
                    layer.close(index);
                }

            },
            btn2: function (index, layero) {

                var iframeWin = window[layero.find('iframe')[0]['name']];
                var res = iframeWin.sub();
                if(res){
                    layer.close(index);
                }
                return false;

            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);

    }

    function add() {
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "提交预览",
            content: "/system/facCostApply/add",
            btn: ['提交', '保存', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var res = iframeWin.submitHandler();
                return res;
            },
            btn2: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var res = iframeWin.sub();
                return res;
            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);
    }


    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    };


    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                $.modal.msg(result.msg);
                $.modal.close();
            }
        };
        $.ajax(config)
    }


</script>
</body>
</html>