<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增假期')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-holiday-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">员工id：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">假期类型（1年假，2调休）：</label>
				<div class="col-sm-8">
					<input id="holidayType" name="holidayType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否有效（0否 1是）：</label>
				<div class="col-sm-8">
					<input id="availability" name="availability" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生成（效）日期：</label>
				<div class="col-sm-8">
					<input id="createdate" name="createdate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">失效日期：</label>
				<div class="col-sm-8">
					<input id="overdate" name="overdate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">年假值（天）：</label>
				<div class="col-sm-8">
					<input id="value" name="value" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请单id：</label>
				<div class="col-sm-8">
					<input id="applyId" name="applyId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="holidayDetail" name="holidayDetail" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/holiday"
		$("#form-holiday-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-holiday-add').serialize());
	        }
	    }
	</script>
</body>
</html>
