<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增商机')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-testCopy-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司名称：</label>
				<div class="col-sm-8">
					<input id="companyName" name="companyName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">广告主：</label>
				<div class="col-sm-8">
					<input id="advertiser" name="advertiser" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">简称：</label>
				<div class="col-sm-8">
					<input id="shortName" name="shortName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人1：</label>
				<div class="col-sm-8">
					<input id="linkname1" name="linkname1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职位1：</label>
				<div class="col-sm-8">
					<input id="position1" name="position1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">岗位职责1：</label>
				<div class="col-sm-8">
					<input id="position1Remark" name="position1Remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职责1：</label>
				<div class="col-sm-8">
					<input id="responsibility1" name="responsibility1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">具体职责1：</label>
				<div class="col-sm-8">
					<input id="responsibility1Remark" name="responsibility1Remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话1：</label>
				<div class="col-sm-8">
					<input id="linkTel1" name="linkTel1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">名片1：</label>
				<div class="col-sm-8">
					<input id="businessCard1" name="businessCard1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人2：</label>
				<div class="col-sm-8">
					<input id="linkname2" name="linkname2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职位2：</label>
				<div class="col-sm-8">
					<input id="position2" name="position2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">岗位职责2：</label>
				<div class="col-sm-8">
					<input id="position2Remark" name="position2Remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职责2：</label>
				<div class="col-sm-8">
					<input id="responsibility2" name="responsibility2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">具体职责2：</label>
				<div class="col-sm-8">
					<input id="responsibility2Remark" name="responsibility2Remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话2：</label>
				<div class="col-sm-8">
					<input id="linkTel2" name="linkTel2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">名片2：</label>
				<div class="col-sm-8">
					<input id="businessCard2" name="businessCard2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人3：</label>
				<div class="col-sm-8">
					<input id="linkname3" name="linkname3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职位3：</label>
				<div class="col-sm-8">
					<input id="position3" name="position3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">岗位职责3：</label>
				<div class="col-sm-8">
					<input id="position3Remark" name="position3Remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职责3：</label>
				<div class="col-sm-8">
					<input id="responsibility3" name="responsibility3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">具体职责3：</label>
				<div class="col-sm-8">
					<input id="responsibility3Remark" name="responsibility3Remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话3：</label>
				<div class="col-sm-8">
					<input id="linkTel3" name="linkTel3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">名片3：</label>
				<div class="col-sm-8">
					<input id="businessCard3" name="businessCard3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司业务内容：</label>
				<div class="col-sm-8">
					<input id="companyRemark1" name="companyRemark1" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">财务状况：</label>
				<div class="col-sm-8">
					<input id="companyRemark2" name="companyRemark2" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">组织架构：</label>
				<div class="col-sm-8">
					<input id="companyRemark3" name="companyRemark3" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">目前投放预算：</label>
				<div class="col-sm-8">
					<input id="companyRemark4" name="companyRemark4" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">媒体渠道：</label>
				<div class="col-sm-8">
					<input id="companyRemark5" name="companyRemark5" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">采购代理商：</label>
				<div class="col-sm-8">
					<input id="companyRemark6" name="companyRemark6" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预计合作媒体：</label>
				<div class="col-sm-8">
					<input id="companyRemark7" name="companyRemark7" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预计下单产品：</label>
				<div class="col-sm-8">
					<input id="companyRemark8" name="companyRemark8" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预计下单时间：</label>
				<div class="col-sm-8">
					<input id="companyRemark9" name="companyRemark9" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改实时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改人：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商机评分：</label>
				<div class="col-sm-8">
					<input id="businessGrade" name="businessGrade" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商机状态：</label>
				<div class="col-sm-8">
					<input id="businessStatus" name="businessStatus" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商机归属人：</label>
				<div class="col-sm-8">
					<input id="businessUser" name="businessUser" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下单状态：</label>
				<div class="col-sm-8">
					<input id="orderStatus" name="orderStatus" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">媒体：</label>
				<div class="col-sm-8">
					<input id="media" name="media" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/testCopy"
		$("#form-testCopy-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-testCopy-add').serialize());
	        }
	    }
	</script>
</body>
</html>
