<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增对公常显')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-facCommonlyApply-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">收款人名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收款人账户：</label>
				<div class="col-sm-8">
					<input id="number" name="number" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收款人开户行：</label>
				<div class="col-sm-8">
					<input id="userName" name="userName" class="form-control" type="text" required>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/facPayPublicApply"
		$("#form-facCommonlyApply-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/addCo", $('#form-facCommonlyApply-add').serialize());
	        }
	    }
	</script>
</body>
</html>
