<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增当当后端额外数据（品专，搜索）')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dangdangAdditional-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<input id="ddDate" name="ddDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道id：</label>
				<div class="col-sm-8">
					<input id="channelId" name="channelId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">uv：</label>
				<div class="col-sm-8">
					<input id="uv" name="uv" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">新增激活用户：</label>
				<div class="col-sm-8">
					<input id="addActiveUser" name="addActiveUser" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订纯新客：</label>
				<div class="col-sm-8">
					<input id="coollectingPureNewCustomers" name="coollectingPureNewCustomers" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订新客（含纯和渗透）：</label>
				<div class="col-sm-8">
					<input id="bookingNewCustomersPureInfiltration" name="bookingNewCustomersPureInfiltration" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订订单数：</label>
				<div class="col-sm-8">
					<input id="orderingOrders" name="orderingOrders" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订金额：</label>
				<div class="col-sm-8">
					<input id="receivingAmount" name="receivingAmount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库纯新客：</label>
				<div class="col-sm-8">
					<input id="pureOutOfTheLibrary" name="pureOutOfTheLibrary" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库新客(含纯和渗透)：</label>
				<div class="col-sm-8">
					<input id="outboundNewCustomersPureInfiltration" name="outboundNewCustomersPureInfiltration" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库订单数：</label>
				<div class="col-sm-8">
					<input id="outboundOrderNumber" name="outboundOrderNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库金额：</label>
				<div class="col-sm-8">
					<input id="outboundAmount" name="outboundAmount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">标识：</label>
				<div class="col-sm-8">
					<input id="identification" name="identification" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/dangdangAdditional"
		$("#form-dangdangAdditional-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-dangdangAdditional-add').serialize());
	        }
	    }
	</script>
</body>
</html>
