<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('审批列表')" />
	<script type="text/javascript">
	function toStaHand(applyId){
		var url = $.table._option.toStaHand.replace("{applyId}",applyId);
		$.modal.open("办公用品分配", url);
	}
	function toCancelHand(applyId){
		var url = $.table._option.toCancelHand.replace("{applyId}",applyId);
		$.modal.open("取消办公用品分配", url);
	}
	
	</script>
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
				<input id="applyStatus" name = "applyStatus"  type="hidden"/>
					<div class="select-list">
						<ul>

							<li hidden>申请类型： <select name="applyType"
								th:with="type=${@dict.getType('xz_assets_applyType')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>所在地域：
								<select id="region" name="region" th:with="type=${@dict.getType('xz_assets_region')}">
								<option id="optall" value="">所有</option>
								<option th:id="'opt'+${dict.dictValue}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="list(1);$.table.search() " >
					查看代办事项
				</a>
				<a class="btn btn-success" onclick="list(2);$.table.search()" >
					 查看已办事项
				</a> 
				<a class="btn btn-success" onclick="list(3);$.table.search()" >
					 查看取消事项
				</a> 
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:xzPersonalApply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:xzPersonalApply:remove')}]];
        var prefix = ctx + "system/xzPersonalApply";
		
        var applyStatus = [[${@dict.getType('xz_assets_applyStatus')}]];
        var applyType = [[${@dict.getType('xz_assets_applyType')}]];
        var submitType = [[${@dict.getType('xz_assets_submitType')}]];

		var role = [[${@sysRoleServiceImpl.selectRoleKeys(userid)}]]

		var area = [[${@permission.getPrincipalProperty('area')}]];

        $(function() {

			if(role.indexOf("admin")==-1&&role.indexOf("xzzj")==-1){
				$("#region option[id='optall']").remove();
				if(area==1){
					$("#region option[id='opt2']").remove();
				}else if(area==2){
					$("#region option[id='opt1']").remove();
					$("#region option[id='opt3']").remove();
					$("#region option[id='opt5']").remove();
				}else if(area==3){
					$("#region option[id='opt1']").remove();
					$("#region option[id='opt2']").remove();
					$("#region option[id='opt5']").remove();
				}else if(area==5){
					$("#region option[id='opt1']").remove();
					$("#region option[id='opt2']").remove();
					$("#region option[id='opt3']").remove();
				}
			}

            var options = {
                url: prefix + "/distributionList",
                toStaHand:"/system/xzAssetHandRecord/staHand/{applyId}",
                toCancelHand:"/system/xzAssetHandRecord/cancelHand/{applyId}",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "个人申请",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'applyId', 
					title : '唯一标识',
					visible: false
				},
				{
					field : 'applyType', 
					title : '申请类型',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(applyType, value);
					}
				},
				{
					field : 'assetType2Name', 
					title : '资产名称',
					sortable: true
				},
				{
					field : 'count', 
					title : '数量',
					sortable: true
				},
				{
					field : 'applyStatus', 
					title : '申请状态',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(applyStatus, value);
					}
				},
				{
					field : 'createByName', 
					title : '提交人',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if(row.applyStatus=='2'||row.applyStatus=='3' ){
		            		//不显示
		            	}else{
		            		actions.push('<a class="btn btn-primary btn-xs ' + '" onclick="toStaHand(\'' + row.applyId + '\')">分配</a> ');
	                        actions.push('<a class="btn btn-danger btn-xs " onclick="toCancelHand(\'' + row.applyId + '\')">取消分配</a>');
		            	}
		            	
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        function list(f){
     	   $("#applyStatus").val(f);
        }
    </script>
</body>
</html>