<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('瑞幸展现列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
				<input id="selectflag" name = "selectflag"  type="hidden"/>
					<div class="select-list">
						<ul>
							<!-- <li>
								月份：<input type="text" name="rxMonth"/>
							</li>

							<li>
								日期：<input type="text" name="rxDate"/>
							</li>

							<li>
								账户：<input type="text" name="account"/>
							</li>

							<li>
								计划：<input type="text" name="plan"/>
							</li>

							<li>
								单元：<input type="text" name="unit"/>
							</li>

							<li>
								关键词：<input type="text" name="keyword"/>
							</li> -->

							<li>
							<!-- 	<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a> -->
								<a class="btn btn-primary btn-rounded btn-sm" onclick="method1(0);$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(1);$.table.search()"><i class="fa fa-search"></i>&nbsp;账户维度汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(2);$.table.search()"><i class="fa fa-search"></i>&nbsp;计划维度汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(3);$.table.search()"><i class="fa fa-search"></i>&nbsp;单元维度汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(4);$.table.search()"><i class="fa fa-search"></i>&nbsp;关键词维度汇总</a>
							
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="createData()" >
					<i class="fa fa-plus"></i> 生成数据
				</a>
				<a class="btn btn-danger" onclick="deleteAll()" >
					<i class="fa fa-remove"></i> 清除数据
				</a>
				<a class="btn btn-warning" onclick="method1(0);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出汇总
				</a>
				<a class="btn btn-warning" onclick="method1(1);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出账户维度
				</a>
				<a class="btn btn-warning" onclick="method1(2);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出计划维度
				</a>
				<a class="btn btn-warning" onclick="method1(3);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出单元维度
				</a>
				<a class="btn btn-warning" onclick="method1(4);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出关键词维度
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:rxZhanxian:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:rxZhanxian:remove')}]];
        var prefix = ctx + "system/rxZhanxian";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/deleteAllRxZhanxian",
				exportUrl: prefix + "/export",
				createDataUrl: prefix + "/createRxZhanxianData",
                modalName: "瑞幸展现",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
					visible: false
				},
				{
					field : 'rxMonth', 
					title : '月份',
					sortable: true
				},
				{
					field : 'rxDate', 
					title : '日期',
					sortable: true
				},
				{
					field : 'pcShowdata', 
					title : 'pc-展现',
					sortable: true
				},
				{
					field : 'pcClick', 
					title : 'pc-点击',
					sortable: true
				},
				{
					field : 'pcConsume', 
					title : 'pc-消费',
					sortable: true
				},
				{
					field : 'pcCtr', 
					title : 'pc-CTR',
					sortable: true
				},
				{
					field : 'pcCpc', 
					title : 'pc-CPC',
					sortable: true
				},
				{
					field : 'mdShowdata', 
					title : 'm-展现',
					sortable: true
				},
				{
					field : 'mdClick', 
					title : 'm-点击',
					sortable: true
				},
				{
					field : 'mdConsume', 
					title : 'm-消费',
					sortable: true
				},
				{
					field : 'mdCtr', 
					title : 'm-CTR',
					sortable: true
				},
				{
					field : 'mdCpc', 
					title : 'm-CPC',
					sortable: true
				},
				{
					field : 'allShowdata', 
					title : 'pc+m-展现',
					sortable: true
				},
				{
					field : 'allClick', 
					title : 'pc+m-点击',
					sortable: true
				},
				{
					field : 'allConsume', 
					title : 'pc+m-消费',
					sortable: true
				},
				{
					field : 'allCtr', 
					title : 'pc+m-CTR',
					sortable: true
				},
				{
					field : 'allCpc', 
					title : 'pc+m-CPC',
					sortable: true
				},
				{
					field : 'account', 
					title : '账户',
					sortable: true
				},
				{
					field : 'plan', 
					title : '计划',
					sortable: true
				},
				{
					field : 'unit', 
					title : '单元',
					sortable: true
				},
				{
					field : 'keyword', 
					title : '关键词',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        function createData(){
        	$.modal.loading("数据加载中");
        	var formData = new FormData();
			$.ajax({
				url: $.table._option.createDataUrl,
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
				type: 'POST',
				success: function (result) {
					$.modal.alertSuccess(result.msg);
					$.modal.closeLoading();
				}
			});
        }
        function  method1(f){
      	   $("#selectflag").val(f);
         }
         
         function deleteAll(){
            	
            	$.modal.confirm("确定清除瑞幸所有展示数据吗？", function() {
                    var url = $.table._option.removeUrl ;
                    $.operate.submit(url, "post", "json", null);
            	});
            	
         }
    </script>
</body>
</html>