<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改办公用品')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-xzStationeryasset-edit" th:object="${xzStationeryasset}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">办公资产名称    取自办公类型子类型名称：</label>
				<div class="col-sm-8">
					<input id="stationeryAssetName" name="stationeryAssetName" th:field="*{stationeryAssetName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">办公资产对应的id：</label>
				<div class="col-sm-8">
					<input id="stationeryAssetId" name="stationeryAssetId" th:field="*{stationeryAssetId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">办公资产类型名称    取自办公类型的父类型名称：</label>
				<div class="col-sm-8">
					<input id="assetTypeName" name="assetTypeName" th:field="*{assetTypeName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="rukuCount" name="rukuCount" th:field="*{rukuCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">办公资产类型对应的id：</label>
				<div class="col-sm-8">
					<input id="assetTypeId" name="assetTypeId" th:field="*{assetTypeId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当月入库数量：</label>
				<div class="col-sm-8">
					<input id="fenpeiCount" name="fenpeiCount" th:field="*{fenpeiCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">库存中有的资产对应的品牌，多个品牌以，分割：</label>
				<div class="col-sm-8">
					<input id="brandType" name="brandType" th:field="*{brandType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当月库存数量：</label>
				<div class="col-sm-8">
					<input id="kucunCount" name="kucunCount" th:field="*{kucunCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当月剩余数量：</label>
				<div class="col-sm-8">
					<input id="shengyuCount" name="shengyuCount" th:field="*{shengyuCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">地域：</label>
				<div class="col-sm-8">
					<input id="area" name="area" th:field="*{area}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">品牌的id字符串：</label>
				<div class="col-sm-8">
					<input id="brand" name="brand" th:field="*{brand}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">model：</label>
				<div class="col-sm-8">
					<input id="model" name="model" th:field="*{model}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="baocunType" name="baocunType" th:field="*{baocunType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">保存状态的资产id：</label>
				<div class="col-sm-8">
					<input id="assetId" name="assetId" th:field="*{assetId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">时间月份字符串：</label>
				<div class="col-sm-8">
					<input id="time" name="time" th:field="*{time}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当月初始数量：</label>
				<div class="col-sm-8">
					<input id="chushiCount" name="chushiCount" th:field="*{chushiCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="categoryId" name="categoryId" th:field="*{categoryId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="guihaiCount" name="guihaiCount" th:field="*{guihaiCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计量单位：</label>
				<div class="col-sm-8">
					<input id="unit" name="unit" th:field="*{unit}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/xzStationeryasset";
		$("#form-xzStationeryasset-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-xzStationeryasset-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
