<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('日常报销申请')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-holiday-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">报销名称</label>
            <div class="col-sm-8">
                <input width="30px" id="name" name="name" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">日期</label>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control" id="datetimepicker-demo-2" placeholder="yyyy-MM-dd ">
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" align="center">公出或行政交通信息</label>
            <table id="tab" class="formTableSwap" border="0" align="center" cellpadding="0" cellspacing="1">
                <tr>
                    <td>日期</td>
                    <td>目标单位简称</td>
                    <td>金额</td>
                    <td>人员</td>
                    <td>出发地</td>
                    <td>目的地</td>
                    <td>事由</td>
                    <td>单据数</td>
                    <td>类型</td>
                </tr>
                <tr id="0">
                    <td><input type="text1" class="text" name="modelAttrs[0].pubDate" notNull="true"
                               maxLength="50" value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubTargetUnit" notNull="true"
                               maxLength="100" value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubAmount" notNull="true" maxLength="100"
                               onkeyup="this.value=this.value.replace(/[^\d\.\d{0,2}]/g,'') " value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubUser" otNull="true" maxLength="50"
                               value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubDeparture" otNull="true" maxLength="50"
                               value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubTarget" otNull="true" maxLength="50"
                               value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubReason" otNull="true" maxLength="50"
                               value=""></td>
                    <td><input type="text" class="text" name="modelAttrs[0].pubDocumentNum" otNull="true" maxLength="50"
                               value=""
                               onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                               onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>
                    </td>
                    <td>
                        <select name="modelAttrs[0].pubType">
                            <option value="1">公出交通费用申请</option>
                            <option value="2">加班交通费用申请</option>
                        </select>
                    </td>
                    <td><a href="#" onclick="deltr(0)">删除</a></td>
                </tr>
            </table>
            <table class="formTableSwap" border="0" align="center" cellpadding="0" cellspacing="1">
                <tr>
                    <td style="text-align:right;width: 100px;"><input type="button" id="but" value="增加"/></td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div th:include="include::footer">
</div>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "/system/facReimburseApply";


    $(function () {
        <!-- datetimepicker示例 -->
        $("#datetimepicker-demo-2").datetimepicker({
            format: "yyyy-mm-dd ",
            autoclose: true
        });
        var tags = document.getElementsByTagName("input");//获取标签
        for (var i = 0; i < tags.length; i++) {
            if (tags[i].class=="text1"){
               var id = tags[i].id;
               console.log(id);
                $("#"+id.toString()).datetimepicker({
                    format: "yyyy-mm-dd ",
                    autoclose: true
                });
            }
        }
    });
    $("#but").click(function () {
        var _len = $("#tab tr").length;
        _len = _len + 1;
        $("#tab").append("<tr id=" + _len + " align='center'>"
            + '<td><input type="text" id="[' + (_len - 1) + '].Date" class="text" name="modelAttrs[' + (_len - 1) + '].pubDate" otNull="true" maxLength="50" value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubTargetUnit" otNull="true" maxLength="100" value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubAmount" otNull="true" maxLength="100"  onkeyup="this.value=this.value.replace(/[^\\d\\.\\d{0,2}]/g,\'\') " value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubUser"  otNull="true" maxLength="50" value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubDeparture" notNull="true"  maxLength="50" value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubTarget" otNull="true" maxLength="50" value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubReason" otNull="true" maxLength="50" value="" ></td>'
            + '<td><input type="text"  class="text" name="modelAttrs[' + (_len - 1) + '].pubDocumentNum" otNull="true" maxLength="50" value="" ></td>'
            + '<td><select name="modelAttrs[' + (_len - 1) + '].pubType" >'
            + '<option value="1" >公出交通费用申请</option>'
            + '<option value="2" >加班交通费用申请</option>'
            + '</select></td>'
            + "<td><a href=\'#\' onclick=\'deltr(" + _len + ")\'>删除</a></td>"
            + "</tr>");
    });

    function deltr(index) {
        $("tr[id='" + index + "']").remove();//删除当前行
    }

    $("#form-holiday-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-holiday-add').serialize());
        }
    }

</script>
</body>
</html>
