<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-reiadd">
        <div class="container-div">
            <div class="row">
                <input id="msg" name="msg" class="form-control-static" type="hidden" th:value="${msg}"/>
                <input id="userId" name="msg" class="form-control-static" type="hidden" th:value="${userId}"/>
                <input id="dept" name="dept" class="form-control-static" type="hidden" th:value="${dept}"/>
                <div>
                    <h4 class="form-header h4">日常报销申请</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报销名称：</label>
                                <div class="col-sm-8">
                                    <input name="name" id="name" autocomplete="off" placeholder="XX月份报销" class="form-control" th:disabled="${edit=='false'}?'true':false"
                                           type="text" maxlength="30" th:value="${name}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">&nbsp&nbsp部门：</label>
                                <div class="col-sm-8">
                                    <input name="userName" autocomplete="off" placeholder="悦维联动" class="form-control"
                                           type="text" maxlength="30" readonly="readonly" th:value="${deptName}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6" th:style="${edit=='false'}?'display: none':''">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">是否冲抵借款：</label>
                                <div class="col-sm-8">
                                    <a id="addzhusu" onclick="zAdd()">
                                        <i class="fa fa-plus"></i> 冲抵借款
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"></span>报销编号：</label>
                                <div class="col-sm-8">
                                    <input id="num" name="num" class="form-control" type="text" th:value="${num}"
                                           readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 select-table table-striped">
                        <a class="btn btn-success" onclick="mAdd(1)" th:style="${edit=='false'}?'display: none':''">
                            <i class="fa fa-plus"></i> 交通费报销信息
                        </a>
                        <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 select-table table-striped">
                        <a class="btn btn-success" id="zdf" onclick="mAdd(2)" th:style="${edit=='false'}?'display: none':''">
                            <i class="fa fa-plus"></i> 招待费报销信息
                        </a>
                        <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 select-table table-striped">
                        <a class="btn btn-success" onclick="mAdd(3)" th:style="${edit=='false'}?'display: none':''">
                            <i class="fa fa-plus"></i> 其他费用报销信息
                        </a>
                        <table id="bootstrap-table-3" data-mobile-responsive="true"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-10">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include :: footer"></div>
</body>
<script th:inline="javascript">
    var prefix = ctx + "system/facReimburseApply";
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var num = $("#num").val();
    var msg = $("#msg").val();
    var userId = $("#userId").val();
    var dept = $("#dept").val();
    var limitAmount = [[${limitAmount}]];

    function zAdd() {
        $.modal.openFull("冲抵借款", "/system/facLoanApply/offset?payer=" + userId);
    }
    function mAdd(id) {
        if (id == 1) {
            $.table._option.id = "bootstrap-table-1";
            $.table._option.url = prefix + "/addTraDetail";
            $.modal.open("交通添加", "/system/facReimburseApply/tranDetail?num=" + num);
        } else if (id == 2) {
            $.table._option.id = "bootstrap-table-2";
            $.table._option.url = prefix + "/addAll";
            $.modal.open("招待费添加", "/system/facReimburseApply/addAll?num=" + num);
        } else if (id == 3) {
            $.table._option.id = "bootstrap-table-3";
            $.table._option.url = prefix + "/otherDetail";
            $.modal.open("其他添加", "/system/facReimburseApply/otherDetail?num=" + num);
        }
    }
    function mEdit(index, id) {
        if (index == 1) {
            $.table._option.id = "bootstrap-table-1";
            $.table._option.url = prefix + "/addTraDetail";
            $.table._option.modalName = "交通报销信息";
            $.table._option.updateUrl = prefix + "/editTran/{id}";
        } else if (index == 2) {
            $.table._option.id = "bootstrap-table-2";
            $.table._option.url = prefix + "/addAll?queryType=all";
            $.table._option.modalName = "招待报销信息";
            $.table._option.updateUrl = prefix + "/editZhao/{id}";
        } else {
            $.table._option.id = "bootstrap-table-3";
            $.table._option.url = prefix + "/otherDetail";
            $.table._option.modalName = "其他报销信息";
            $.table._option.updateUrl = prefix + "/editQi/{id}";
        }
        $.operate.edit(id);
    }
    function mRemove(index, id) {
        if (index == 1) {
            $.table._option.id = "bootstrap-table-1";
            $.table._option.modalName = "交通报销信息";
            $.table._option.removeUrl = prefix + "/removeTran";
        } else if (index == 2) {
            $.table._option.id = "bootstrap-table-2";
            $.table._option.modalName = "招待报销信息";
            $.table._option.removeUrl = prefix + "/removeZhao?id=" + id;
        } else {
            $.table._option.id = "bootstrap-table-3";
            $.table._option.modalName = "其他报销信息";
            $.table._option.removeUrl = prefix + "/removeQi?id=" + id;
        }
        $.operate.remove(id);
    }
    $(function () {
        if (dept == 10) {
            // $("#zdf").attr("style", "display:block;");//显示div
        }else{
            $("#zdf").attr("style", "display:none;");//隐藏div
        }
        var options1 = {
            id: "bootstrap-table-1",
            url: prefix + "/addTraDetail",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: false,
            modalName: "报销申请添加",
            columns: [
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'num',
                    title: '报销编号',
                    sortable: false,
                    visible: false
                },
                {
                    field: 'ddDate',
                    title: '日期',
                    sortable: false,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'targetUnit',
                    title: '目标单位简称',
                    sortable: false
                },
                {
                    field: 'amount',
                    title: '金额',
                    sortable: false,
                    formatter: function (value,row,index) {
                        return value;
                    }
                },
                {
                    field: 'user',
                    title: '人员',
                    sortable: false
                },
                {
                    field: 'departure',
                    title: '出发地',
                    sortable: false
                },
                {
                    field: 'target',
                    title: '目的地',
                    sortable: false
                },
                {
                    field: 'type',
                    title: '类型 ',
                    sortable: false
                },{
                    field: 'excess',
                    title: '是否超额 ',
                    visible: false,
                    formatter: function (value, row, index) {
                        if(value==1){
                            layer.msg("已超出额度");
                            return  "超额";
                        }else {
                            return  "未超额";
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var flg = [[${edit}]]
                        if(flg=="false"){
                            return "";
                        }else{
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="mEdit(1,\'' + row.id + '\')"><i class  = "fa fa-edit" > </i>修改</a> ');
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="mRemove(1,\'' + row.id + '\')"><i class  = "fa fa-remove" > </i>删除</a > ');
                            return actions.join('');
                        }
                    }
                }

            ]
        };
        $.table.init(options1);

        var options2 = {
            id: "bootstrap-table-2",
            url: prefix + "/addAll?queryType=all",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: false,
            modalName: "招待费报销申请",
            columns: [

                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }
                ,
                {
                    field: 'num',
                    title: '报销编号',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'ddDate',
                    title: '日期',
                    sortable: false,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'amount',
                    title: '金额',
                    sortable: false,
                    formatter: function (value,row,index) {
                        return value;
                    }
                },
                {
                    field: 'addUser',
                    title: '参加人',
                    sortable: false
                },
                {
                    field: 'location',
                    title: '地点',
                    sortable: false
                },
                {
                    field: 'targetUnit',
                    title: '目标单位简称',
                    sortable: false
                },
                {
                    field: 'reason',
                    title: '事由',
                    sortable: false
                },
                {
                    field: 'userName',
                    title: '申请人',
                    sortable: false
                },
                {
                    field: 'excess',
                    title: '是否超额 ',
                    visible: false,
                    formatter: function (value, row, index) {
                        if(value == 1){
                            return "超额";
                        }else{
                            return "未超额";
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var flg = [[${edit}]];
                        if(flg == "false"){
                            return "";
                        }else{
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="mEdit(2,\'' + row.id + '\')"><i class  = "fa fa-edit" > </i>修改</a> ');
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="mRemove(2,\'' + row.id + '\')"><i class  = "fa fa-remove" > </i>删除</a > ');
                            return actions.join('');
                        }
                    }
                }]
        };
        $.table.init(options2);
        var options3 = {
            id: "bootstrap-table-3",
            url: prefix + "/otherDetail",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: false,
            modelName: "其他费用申请",
            columns: [

                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'ddDate',
                    title: '日期',
                    sortable: false,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'amount',
                    title: '金额',
                    sortable: false,
                    formatter: function (value,row,index) {
                        return value;
                    }
                },
                {
                    field: 'project',
                    title: '报销科目',
                    sortable: false
                },
                {
                    field: 'reason',
                    title: '事由',
                    sortable: false
                },
                {
                    field: 'documentNum',
                    title: '单据数',
                    sortable: false
                },
                {
                    field: 'status',
                    title: '用户状态',
                    visible: false,
                    align: 'center',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    sortable: false,
                    formatter: function (value, row, index) {
                        var flg = [[${edit}]];
                        if(flg == "false"){
                            return "";
                        }else {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="mEdit(3,\'' + row.id + '\')"><i class  = "fa fa-edit" > </i>修改</a> ');
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="mRemove(3,\'' + row.id + '\')"><i class  = "fa fa-remove" > </i>删除</a > ');
                            return actions.join('');
                        }
                    }
                }
            ]
        };
        $.table.init(options3);

    });

    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                $.modal.msg(result.msg);
                $.modal.close();
                $.modal.closeTab();
            }
        };
        $.ajax(config)
    }

    function submitHandler() {

        if ($.validate.form()) {
            //index为1表示保存
            var res = false;
            var config = {
                url: prefix + "/addSubmit",
                type: "post",
                dataType: "json",
                data: $('#form-reiadd').serialize(),
                async: false,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if(result.code==500){
                        res = false;
                        layer.msg(result.msg);
                    }else{
                        res = true;
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            };
            $.ajax(config)
            return res;
        }else{
            return false;
        }
    }

    function sub() {
        if ($.validate.form()) {
            var data = $('#form-reiadd').serialize();
            $.operate.save(prefix + "/addSave", data);
            return true;
        }else{
            return false;
        }
    }

</script>
</body>
</html>