<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('报销列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            报销人：<input type="text" name="userName"/>
                        </li>

                        <li>
                            类型：<input type="text" name="type"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()">
                <i class="fa fa-plus"></i> 日常报销申请
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
            >
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
            >
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
            >
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:facReimburseApply:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:facReimburseApply:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:facReimburseApply:detail')}]];
    var prefix = ctx + "system/facReimburseApply";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            exportUrl: prefix + "/export",
            removeUrl: prefix + "/remove",
            modalName: "报销",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'num',
                    title: '报销编号',
                    sortable: true
                },
                {
                    field: 'name',
                    title: '报销名称',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '报销金额',
                    sortable: true
                },
                {
                    field: 'userName',
                    title: '报销人',
                    sortable: true
                },
                {
                    field: 'approveName',
                    title: '审批人',
                    sortable: true
                },
                {
                    field: 'reimburseTime',
                    title: '报销时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return  newDate;
                    }
                },
                // {
                //     field: 'updateTime',
                //     title: '修改时间',
                //     sortable: true,
                //     formatter: function (value, row, index) {
                //         var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                //         return  newDate;
                //     }
                // },
                // {
                //     field: 'passTime',
                //     title: '核票通过时间',
                //     sortable: true,
                //     formatter: function (value, row, index) {
                //         var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                //         return  newDate;
                //     }
                //
                // },
                {
                    field: 'type',
                    title: '类型',
                    sortable: true
                },
                {
                    field: 'status',
                    title: '审批状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if(value==1){
                            return "审批成功";
                        }else if(value==2){
                            return "驳回";
                        }else if(value==3){
                            return "审批中";
                        } else{
                            return "待审批";
                        }
                    }

                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if(row.submitStatus=='save'){
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="submitHandler(\'' + row.id + '\')"> </i>提交</a> ');
                        }
                        if(row.status==1){
                            //审批成功
                        }else if(row.status==2){
                            //审批失败

                        }else if(row.status==3){

                        }else
                        {
                            //待审批
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="mEdit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="f(\'' + row.id + '\')"><i class="fa fa-detail"></i>查看</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
        $.modal.openTab("添加" + $.table._option.modalName, $.operate.addUrl(id));
    });

    function mEdit(num){
        $.modal.openTab("编辑" + $.table._option.modalName, prefix + "/add?id="+num);
    }

    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                $.modal.msg(result.msg);
                $.table.refresh();
            }
        };
        $.ajax(config)
    }
    function submitHandler(id) {
            //index为1表示保存
        mSave(prefix + "/addSubmit", {"id":id});
    }

    function f(id) {
        var options = {
            title: "报销费用申请详情",
            width: 800,
            height: 800,
            url: prefix + "/detail?id=" + id,
            skin: 'layui-layer-gray',
            btn: ['关闭'],
            yes: function (index, layero) {
                layer.close(index);
            }
        };
        $.modal.openOptions(options);
    }

</script>
</body>
</html>