<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style>
    .select-list ul li div {
        float: none;
        display: inline;
    }

    .select-list li .time-input {
        display: inline;
    }

    #type {
        display: inline-block;
        padding: 0;
    }
    #unit {
        display: inline-block;
        padding: 0;
    }
</style>
<head>
    <th:block th:include="include :: header('报销列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            报销编号：<input type="text" name="num"/>
                        </li>
                        <li>
                            申请时间：<input class="time-input" name="reimburseTime" readonly style="background-color: white"/>
                        </li>
                        <li>
                            报销人：
                            <div class="col-sm-9">
                                <input id="loanUser" type="text" name="loanUserName"/>
                                <div class="input-group-btn" style="float: right">
                                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            类型：
                            <select id="type" name="type" class="form-control">
                                <option value="">-- 请选择 --</option>
                                <option value="日常报销">日常报销</option>
                                <option value="团建报销">团建报销</option>
                                <option value="差旅报销">差旅报销</option>
                            </select>
                        </li>
                        <li>
                            公司名称：
                            <select id="unit" name="unit" class="form-control">
                                <option value="">-- 请选择 --</option>
                                <option value="新普互联（北京）科技有限公司">新普互联（北京）科技有限公司</option>
                                <option value="普菲特（海南）科技有限公司">普菲特（海南）科技有限公司</option>
                                <option value="新疆普菲特网络科技有限公司">新疆普菲特网络科技有限公司</option>
                                <option value="上海优寰网络科技有限公司">上海优寰网络科技有限公司</option>
                                <option value="云为智合网络技术（深圳）有限公司">云为智合网络技术（深圳）有限公司</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()">
                <i class="fa fa-plus"></i> 日常报销申请
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">

    var prefix = ctx + "system/facReimburseApply";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            exportUrl: prefix + "/export",
            removeUrl: prefix + "/remove",
            onDblClickRow: onDblClickRow,
            modalName: "报销",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'jknum',
                    title: 'jknum',
                    visible: false
                },
                {
                    field: 'num',
                    title: '报销编号',
                    sortable: true
                },
                {
                    field: 'unit',
                    title: '公司名称',
                    sortable: true
                },
                {
                    field: 'name',
                    title: '报销名称',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '报销金额',
                    sortable: true
                },
                {
                    field: 'userName',
                    title: '报销人',
                    sortable: true
                }
                ,{
                    field: 'userId',
                    title: '查看人',
                    visible: false
                }
                ,

                {
                    field: 'reimburseTime',
                    title: '申请时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        // var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return value;
                    }
                }
                , {
                    field: 'type',
                    title: '类型',
                    sortable: true
                },
                {
                    field: 'allName',
                    title: '所有审批人',
                    sortable: false,
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'approver',
                    title: '当前审批人',
                    sortable: false
                },
                {
                    field: 'status',
                    title: '审批状态',
                    sortable: false,
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "审批成功";
                        } else if (value == 2) {
                            return "驳回";
                        } else if (value == 3) {
                            return "审批中";
                        } else {
                            return "待审批";
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.submitStatus == 'save') {
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="mEdit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            if(row.userId == 1){
                                actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');

                            }
                        }
                        if (row.status == 1) {
                            //审批成功
                        } else if (row.status == 2) {
                            //审批失败
                        } else if (row.status == 3) {

                        } else {

                        }
                        if (row.submitStatus == "submit") {
                            if (row.status == 1) {
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="print(\'' + row.num + '\',\''+row.type+'\',\''+row.jknum+'\')"><i class="fa fa-detail"></i>打印</a>');
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="weather(\'' + row.num + '\')"><i class="fa fa-detail"></i>附件上传</a>');
                               if(row.userId == 1){
                                   actions.push('<a class="btn btn-success btn-xs " href="facFileUpload/xaizai?num='+row.num+'"><i class="fa fa-detail"></i>附件下载</a>');
                            }

                            }else if (row.status == 2) {
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="print(\'' + row.num + '\',\''+row.type+'\',\''+row.jknum+'\')"><i class="fa fa-detail"></i>打印</a>');
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="mEdit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            }  else if(row.status == 4){
                                actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                              actions.push('<a class="btn btn-success btn-xs " href="facFileUpload/xaizai?num='+row.num+'"><i class="fa fa-detail"></i>附件上传</a>');

                            }
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function onDblClickRow(row, $element) {

        if (row.type == "日常报销"||row.type=="招待报销") {
            $.modal.openTab("日常报销详情","/system/facReimburseApply/edit/" + row.id+"?edit=false");
        } else if (row.type == "团建报销") {
            $.modal.openTab("团建报销详情","/system/facReimburseApply/collectReimbuseDetail?num="+row.num);
        } else if (row.type == "差旅报销") {
            $.modal.openTab("差旅报销详情","/system/facReimburseApply/costReimburseDetail?num="+row.num);
        }

    }

    function weather(num){
        $.modal.open("上传附件", "/system/facReimburseApply/shangchuanfujian?num="+ num);
    }



    function xiazai(num){

        mSave("/system/facFileUpload/xaizai?num="+num);
    }



    function shangchuan(num){

        mSave("/system/facFileUpload/xaizai?num="+num);
    }


    function zAdd() {
        $.modal.openFull("冲抵借款", "/system/facLoanApply/offReiApply");
    }



    function mEdit(id) {
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "提交预览",
            content: "/system/facReimburseApply/edit/" + id,
            btn: ['提交', '保存', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var result = iframeWin.submitHandler();
                if (result) {
                    layer.close(index);
                    $.table.refresh();
                }
            },
            btn2: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var result = iframeWin.sub();
                if (result) {
                    layer.close(index);
                    $.table.refresh();
                }
                return false;
            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);
    }


    function add() {
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "提交预览",
            content: "/system/facReimburseApply/add?queryType=all",
            btn: ['提交', '保存', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var result = iframeWin.submitHandler();
                if (result) {
                    layer.close(index);
                    $.table.refresh();
                }
            },
            btn2: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var result = iframeWin.sub();
                if (result) {
                    layer.close(index);
                    $.table.refresh();
                }
                return false;
            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);
    }

    function print(id,type,jkNum) {
        // $.modal.openTab("编辑" + $.table._option.modalName, prefix + "/detail?id=" + id);
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "打印预览",
            // content: "/system/print/preview?type=baoxiao&num="+id,
            content: "/system/print/view?type=baoxiao&num=" + id,
            btn: ['打印', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function () {
                var html1 = "";
                var html2 = "";
                var config = {
                    url: "/system/print/preview?type=baoxiao&num=" + id,
                    type: "get",
                    dataType: "html",
                    async: false,
                    data: "",
                    success: function (result) {
                        html1 = html1 + result;
                    }
                };
                $.ajax(config)
                config = {
                    url: "/system/print/preview?type=baoxiaoDetail&num=" + id,
                    type: "get",
                    dataType: "html",
                    async: false,
                    data: "",
                    success: function (result) {
                        html2 = html2 + result;
                    }
                };
                $.ajax(config)
                var mainHtml = "";
                if(jkNum!="undefined"){
                    if(type=="团建报销"){
                        var config = {
                            url: "/system/print/preview?type=tuanjian&num=" + jkNum,
                            type: "get",
                            dataType: "html",
                            async: false,
                            data: "",
                            success: function (result) {
                                mainHtml = mainHtml + result;
                            }
                        };
                        $.ajax(config)
                    }else if(type=="日常报销"){
                        var config = {
                            url: "/system/print/preview?type=zhaodaifei&num=" + id,
                            type: "get",
                            dataType: "html",
                            async: false,
                            data: "",
                            success: function (result) {
                                mainHtml = mainHtml + result;
                            }
                        };
                        $.ajax(config)
                    }else if(type=="差旅报销"){
                        var config = {
                            url: "/system/print/preview?type=chuchai&num="+jkNum,
                            type: "get",
                            dataType: "html",
                            async: false,
                            data: "",
                            success: function(result) {
                                mainHtml = mainHtml+result;
                            }
                        };
                        $.ajax(config)
                    }
                }


                // var printContent=document.getElementById(objId).innerHTML;//获得需要打印内容的HTML代码

                printWindow = window.open('', '_blank');
                printWindow.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title></title><style>@page{margin-bottom:0mm;margin-top:2mm}</style></head><body>');

                //这里是向新建的窗口写入HTML的head信息，可引入自己的js和css，以供打印时样式与网页中显示的一致

                printWindow.document.write('<div style="page-break-after:always; width:100%; height:100%;">' + html1 + '</div>');

                //这里向新建的窗体中写入BODY的内容，注意，外边加的额外DIV是有必要的，它里面CSS可以控制打印时不会出现空白页

                printWindow.document.write("</body></html>");//这里向新建的窗体写入HTML的结束标记

                if(type == '日常报销'){
                    printWindow.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title></title><style>@page{margin-bottom:0mm;margin-top:2mm}</style></head><body>');

                    //这里是向新建的窗口写入HTML的head信息，可引入自己的js和css，以供打印时样式与网页中显示的一致

                    printWindow.document.write('<div style="page-break-after:always; width:100%; height:100%;">' + html2 + '</div>');

                    //这里向新建的窗体中写入BODY的内容，注意，外边加的额外DIV是有必要的，它里面CSS可以控制打印时不会出现空白页

                    printWindow.document.write("</body></html>");//这里向新建的窗体写入HTML的结束标记
                }
                if(mainHtml!=""){
                    printWindow.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title></title><style>@page{margin-bottom:0mm;margin-top:2mm}</style></head><body>');

                    //这里是向新建的窗口写入HTML的head信息，可引入自己的js和css，以供打印时样式与网页中显示的一致

                    printWindow.document.write('<div style="page-break-after:always; width:100%; height:100%;">' + mainHtml + '</div>');

                    //这里向新建的窗体中写入BODY的内容，注意，外边加的额外DIV是有必要的，它里面CSS可以控制打印时不会出现空白页

                    printWindow.document.write("</body></html>");//这里向新建的窗体写入HTML的结束标记
                }

                printWindow.document.close();//关闭新建窗口的文档输出流，否则下面的打印语句无效

                printWindow.print();//打印当前新建窗口中的内容

                printWindow.close();//关闭新建的窗口
            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);
    }


    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                $.modal.msg(result.msg);
                $.table.refresh();
            }
        };
        $.ajax(config)
    }

    function submitHandler(id) {
        $.modal.open("保存", "/system/facReimburseApply/addSave?id=" + id);
    }

    var testBsSuggest = $("#loanUser").bsSuggest({
        url: ctx + "system/user/userModel",
        showBtn: false,
        idField: "userName",
        keyField: "userName",
        effectiveFields: ["deptName", "userName"],
        multiWord: true,
        hideOnSelect: true
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });


</script>
</body>
</html>