<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('报销申请添加')"/>
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-add">
        <input id="num" name="num" class="form-control-static" type="hidden" th:value="${num}"/>

            <div class="form-group col-md-6">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>出行类别</label>
                <div class="col-sm-9">
                    <label><input    type="radio" name="type" value="公出" checked>公出交通费用申请</label>
                    <label><input    type="radio" name="type" value="加班">加班交通费用申请</label>
                </div>
            </div>
            <div class="form-group ui-sortable-helper col-md-6">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>日期</label>
                <div class="col-sm-9">
                    <input id="ddDate" name="ddDate" class="time-input form-control" required  readonly style="background-color: white"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>金额</label>
                    <div class="col-sm-9">
                        <input id="amount" name="amount" class="form-control" type="text" onkeyup="chkPrice(this);" onblur="chkLast(this)" required>
                    </div>
                </div>
                <div class="form-group">

                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>人员</label>
                    <div class="col-sm-9">
                        <input id="user" name="user" class="form-control" type="text" required>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>出发地</label>
                    <div class="col-sm-9">
                        <input id="departure" name="departure" class="form-control" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>目的地</label>
                    <div class="col-sm-9">
                        <input id="target" name="target" class="form-control" type="text" required>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>附单据数</label>
                    <div class="col-sm-9">
                        <input id="documentNum" name="documentNum" class="form-control" type="text" onkeyup="chkPrice(this);" onblur="chkLast(this)" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span style="color: red; ">*</span>目标单位简称</label>
                        <div class="col-sm-9">
                            <input id="targetUnit" name="targetUnit" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>事由</label>
                    <div class="col-sm-9">
                        <textarea id="reason" name="reason"  class="form-control" type="text" required></textarea>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
        <div class="form-group" >
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                    <label class="col-sm-3  font-noraml"><span style="color: red; "></span>上传图片</label>
                    <div class="file-loading col-sm-9">
                        <input id="fileinput-demo-1" type="file" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>

<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/facReimburseApply";
    var num = $("#num").val();

    $(document).ready(function () {
        $("#fileinput-demo-1").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': prefix + "/uploadList?num=" + num,
            overwriteInitial: false,
            initialPreviewAsData: true,
            previewFileIcon:'图片预览'
        });
    });



    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/tranDetail", $('#form-add').serialize());
        }
    }

    $(function () {
        $("input[type='radio']").on("click",function () {
            if($("input[name='type']:checked").val()=="加班"){
                $("#reason").attr("placeholder","详细写明加班内容");
                $("#ddDate").attr("placeholder","加班时长超过3小时");

            }else{
                $("#reason").attr("placeholder","");
                $("#ddDate").attr("placeholder","");
            }
        })
    })

    var testBsSuggest = $("#user").bsSuggest({
        url: ctx + "system/user/userModel",
        showBtn: false,
        idField: "userName",
        keyField: "userName",
        effectiveFields: ["deptName", "userName"],
        multiWord: true,
        hideOnSelect: true
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword) {
        console.log('onSetSelectValue: ', keyword);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
    });
    function chkPrice(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");
//必须保证第一位为数字而不是.
        obj.value = obj.value.replace(/^\./g,"");
//保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g,".");
//保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
    }
    function chkLast(obj){
// 如果出现非法字符就截取掉
        if(obj.value.substr((obj.value.length - 1), 1) == '.')
            obj.value = obj.value.substr(0,(obj.value.length - 1));
    }
</script>
</body>
</html>
