<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('报销申请添加')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-add">
        <input id="num" name="num" class="form-control-static" type="hidden" th:value="${num}"/>
        <div class="row">
            <div class="form-group ui-sortable-helper col-md-6">
                <label class="col-sm-3 control-label">日期</label>
                <div class="col-sm-9">
                    <input id="ddDate" name="ddDate" class="form-control" type="date">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-sm-3 control-label">类别</label>
                <div class="col-sm-9">
                    <select id="type" name="type">
                        <option value="公出">公出交通费用申请</option>
                        <option value="加班">加班交通费用申请</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">金额</label>
                <div class="col-sm-9">
                    <input id="amount" name="amount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">人员</label>
                <div class="col-sm-9">
                    <input id="user" name="user" class="form-control" type="text">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">出发地</label>
                <div class="col-sm-9">
                    <input id="departure" name="departure" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">目的地</label>
                <div class="col-sm-9">
                    <input id="target" name="target" class="form-control" type="text">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">附单据数</label>
                <div class="col-sm-9">
                    <input id="documentNum" name="documentNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="col-sm-3 control-label">目标单位简称</label>
                    <div class="col-sm-9">
                        <input id="targetUnit" name="targetUnit" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label class="col-sm-3 control-label">事由</label>
                        <div class="col-sm-9">
                            <textarea id="reason" name="reason" class="form-control" type="text"></textarea>
                        </div>
                    </div>
                </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/facReimburseApply";
    var num =$("#num").val();

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/tranDetail", $('#form-add').serialize());
        }
    }

</script>
</body>
</html>
