<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('采购资源申请')" />
	<style>
		table{
			border:1px solid #000000;
		}
		tr{
			border:1px solid #000000;
		}
		td{
			border:1px solid #000000;
		}
	</style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="from-detail" th:object="${xzPurchaseResourceApply}">
			<input id="id" name="id" th:field="*{id}" type="hidden">
			<h4 class="form-header h4">采购申请</h4>
			<div>
				<table id="tab" border="1" style="width:100%;" >
					<tr>
						<th colspan="6">审批单</th>
					</tr>
					<tr>
						<th>用途</th>
						<td colspan="5">[[${xzPurchaseResourceApply.purpose}]]</td>
					</tr>
					<tr>
						<th>申请时间</th>
						<td colspan="2">[[${#dates.format(xzPurchaseResourceApply.subTime, 'yyyy-MM-dd')}]]</td>
						<th>申请人</th>
						<td colspan="2">[[${xzPurchaseResourceApply.applyUserName}]]</td>
					</tr>
					<tr>
						<th colspan="6" style="text-align: center"><span style="font-size:20px;font-weight:bold;color:black;">采购清单</span></th>
					</tr>
					
					<table id="tab2" border="1" style="width:100%;" >
						<tr>
						<th>序号</th>
						<th>物品</th>
						<th>单价</th>
						<th>件数</th>
						<th>合计</th>
						<th>采购明细</th>
					</tr>
					</table>
					<table id="tab3" border="1" style="width:100%;">
					<tr>
						<th colspan="1">审批人</th>
						<th colspan="3">审批意见</th>
						<th colspan="1">审批状态</th>
						<th colspan="1">审批时间</th>
					</tr>
					<tr th:each="item : ${xzApplyProcesses}">
						<td colspan="1" th:text="${@sysUserServiceImpl.selectUserById(item.approverId).userName}"></td>
						<td colspan="3" th:text="${item.remark}"></td>
						<td colspan="1" th:text="${@xzApplyProcessServiceImpl.transferStatus(item.status)}"></td>
						<td colspan="1" th:text="${#dates.format(item.appTime, 'yyyy-MM-dd')}"></td>
					</tr>
				</table>
				</table>
			</div>
		</form>
	</div>
	<div class="row">
        <div class="col-sm-offset-5 col-sm-10">
       		<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关闭</button>
            
        </div>
    </div>
	<div id="contextDiv">

	</div>
	<div th:include="include::footer"></div>
	 <script th:inline="javascript">
		var prefix = ctx + "system/xzPurchaseResourceApply";
		$("#from-detail").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		$(function() {
			//展示数据

			var dataSum=[[${xzPurchaseResourceApply.xzPurchaseApproval}]];
			var data =[[${xzPurchaseResourceApply.xzPurchaseResource}]];
			var str = "";//定义用于拼接的字符串
			var sum=0;
	        for (var i = 0; i < data.length; i++) {
	        	debugger;
	        	sumPrice=data[i].resourcePrice*data[i].resourceCount;
	            //拼接表格的行和列
	            str = "<tr><td>" + (i+1) + "</td><td>" + data[i].resourceName + "</td><td>" + data[i].resourcePrice+"￥" + "</td><td>" 
	            		+ data[i].resourceCount + "</td><td>" + sumPrice +"￥"+ "</td><td>"+data[i].detail+"</td></tr>";
	            //追加到table中
	            $("#tab2").append(str);
	            sum+=sumPrice;
			}
	        str2 = "<tr><td colspan='2' style='text-align: center'>" + "合计" + "</td><td colspan='5'>" + sum+"￥" + "</td></tr>";
            $("#tab2").append(str2);
		});
		
		
		
	</script>
</body>
</html>
