<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div>
            <h4 class="form-header h4">常用收款人信息</h4>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "system/facCommonlyApply";
    $(function () {
        var options = {
            id: "bootstrap-table-1",
            url: prefix + "/list",
            modalName: "对公常显",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '收款人名称',
                    sortable: true
                },
                {
                    field: 'number',
                    title: '收款人账户',
                    sortable: true
                },
                {
                    field: 'userName',
                    title: '收款人开户行',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs  " href="javascript:void(0)" onclick="f(\'' + row.name + '\',\'' + row.number + '\',\'' + row.userName + '\')"><i class="fa fa-edit"></i>使用</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function f(name, number, userName) {
        console.log(parent.document.getElementById("payee"))
        parent.document.getElementById("payee").value = name
        parent.document.getElementById("payeeAccount").value = number
        parent.document.getElementById("payeeBank").value = userName
        $.modal.close();
        $('#payee').val(name);
    }
</script>
</body>
</html>