<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改当当PC匹配')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dangdangPcMatch-edit" th:object="${dangdangPcMatch}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户：</label>
				<div class="col-sm-8">
					<input id="account" name="account" th:field="*{account}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广计划：</label>
				<div class="col-sm-8">
					<input id="plan" name="plan" th:field="*{plan}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广单元：</label>
				<div class="col-sm-8">
					<input id="unit" name="unit" th:field="*{unit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关键词：</label>
				<div class="col-sm-8">
					<input id="keyword" name="keyword" th:field="*{keyword}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remarks" name="remarks" th:field="*{remarks}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道号：</label>
				<div class="col-sm-8">
					<input id="channelId" name="channelId" th:field="*{channelId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">词性：</label>
				<div class="col-sm-8">
					<input id="word" name="word" th:field="*{word}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">二级类目：</label>
				<div class="col-sm-8">
					<input id="secondKind" name="secondKind" th:field="*{secondKind}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">三级类目：</label>
				<div class="col-sm-8">
					<input id="thiredKind" name="thiredKind" th:field="*{thiredKind}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">后台组合：</label>
				<div class="col-sm-8">
					<input id="back" name="back" th:field="*{back}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">uv组合：</label>
				<div class="col-sm-8">
					<input id="joinUv" name="joinUv" th:field="*{joinUv}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/dangdangPcMatch";
		$("#form-dangdangPcMatch-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-dangdangPcMatch-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
