<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('申请记录')" />
	<script type="text/javascript">
		function toView(approvalId){
			var url = $.table._option.toViewUrl.replace("{approvalId}",approvalId);
			$.modal.open("查看申请", url);
		}
		function agree(id,remark){
		    $.modal.open('审批', prefix + "/approvalModer?ids="+id+"&remark="+remark, '500', '320');
			
			/* var data = { "ids": id };
	 	    $.operate.submit("/system/userApproval/agree", "post", "json", data); */
		}
		function reject(id){
			var data = { "ids": id };
     	    $.operate.submit("/system/userApproval/reject", "post", "json", data);
		}
	</script>
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<!-- <li>
								申请id：<input type="text" name="applyerId"/>
							</li> -->
							<li>
								申请人：<input type="text" name="applyerName"/>
							</li>
							
							<li>
								部门：<input type="text" name="deptName"/>
							</li>
							
							<li>
								申请类型：<select name="applyType" th:with="type=${@dict.getType('sys_user_apply_type')}">
									<option value="">---------------请选择---------------</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							
							<li>
								申请状态：<select name="applyState" th:with="type=${@dict.getType('sys_user_apply_state')}">
									<option value="">---------------请选择---------------</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
	    var editFlag = [[${@permission.hasPermi('system:userApply:edit')}]];
	    var removeFlag = [[${@permission.hasPermi('system:userApply:remove')}]];
	    var prefix = ctx + "system/userApproval";
        $(function() {
            var options = {
                url: prefix + "/allList",
                toViewUrl: "/system/userApproval/toView/{approvalId}",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "审批",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'approvalId', 
					title : '审批记录ID',
					visible: false
				},
				{
 					field : 'applyId', 
 					title : '申请ID',
 					visible: false,
 					sortable: false
 				},
				{
					field : 'applyerName', 
					title : '申请人',
					sortable: false
				},
				{
					field : 'deptName', 
					title : '部门',
					sortable: false
				},
				{
					field : 'applyType', 
					title : '申请类型',
					sortable: false
				},
				{
					field : 'leaveType', 
					title : '请假类型',
					sortable: false
				},
				{
					field : 'applyTime', 
					title : '申请时间',
					sortable: false
				},
				{
					field : 'timelengthPlus', 
					title : '时长',
					sortable: false
				},
				{
					field : 'approverName', 
					title : '审批人',
					sortable: false
				},
				
				{
					field : 'applyState', 
					title : '审批状态',
					sortable: false
				},
				
				{
					field : 'approverId', 
					title : '审批人ID',
					visible: false,
					sortable: false
					
				},

				{
					field : 'remark', 
					title : '备注',
					visible: false,
					sortable: false
					
				}
				,
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + '" href="#" onclick="toView(\'' + row.approvalId + '\')"><i class="fa fa-edit"></i>查看</a> ');
/* 		            	actions.push('<a class="btn btn-warning btn-xs ' + '" href="#" onclick="agree(\'' + row.approvalId + '\',\'' + row.remark + '\')"><i class="fa fa-check-square-o"></i>审批</a> ');
 */						return actions.join('');
		            }
		        } 
				]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>