<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改审批')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-userApproval-edit" th:object="${userApproval}">
            <input id="approvalId" name="approvalId" th:field="*{approvalId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请ID：</label>
				<div class="col-sm-8">
					<input id="applyId" name="applyId" th:field="*{applyId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审批状态（1通过，2驳回）：</label>
				<div class="col-sm-8">
					<input id="approvalState" name="approvalState" th:field="*{approvalState}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审批人ID：</label>
				<div class="col-sm-8">
					<input id="approverId" name="approverId" th:field="*{approverId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">可视性（0不可见，1可见）：</label>
				<div class="col-sm-8">
					<input id="
visible" name="
visible" th:field="*{
visible}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/userApproval";
		$("#form-userApproval-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-userApproval-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
