<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('资产分配记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								资产ID：<input type="text" name="assetId"/>
							</li>

							<li>
								发人分ID：<input type="text" name="distributor"/>
							</li>

							<li>
								接收人ID：<input type="text" name="recipient"/>
							</li>

							<li>
								分发资产日期：<input type="text" name="distributionDate"/>
							</li>

							<li>
								认确领用日期：<input type="text" name="confirmDate"/>
							</li>

							<li>
								计划归还日期：<input type="text" name="planReturnDate"/>
							</li>

							<li>
								是否认领：<input type="text" name="isClaim"/>
							</li>

							<li>
								否是分配：<input type="text" name="isMsg"/>
							</li>

							<li>
								分配类型：<input type="text" name="sourceType"/>
							</li>

							<li>
								创建人：<input type="text" name="createBy"/>
							</li>

							<li>
								创建时间：<input type="text" name="createTime"/>
							</li>

							<li>
								改人修：<input type="text" name="updateBy"/>
							</li>

							<li>
								修改时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:xzAssetHandRecord:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:xzAssetHandRecord:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:xzAssetHandRecord:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:xzAssetHandRecord:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:xzAssetHandRecord:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:xzAssetHandRecord:remove')}]];
        var prefix = ctx + "system/xzAssetHandRecord";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "资产分配记录",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'assetId', 
					title : '资产ID',
					sortable: true
				},
				{
					field : 'distributor', 
					title : '发人分ID',
					sortable: true
				},
				{
					field : 'recipient', 
					title : '接收人ID',
					sortable: true
				},
				{
					field : 'distributionDate', 
					title : '分发资产日期',
					sortable: true
				},
				{
					field : 'confirmDate', 
					title : '认确领用日期',
					sortable: true
				},
				{
					field : 'planReturnDate', 
					title : '计划归还日期',
					sortable: true
				},
				{
					field : 'isClaim', 
					title : '是否认领',
					sortable: true
				},
				{
					field : 'isMsg', 
					title : '否是分配',
					sortable: true
				},
				{
					field : 'sourceType', 
					title : '分配类型',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建人',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateBy', 
					title : '改人修',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '修改时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>