<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商机列表')" />
	
	<script type="text/javascript">
	
		function addTrace(businessId){
            var url = $.table._option.addTraceUrl.replace("{businessId}",businessId);
			$.modal.open("添加跟进信息", url);
		}
	
	</script>
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								公司名称：<input type="text" name="companyName"/>
							</li>

							<li>
								简称：<input type="text" name="shortName"/>
							</li>

							<li>
								创建人：<input type="text" name="createBy"/>
							</li>

							<li>
								商机归属人：<input type="text" name="businessUser"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addTab()" > 
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()">
					<i class="fa fa-edit"></i> 修改
				</a>
<!--				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()">
					<i class="fa fa-remove"></i> 删除
				</a>
 				<a class="btn btn-warning" onclick="$.table.exportExcel()">
						<i class="fa fa-download"></i> 导出
				 </a> -->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "system/ywBusiness";
		
		
		// 获取数据字典数据
		var datasZz = [[${@dict.getType('business_responsibility')}]];
		var datasZw = [[${@dict.getType('business_position')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				addTraceUrl: "/system/ywTract/add/{businessId}",
				addContract: "/system/ywContract/add/{businessId}",
				onDblClickRow: onDblClickRow,
                modalName: "商机",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'businessId', 
					title : 'ID',
					visible: false
				},
				{
					field : 'companyName', 
					title : '公司名称'
				},
				{
					field : 'advertiser', 
					title : '广告主'
				},
				{
					field : 'linkname1', 
					title : '联系人1'
				},
				{
					field : 'position1', 
					title : '职位',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(datasZw, value);
					}
				},
				{
					field : 'responsibility1', 
					title : '职责',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(datasZz, value);
					}
				},
				{
					field : 'linkTel1', 
					title : '联系电话'
				},
				{
					field : 'createTime', 
					title : '创建时间'
				},

				{
					field : 'businessGrade', 
					title : '商机评分'
				},
				{
					field : 'createBy', 
					title : '商机创建人'
				},
				{
					field : 'businessUser', 
					title : '商机归属人'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		                actions.push('<a class="btn btn-success btn-xs" href="#" onclick="addContract(\'' + row.businessId + '\')"> 下   单 </a> '); 
                        actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="addTrace(\'' + row.businessId + '\')">添加跟进</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
		function addContract(businessId){
            var url = $.table._option.addContract.replace("{businessId}",businessId);
			$.modal.open("添加下单信息", url);
		}
        
        function onDblClickRow(row, $element){
        	
            var url = $.table._option.updateUrl.replace("{id}",row.businessId);
			$.modal.open("商机详情", url);
        }
    </script>
</body>
</html>