<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
		<marquee><font size="4px">欢迎加入新普大家庭！！！</font></marquee>
    </div>
   
	 <div th:style="'margin-left:30px;display:'+${unApprovalNum==0 ? 'none':'block'}">
	 	<div class="col-sm-5">
	 		<br>
            <div style="font-size:16px;">OA系统待审批条数：<a href="/system/userApproval"><font color="red">[[${unApprovalNum}]]</font></a>条
            （请假：[[${holidayNum}]]、加班：[[${overtimeNum}]]、外出：[[${outNum}]]、销假：[[${cancelNum}]]）</div>
        </div>
	 </div>
	 
    <div th:style="'margin-left:30px;display:'+${facUserNum==0 ? 'none':'block'}">
        <div class="col-sm-5">
            <br>
            <div style="font-size:16px;">财务系统待审批条数：<a href="/system/facUserApproval"><font color="red">[[${facUserNum}]]</font></a>条
            </div>
        </div>
    </div>
    
        
    <div style="margin-left:30px;display:block">
        <div class="col-sm-5">
            <br>
            <a href="/system/oaFileUpload/common/download/resource">点击下载员工手册</a>
        </div>
    </div>
    
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
