<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增财务文件上传记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-facFileUpload-add">
			<div style="margin-left:30px;display:block">
				<div class="col-sm-5">
					<br>
					<p style="color: red">新版员工手册从2020年1月1日起执行，各项制度改变较多，请大家自行下载了解。</p>
					<br>
					<a href="/system/oaFileUpload/common/download/resource" style="font-size:15px">点击下载员工手册</a>
					<br><br>
					<p style="color: red">2020年1月13日全员（无特殊部门）起执行员工考勤新制度，请点击下方链接下载。</p>
					<br>
					<a href="/system/oaFileUpload/common/download/resource2" style="font-size:15px">点击下载员工考勤制度（新）</a>
					<br><br>
					<p style="color: red">2020年07月23日开始执行《新普互联岗位职级及任职资格管理办法》V1.0，请点击下方链接下载。</p>
					<br>
					<a href="/system/oaFileUpload/common/download/resource3" style="font-size:15px">点击下载岗位职级及任职资格管理办法 </a>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/facFileUpload"
		$("#form-facFileUpload-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-facFileUpload-add').serialize());
	        }
	    }
	</script>
</body>
</html>
