<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增团建申请')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-facCollectApply-add">
        <input id="id" name="id" th:value="${facCollectApply.id}" hidden="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">团建费编号：</label>
            <div class="col-sm-8">
                <input id="num" name="num" class="form-control" type="text" th:value="${num}" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>团建名称：</label>
            <div class="col-sm-8">
                <input id="leagueProject" name="leagueProject" class="form-control" type="text" th:value="${facCollectApply.leagueProject}" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">所属部门：</label>
            <div class="col-sm-8">
                <input name="deptName" autocomplete="off" placeholder="悦维联动" class="form-control"
                       type="text" maxlength="30" readonly="readonly" th:value="${deptName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>开始日期：</label>
            <div class="col-sm-8">
                <input id="startDate" name="startDate" class="time-input form-control" th:value="${#dates.format(facCollectApply.startDate,'yyyy-MM-dd')}"  required  readonly style="background-color: white">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>结束日期：</label>
            <div class="col-sm-8">
                <input id="endDate" name="endDate" class="time-input form-control" th:value="${#dates.format(facCollectApply.endDate,'yyyy-MM-dd')}" required  readonly style="background-color: white">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>参与人：</label>
            <div class="col-sm-8">
                <input id="participants" name="participants" class="form-control" type="text" th:value="${facCollectApply.participants}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>参与人数：</label>
            <div class="col-sm-8">
                <input id="parNumber" name="parNumber" class="form-control" type="text" th:value="${facCollectApply.parNumber}"  onkeyup="chkPrice(this);" onblur="chkLast(this)" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>活动地点：</label>
            <div class="col-sm-8">
                <input id="activityPlace" name="activityPlace" class="form-control" type="text" th:value="${facCollectApply.activityPlace}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>活动形式：</label>
            <div class="col-sm-8">
                <input id="activityForm" name="activityForm" class="form-control" type="text" th:value="${facCollectApply.activityForm}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; "></span>备注：</label>
            <div class="col-sm-8">
                <textarea id="remarks" name="remarks" class="form-control" th:text="${facCollectApply.remarks}" type="text" ></textarea>
            </div>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <a id="addzhusu" class="btn btn-success" onclick="zAdd()">
                <i class="fa fa-plus"></i> 团建费信息
            </a>
            <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/facCollectApply";
    var prefixs = ctx + "system/facCollectInformation";
    var num = $("#num").val();

    function zAdd() {
        $.modal.open("团建费报销详细信息", "/system/facCollectInformation/add?num=" + num);
    }
    $("#form-facCollectApply-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });
    function submitHandler() {
        var res = false;
        if ($.validate.form()) {
            var config = {
                url: prefix + "/add",
                type: "post",
                dataType: "json",
                async: false,
                data: $('#form-facCollectApply-add').serialize(),
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if(result.code==0){
                        res = true;
                    }else{
                        res = false;
                    }
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config);
        }
        return res;
    }
    function sub() {
        var res = false;
        if ($.validate.form()) {
            var config = {
                url: prefix + "/addSove",
                type: "post",
                dataType: "json",
                async: false,
                data: $('#form-facCollectApply-add').serialize(),
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function(result) {
                    if(result.code==0){
                        res = true;
                    }else{
                        res = false;
                    }
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config);
        }
        return res;
    }
    $(function() {
        var options = {
            id: "bootstrap-table-1",
            url: prefixs + "/query",
            updateUrl: prefixs + "/edit/{id}",
            removeUrl: prefixs + "/remove",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modalName: "团建费报销",
            columns: [
                {
                    field : 'id',
                    title : 'id',
                    visible: false
                },
                {
                    field : 'num',
                    title : '项目编号',
                    sortable: false
                },
                {
                    field : 'name',
                    title : '项目名称',
                    sortable: false
                },
                {
                    field : 'amount',
                    title : '申请金额',
                    sortable: false
                },
                {
                    field : 'money',
                    title : '实际金额',
                    sortable: false,
                    visible: false
                },
                {
                    field : 'number',
                    title : '单据数',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function chkPrice(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");
//必须保证第一位为数字而不是.
        obj.value = obj.value.replace(/^\./g,"");
//保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g,".");
//保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
    }
    function chkLast(obj){
// 如果出现非法字符就截取掉
        if(obj.value.substr((obj.value.length - 1), 1) == '.')
            obj.value = obj.value.substr(0,(obj.value.length - 1));
    }
</script>
</body>
</html>
