<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改团建申请')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-facCollectApply-edit" th:object="${facCollectApply}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>团建费编号：</label>
				<div class="col-sm-8">
					<input id="num" name="num" th:field="*{num}" class="form-control" type="text" readonly>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>所属部门：</label>
				<div class="col-sm-8">
					<input id="deptName" name="deptName" th:field="*{deptName}" class="form-control" type="text" readonly>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>申请金额：</label>
				<div class="col-sm-8">
					<input id="amount" name="amount"  th:field="*{amount}" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>开始日期：</label>
				<div class="col-sm-8">
					<input id="startDate" name="startDate" th:value="${#dates.format(facCollectApply.startDate,'yyyy-MM-dd')}" class="time-input form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>结束日期：</label>
				<div class="col-sm-8">
					<input id="endDate" name="endDate" th:value="${#dates.format(facCollectApply.endDate,'yyyy-MM-dd')}" class="time-input form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>参与人：</label>
				<div class="col-sm-8">
					<input id="participants" name="participants" th:field="*{participants}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>参与人数：</label>
				<div class="col-sm-8">
					<input id="parNumber" name="parNumber" th:field="*{parNumber}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>活动地点：</label>
				<div class="col-sm-8">
					<input id="activityPlace" name="activityPlace" th:field="*{activityPlace}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>活动形式：</label>
				<div class="col-sm-8">
					<input id="activityForm" name="activityForm" th:field="*{activityForm}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remarks" name="remarks" th:field="*{remarks}" class="form-control" type="text">
				</div>
			</div>


<!--			<div class="col-sm-12 select-table table-striped">-->
<!--				<a id="addzhusu" class="btn btn-success" onclick="zAdd()">-->
<!--					<i class="fa fa-plus"></i> 团建费报销信息-->
<!--				</a>-->
<!--				<table id="bootstrap-table-1" data-mobile-responsive="true"></table>-->
<!--			</div>-->
		</form>
    </div>

    <div th:include="include::footer"></div>
	<th:block th:include="include :: bootstrap-suggest-js" />
	<th:block th:include="include :: bootstrap-select-js" />
    <script type="text/javascript">
		var prefix = ctx + "system/facCollectApply";
		var prefixs = ctx + "system/facCollectInformation";
		var num = $("#num").val();

		function zAdd() {
			$.modal.open("团建费报销详细信息", "/system/facCollectInformation/add?num=" + num);
		}
		$(function() {
			var options = {
				id: "bootstrap-table-1",
				url: prefixs + "/query",
				updateUrl: prefixs + "/edit/{id}?editType=baoxiao",
				removeUrl: prefixs + "/remove",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				modalName: "团建费报销",
				columns: [
					{
						field : 'id',
						title : 'id',
						visible: false
					},
					{
						field : 'num',
						title : '项目编号',
						sortable: false
					},
					{
						field : 'name',
						title : '项目名称',
						sortable: false
					},
					{
						field : 'amount',
						title : '申请金额',
						sortable: false
					},
					{
						field : 'money',
						title : '报销金额',
						sortable: false
					},
					{
						field : 'number',
						title : '单据数',
						sortable: false
					},
					{
						title: '操作',
						align: 'center',
						formatter: function(value, row, index) {
							var actions = [];
							actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
							actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
							return actions.join('');
						}
					}]
			};
			$.table.init(options);
		});

		$("#form-facCollectApply-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/addEdit", $('#form-facCollectApply-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
