<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input id="id" name="id" class="form-control-static" type="hidden" th:value="${id}"/>
        <div>
            <div class="col-sm-12 select-table table-striped">
                  <h4 class="form-header h4">团建申请信息</h4>
                <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "system/facCollectApply";
    var id = $("#id").val();
    $(function () {
        var options = {
            id: "bootstrap-table-1",
            url: prefix + "/query?id=" + id,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            modalName: "团建申请",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'num',
                    title: '团建费编号',
                    sortable: true
                },
                {
                    field: 'deptName',
                    title: '所属部门',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '申请金额',
                    sortable: true
                },
                {
                    field: 'applicationTime',
                    title: '申请时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return  newDate;
                    }
                },
                {
                    field: 'startDate',
                    title: '开始日期',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return  newDate;
                    }
                },
                {
                    field: 'endDate',
                    title: '结束日期',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var   newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return  newDate;
                    }
                },
                {
                    field: 'leagueProject',
                    title: '团建项目',
                    sortable: true
                },
                {
                    field: 'participants',
                    title: '参与人',
                    sortable: true
                },
                {
                    field: 'parNumber',
                    title: '参与人数',
                    sortable: true
                },
                {
                    field: 'activityPlace',
                    title: '活动地点',
                    sortable: true
                },
                {
                    field: 'activityForm',
                    title: '活动形式',
                    sortable: true
                },
                {
                    field: 'remarks',
                    title: '备注',
                    sortable: true
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>