<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style>
    .select-list li .time-input {
        display: inline;
    }
</style>
<head>
    <th:block th:include="include :: header('团建申请列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>


                        <li>
                            团建项目：<input type="text" name="leagueProject"/>
                        </li>

                        <li>
                            活动形式：<input type="text" name="activityForm"/>
                        </li>
                        <li>
                            申请金额：<input type="text" name="amount"/>
                        </li>
                        <li>
                            申请时间：<input  class="time-input" name="applicationTime"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/facCollectApply";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            facCollectApplyDetailUrl: "/system/facCollectApply/detail/{id}",
            onDblClickRow: onDblClickRow,
            modalName: "团建申请",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'num',
                    title: '团建费编号',
                    sortable: true
                }, {
                    field: 'leagueProject',
                    title: '团建名称',
                    sortable: true
                },
                {
                    field: 'deptName',
                    title: '所属部门',
                    sortable: true
                },
                {
                    field: 'applicantName',
                    title: '申请人',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '申请金额',
                    sortable: true
                },
                {
                    field: 'applicationTime',
                    title: '申请时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'startDate',
                    title: '开始日期',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'endDate',
                    title: '结束日期',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var newDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(value);
                        return newDate;
                    }
                },
                {
                    field: 'parNumber',
                    title: '参与人数',
                    sortable: true
                },
                {
                    field: 'activityPlace',
                    title: '活动地点',
                    sortable: true
                },
                {
                    field: 'approver',
                    title: '当前审批人',
                    sortable: true
                }, {
                    field: 'approvalStatus',
                    title: '当前审批状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "审批成功";
                        } else if (value == 2) {
                            return "驳回";
                        } else {
                            return "待审批";
                        }
                    }
                },
                {
                    field: 'status',
                    title: '审批状态',
                    visible: false,
                    formatter: function (value, row, index) {
                        if (value == 1) {
                            return "审批成功";
                        } else if (value == 2) {
                            return "驳回";
                        } else if (value == 3) {
                            return "审批中";
                        } else if (value == 5) {
                            return "待提交";
                        } else {
                            return "待审批";
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.approvalStatus == 1) {
                            //审批成功
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="print(\'' + row.num + '\')"><i class="fa fa-detail"></i>查看</a>');
                            if (row.status == 1) {
                                actions.push('<a class="btn btn-primary btn-xs " href="javascript:void(0)" onclick="baoxiao(\'' + row.id + '\')"> </i>报销</a> ');
                            }
                        } else if (row.status == 2) {
                            //审批失败
                        } else if (row.status == 3) {
                            //审批中
                        } else if (row.status == 5) {
                            actions.push('<a class="btn btn-warning btn-xs " href="javascript:void(0)" onclick="submitHandler(\'' + row.id + '\')"> </i>提交</a> ');
                            //待审批
                            actions.push('<a class="btn-info btn-xs " href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        } else {
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function submitHandler(id) {
        $.modal.open("保存", "/system/facCollectApply/addSave?id=" + id);
    }

    function baoxiao(id) {
        $.modal.open("报销添加", "/system/facCollectApply/baoxiaoEdit?id=" + id);
    }

    function onDblClickRow(row, $element) {
        var url = $.table._option.facCollectApplyDetailUrl.replace("{id}", row.id);
        $.modal.openFull("详情", url);

    }

    function add() {
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "提交预览",
            content: "/system/facCollectApply/add",
            btn: ['提交', '保存', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {
                var config = {

                    type: "post",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    async: false,
                    data: '',
                    success: function () {
                        var body = layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.submitHandler();
                        layer.close(index);
                    }
                };
                var result = window.frames[0].document.getElementById("leagueProject").value;
                var result3 = window.frames[0].document.getElementById("startDate").value;
                var result4 = window.frames[0].document.getElementById("endDate").value;
                var result5 = window.frames[0].document.getElementById("participants").value;
                var result6 = window.frames[0].document.getElementById("parNumber").value;
                var result7 = window.frames[0].document.getElementById("activityPlace").value;
                var result8 = window.frames[0].document.getElementById("activityForm").value;

                if (result == '') {
                    layer.msg("请填写团建名称")
                } else if (result3 == '') {
                    layer.msg("请填写开始日期")
                } else if (result4 == '') {
                    layer.msg("请填写结束日期")
                } else if (result5 == '') {
                    layer.msg("请填写参与人")
                } else if (result6 == '') {
                    layer.msg("请填写参与人数")
                } else if (result7 == '') {
                    layer.msg("请填写活动地点")
                } else if (result8 == '') {
                    layer.msg("请填写活动形式")
                } else {
                    $.ajax(config);
                    window.location.reload();
                }
            },
            btn2: function (index, layero) {
                var config = {
                    type: "post",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    async: false,
                    data: '',
                    success: function () {
                        var body = layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.sub();
                        layer.close(index);
                    }
                };
                var result = window.frames[0].document.getElementById("leagueProject").value;
                var result3 = window.frames[0].document.getElementById("startDate").value;
                var result4 = window.frames[0].document.getElementById("endDate").value;
                var result5 = window.frames[0].document.getElementById("participants").value;
                var result6 = window.frames[0].document.getElementById("parNumber").value;
                var result7 = window.frames[0].document.getElementById("activityPlace").value;
                var result8 = window.frames[0].document.getElementById("activityForm").value;

                if (result == '') {
                    layer.msg("请填写团建名称")
                } else if (result3 == '') {
                    layer.msg("请填写开始日期")
                } else if (result4 == '') {
                    layer.msg("请填写结束日期")
                } else if (result5 == '') {
                    layer.msg("请填写参与人")
                } else if (result6 == '') {
                    layer.msg("请填写参与人数")
                } else if (result7 == '') {
                    layer.msg("请填写活动地点")
                } else if (result8 == '') {
                    layer.msg("请填写活动形式")
                } else {
                    $.ajax(config);
                    window.location.reload();
                }
                return false;
            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);
    }

    function mSave(url, data, callback) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.closeLoading();
                $.modal.enable();
                $.modal.msg(result.msg);
                $.modal.close();
            }
        };
        $.ajax(config)
    }

    function f(id) {
        $.modal.openTab("编辑" + $.table._option.modalName, prefix + "/detail?id=" + id);
    }

    function print(id) {
        // $.modal.openTab("编辑" + $.table._option.modalName, prefix + "/detail?id=" + id);
        var width;
        var height;
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        var index = layer.open({
            type: 2,
            area: [width, height],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "打印预览",
            content: "/system/print/preview?type=tuanjian&num=" + id,
            // content: "/system/print/view?type=jiekuan&num="+id,
            btn: ['打印', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function () {
                var html1 = "";
                var html2 = "";
                var config = {
                    url: "/system/print/preview?type=tuanjian&num=" + id,
                    type: "get",
                    dataType: "html",
                    async: false,
                    data: "",
                    success: function (result) {
                        html1 = html1 + result;
                    }
                };
                $.ajax(config)

                printWindow = window.open('', '_blank');
                printWindow.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title></title><style>@page{margin-bottom:0mm;margin-top:2mm}</style></head><body>');

                //这里是向新建的窗口写入HTML的head信息，可引入自己的js和css，以供打印时样式与网页中显示的一致

                printWindow.document.write('<div style="page-break-after:always; width:100%; height:100%;">' + html1 + '</div>');

                //这里向新建的窗体中写入BODY的内容，注意，外边加的额外DIV是有必要的，它里面CSS可以控制打印时不会出现空白页

                printWindow.document.write("</body></html>");//这里向新建的窗体写入HTML的结束标记

                printWindow.document.close();//关闭新建窗口的文档输出流，否则下面的打印语句无效

                printWindow.print();//打印当前新建窗口中的内容

                printWindow.close();//关闭新建的窗口
            },
            cancel: function (index) {
                return true;
            }
        });
        layer.full(index);
    }


</script>
</body>
</html>