<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改玖富展现')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-jfZhanxian-edit" th:object="${jfZhanxian}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<input id="frontDate" name="frontDate" th:field="*{frontDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">编码：</label>
				<div class="col-sm-8">
					<input id="code" name="code" th:field="*{code}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">组合：</label>
				<div class="col-sm-8">
					<input id="groupword" name="groupword" th:field="*{groupword}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">展现：</label>
				<div class="col-sm-8">
					<input id="show" name="show" th:field="*{show}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">点击：</label>
				<div class="col-sm-8">
					<input id="click" name="click" th:field="*{click}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">消费：</label>
				<div class="col-sm-8">
					<input id="consume" name="consume" th:field="*{consume}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户数：</label>
				<div class="col-sm-8">
					<input id="account" name="account" th:field="*{account}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开卡数：</label>
				<div class="col-sm-8">
					<input id="card" name="card" th:field="*{card}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">提交人数：</label>
				<div class="col-sm-8">
					<input id="putin" name="putin" th:field="*{putin}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下单数：</label>
				<div class="col-sm-8">
					<input id="placeOrder" name="placeOrder" th:field="*{placeOrder}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">激活数：</label>
				<div class="col-sm-8">
					<input id="activate" name="activate" th:field="*{activate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="channle" name="channle" th:field="*{channle}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户：</label>
				<div class="col-sm-8">
					<input id="accountname" name="accountname" th:field="*{accountname}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计划：</label>
				<div class="col-sm-8">
					<input id="plan" name="plan" th:field="*{plan}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单元：</label>
				<div class="col-sm-8">
					<input id="unit" name="unit" th:field="*{unit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关键词：</label>
				<div class="col-sm-8">
					<input id="keyword" name="keyword" th:field="*{keyword}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/jfZhanxian";
		$("#form-jfZhanxian-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-jfZhanxian-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
