<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增北汽展现')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bqZhanxian-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">月份：</label>
				<div class="col-sm-8">
					<input id="bqMonth" name="bqMonth" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<input id="bqDate" name="bqDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端展现：</label>
				<div class="col-sm-8">
					<input id="mdShowdata" name="mdShowdata" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端点击：</label>
				<div class="col-sm-8">
					<input id="mdClick" name="mdClick" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端消费：</label>
				<div class="col-sm-8">
					<input id="mdCost" name="mdCost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端品宣消费：</label>
				<div class="col-sm-8">
					<input id="mdPxcost" name="mdPxcost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端CTR：</label>
				<div class="col-sm-8">
					<input id="mdCtr" name="mdCtr" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端CPC：</label>
				<div class="col-sm-8">
					<input id="mdCpc" name="mdCpc" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端留资：</label>
				<div class="col-sm-8">
					<input id="mdOrderCount" name="mdOrderCount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">M端留资成本：</label>
				<div class="col-sm-8">
					<input id="mdCostof" name="mdCostof" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端展现：</label>
				<div class="col-sm-8">
					<input id="pcShowdata" name="pcShowdata" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端点击：</label>
				<div class="col-sm-8">
					<input id="pcClick" name="pcClick" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端消费：</label>
				<div class="col-sm-8">
					<input id="pcCost" name="pcCost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端品宣消费：</label>
				<div class="col-sm-8">
					<input id="pcPxcost" name="pcPxcost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端CTR：</label>
				<div class="col-sm-8">
					<input id="pcCtr" name="pcCtr" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端CPC：</label>
				<div class="col-sm-8">
					<input id="pcCpc" name="pcCpc" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端留资：</label>
				<div class="col-sm-8">
					<input id="pcOrderCount" name="pcOrderCount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC端留资成本：</label>
				<div class="col-sm-8">
					<input id="pcCostof" name="pcCostof" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端展现：</label>
				<div class="col-sm-8">
					<input id="allShowdata" name="allShowdata" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端点击：</label>
				<div class="col-sm-8">
					<input id="allClick" name="allClick" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端消费：</label>
				<div class="col-sm-8">
					<input id="allCost" name="allCost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端品宣消费：</label>
				<div class="col-sm-8">
					<input id="allPxcost" name="allPxcost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端CTR：</label>
				<div class="col-sm-8">
					<input id="allCtr" name="allCtr" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端CPC：</label>
				<div class="col-sm-8">
					<input id="allCpc" name="allCpc" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端留资：</label>
				<div class="col-sm-8">
					<input id="allOrderCount" name="allOrderCount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">PC+M端留资成本：</label>
				<div class="col-sm-8">
					<input id="allCostof" name="allCostof" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/bqZhanxian"
		$("#form-bqZhanxian-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-bqZhanxian-add').serialize());
	        }
	    }
	</script>
</body>
</html>
