<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('北汽展现列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
				<input id="selectflag" name = "selectflag"  type="hidden"/>
					<div class="select-list">
						<ul>
							<!-- <li>
								月份：<input type="text" name="bqMonth"/>
							</li>

							<li>
								日期：<input type="text" name="bqDate"/>
							</li> -->
							
							<li>
								<!-- <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a> -->
								<a class="btn btn-primary btn-rounded btn-sm" onclick="method1(0);$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(1);$.table.search()"><i class="fa fa-search"></i>&nbsp;账户维度汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(2);$.table.search()"><i class="fa fa-search"></i>&nbsp;计划维度汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(3);$.table.search()"><i class="fa fa-search"></i>&nbsp;单元维度汇总</a>
								 <a class="btn btn-primary btn-rounded btn-sm" onclick="method1(4);$.table.search()"><i class="fa fa-search"></i>&nbsp;关键词维度汇总</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="createData()" >
					<i class="fa fa-plus"></i> 生成数据
				</a>
				<a class="btn btn-danger" onclick="deleteAll()" >
					<i class="fa fa-remove"></i> 清除数据
				</a>
				<a class="btn btn-warning" onclick="method1(0);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出汇总
				</a>
				<a class="btn btn-warning" onclick="method1(1);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出账户维度
				</a>
				<a class="btn btn-warning" onclick="method1(2);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出计划维度
				</a>
				<a class="btn btn-warning" onclick="method1(3);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出单元维度
				</a>
				<a class="btn btn-warning" onclick="method1(4);$.table.exportExcel()" >
						<i class="fa fa-download"></i> 导出关键词维度
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:bqZhanxian:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bqZhanxian:remove')}]];
        var prefix = ctx + "system/bqZhanxian";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/deleteAllBqZhanxian",
				exportUrl: prefix + "/export",
				createDataUrl: prefix + "/createBqZhanxianData",
                modalName: "北汽展现",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
					visible: false
				},
				{
					field : 'bqMonth', 
					title : '月份',
					sortable: true
				},
				{
					field : 'bqDate', 
					title : '日期',
					sortable: true
				},
				{
					field : 'mdShowdata', 
					title : 'M端展现',
					sortable: true
				},
				{
					field : 'mdClick', 
					title : 'M端点击',
					sortable: true
				},
				{
					field : 'mdCost', 
					title : 'M端消费',
					sortable: true
				},
				{
					field : 'mdPxcost', 
					title : 'M端品宣消费',
					sortable: true
				},
				{
					field : 'mdCtr', 
					title : 'M端CTR',
					sortable: true
				},
				{
					field : 'mdCpc', 
					title : 'M端CPC',
					sortable: true
				},
				{
					field : 'mdOrderCount', 
					title : 'M端留资',
					sortable: true
				},
				{
					field : 'mdCostof', 
					title : 'M端留资成本',
					sortable: true
				},
				{
					field : 'pcShowdata', 
					title : 'PC端展现',
					sortable: true
				},
				{
					field : 'pcClick', 
					title : 'PC端点击',
					sortable: true
				},
				{
					field : 'pcCost', 
					title : 'PC端消费',
					sortable: true
				},
				{
					field : 'pcPxcost', 
					title : 'PC端品宣消费',
					sortable: true
				},
				{
					field : 'pcCtr', 
					title : 'PC端CTR',
					sortable: true
				},
				{
					field : 'pcCpc', 
					title : 'PC端CPC',
					sortable: true
				},
				{
					field : 'pcOrderCount', 
					title : 'PC端留资',
					sortable: true
				},
				{
					field : 'pcCostof', 
					title : 'PC端留资成本',
					sortable: true
				},
				{
					field : 'allShowdata', 
					title : 'PC+M端展现',
					sortable: true
				},
				{
					field : 'allClick', 
					title : 'PC+M端点击',
					sortable: true
				},
				{
					field : 'allCost', 
					title : 'PC+M端消费',
					sortable: true
				},
				{
					field : 'allPxcost', 
					title : 'PC+M端品宣消费',
					sortable: true
				},
				{
					field : 'allCtr', 
					title : 'PC+M端CTR',
					sortable: true
				},
				{
					field : 'allCpc', 
					title : 'PC+M端CPC',
					sortable: true
				},
				{
					field : 'allOrderCount', 
					title : 'PC+M端留资',
					sortable: true
				},
				{
					field : 'allCostof', 
					title : 'PC+M端留资成本',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        function createData(){
        	$.modal.loading("数据加载中");
        	var formData = new FormData();
			$.ajax({
				url: $.table._option.createDataUrl,
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
				type: 'POST',
				success: function (result) {
					$.modal.alertSuccess(result.msg);
					$.modal.closeLoading();
				}
			});
        }
        
        function  method1(f){
     	   $("#selectflag").val(f);
        }
        
        function deleteAll(){
           	
           	$.modal.confirm("确定清除所有展示数据吗？", function() {
                   var url = $.table._option.removeUrl ;
                   $.operate.submit(url, "post", "json", null);
           	});
           	
        }
    </script>
</body>
</html>