<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('修改外出申请')" />
	<th:block th:include="include :: datetimepicker-css" />
	<th:block th:include="include :: jsonview-css" />
	
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m-t" id="editForm" th:object="${userApply}">
		<input id="applyId" name="applyId" th:field="${userApply.applyId}"  type="hidden">
        <input id="applyType" name="applyType" th:field="${userApply.applyType}"  type="hidden">
            
		<div class="form-group">
			<label class="col-sm-2 control-label"><span style="color: red; ">*</span>开始时间：</label>
			<div class="col-sm-8">
				<div class="select-time" style="width: 100%">
                	<input id="starttime" name="starttime" class="time-input" type="text" th:value="${#dates.format(userApply.starttime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" required>
                </div><span id="p01"></span>
			</div>
		</div>		
				
		<div class="form-group">
			<label class="col-sm-2 control-label"><span style="color: red; ">*</span>结束时间：</label>
			<div class="col-sm-8">
                <input id="endtime" name="endtime" class="time-input" type="text" th:value="${#dates.format(userApply.endtime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" required>
			</div><span id="p02"></span>
		</div>		
		<div class="form-group">
			<label class="col-sm-2 control-label" ><span style="color: red; ">*</span>修改理由：</label>
			<div class="col-sm-8">
                <textarea id="details" name="details" class="form-control" maxlength="500" rows="3" th:field="*{details}"  required></textarea>
			</div>
		</div>		
		<input id="timelength" name="timelength" style="display:none"/>
	</form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: jsonview-js" />
   <script type="text/javascript">
	   var prefix = ctx + "system/userApply";
	   
	   $("#editForm").validate({
			rules:{
				starttime:{
					required:true,
				},
				endtime:{
					required:true,
				},
				details:{
					required:true,
				},
			},
			focusCleanup: true
		});
	   
		$(function(){			
			$("#starttime").datetimepicker({
       		    format: 'yyyy-MM-dd HH:mm:ss',
       		    autoclose: true
       		});				
			$("#endtime").datetimepicker({
       		    format: 'yyyy-MM-dd HH:mm:ss',
       		    autoclose: true
       		});
			layui.use('laydate', function(){
				var laydate = layui.laydate;
						
				laydate.render({ 
       		    	elem: '#starttime',
       		 		format: 'yyyy-MM-dd HH:mm:ss',
       		   	    type: 'datetime',
       		   		trigger: 'click'
       		 	 });
				
				laydate.render({ 
       		    	elem: '#endtime',
       		 		format: 'yyyy-MM-dd HH:mm:ss',
       		   	    type: 'datetime',
       		   		trigger: 'click'
       		 	 });
			});
		 });
							
	   function submitHandler() {
			debugger;
			if ($.validate.form()) {
				var applyId = $("#applyId").val();
				var starttime = $("#starttime").val();
				var endtime = $("#endtime").val();			
				var applyType = $("#applyType").val();
				var datelength = 0.0;
						
				datelength = DateDiff(starttime,endtime);

				
				applyType = aType($("#applyType").val());

				$("#timelength").val(datelength);
				
				var flag = false;//提交flag 
				var repeatFlag = false;
				
				if(endtime < starttime){
					p02.innerText="结束日期不能小于开始日期";
					$("#p02").css("color","red");
					flag = false;
					return;
				}
								
				//验证所请假期 是否与已有申请时段重复 
				$.ajax({
					type:"post",
					async:false,
					url:"/system/userApply/ifRepeat",
					data:{"applyId":applyId,"applyType":applyType,"starttime":starttime,"endtime":endtime },
					dataType:"json",
					success:function(result){
						 if(result == "0"){
							 repeatFlag = true;
						}
						else{
							repeatFlag = false;
							$.modal.alertWarning("申请中部分时段已经申请过，不能再次申请!");
							return;
						}
					},
					error:function(){
						$.modal.alertWarning("请联系管理员");
					}
				}); 
										 
			    if(flag && repeatFlag){
					save(prefix + "/edit", $('#editForm').serialize());
				}						            
	            
	        }
	        
	    };
	    function save(url, data) {
       	var config = {
   	        url: url,
   	        type: "post",
   	        dataType: "json",
   	        data: data,
   	        beforeSend: function () {
   	        	$.modal.loading("正在处理中，请稍后...");
   	        	$.modal.disable();
   	        },
   	        success: function(result) {
   	        	$.operate.successCallback(result);
   	        	
   	        }
   	    };
   	    $.ajax(config)
       };     
       
	 //计算小时差的函数，通用  
     function  DateDiff(sDate1,  sDate2){    //sDate1和sDate2是2006-12-18格式 
         var  aDate,  oDate1,  oDate2
  		var iDays = 0.0;  
         oDate1  =  new  Date(sDate1)    //转换为12-18-2006格式 
         oDate2  =  new  Date(sDate2)  
         iDays  =  Math.abs(oDate1  -  oDate2)  /  1000  /  60  /  60    //把相差的毫秒数转换为小时数  
  		iDay = Math.floor(iDays * 10)/10
         return  iDay  
     };
    	   	
 	//申请类型（1请假，2加班，3销假，4外出，5补卡）
   	function aType(applyType){
   		var type;
   		if(applyType == "请假"){
   			type = 1;
   		}else if(applyType == "加班"){
   			type = 2;
   		}else if(applyType == "销假"){
   			type = 3;
   		}else if(applyType == "外出"){
   			type = 4;
   		}else {
   			type = 5;
   		}
   		return type;
   	}
   </script>
</body>
</html>
