<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('假期余额')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse" th:style="'display:' + ${postId != 1 && postId != 3 ? 'none' : 'block'}">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li >
								员工姓名：<input type="text" name="userName"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:userApply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:userApply:remove')}]];
        var prefix = ctx + "system/userApply";
        $(function() {
            var options = {
                url: "/system/holiday/holidayList",
                holidayRestDetailUrl: "/system/holiday/holidayRestDetail/{userId}",
                modalName: "申请",
		        showExport: true,
		        onClickRow: onClickRow,
                columns: [{
		            checkbox: true
		        },
		        {
					field : 'userId', 
					title : '员工id',
					visible: false
				},
		        {
					field : 'userName', 
					title : '员工姓名',
					sortable: false
				},
				{
					field : 'restAnnualLeave', 
					title : '年假余额（天）',
					sortable: false
				},
				{
					field : 'usedAnnualLeave', 
					title : '今年已休年假（天）',
					sortable: false
				},
				{
					field : 'restHolidayShift', 
					title : '调休余额（天）',
					sortable: false
				},
				{
					field : 'usedHolidayShift', 
					title : '已调休（天）',
					sortable: false
				}/* ,
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	//actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.applyId + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.applyId + '\')"><i class="fa fa-remove"></i>撤回</a>');
						return actions.join('');
		            }
		        } */]
            };
            $.table.init(options);
        });
        
        function onClickRow(row, $element){
        	var url = $.table._option.holidayRestDetailUrl.replace("{userId}",row.userId);
			$.modal.open("详情", url);
			
        }
    </script>
</body>
</html>