<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('申请列表')" />
	<script type="text/javascript">
	
		function addOther(){
			$.modal.open("加班申请", "/system/userApply/addOther");
		}
		function add(){
			$.modal.open("请假申请", "/system/userApply/add");
		}
		function addOut(){
			$.modal.open("外出报备申请","/system/userApply/addOut")
		}
		function addPic(){
			$.modal.open("补卡申请","/system/userApply/addPic")
		}
		
		function toView(applyId){
			var url = $.table._option.toViewUrl.replace("{applyId}",applyId);
			$.modal.open("查看申请", url);
		}
		function takeBack(id){
			if(confirm("确定撤回吗？")){
				$.ajax({
					type:"post",
					url:"/system/userApply/ifTakeback",
					data:{"applyId":id},
					dataType:"json",
					success:function(result){
						if(result == "0"){
							var data = { "ids": id };
				     	    $.operate.submit("/system/userApply/takeBack", "post", "json", data);
						}
						else{
							$.modal.alertWarning("不能执行此操作");
						}
					},
					error:function(){
						$.modal.alertWarning("请联系管理员");
					}
				});
			}
		}
		function undo(applyId){
			$.ajax({
				type:"post",
				url:"/system/userApply/ifUndo",
				data:{"applyId":applyId},
				dataType:"json",
				success:function(result){
					if(result == "0"){
						var url = $.table._option.undoUrl.replace("{applyId}",applyId);
						$.modal.open("销假申请", url);
					}
					else{
						$.modal.alertWarning("不能执行此操作");
					}
				},
				error:function(){
					$.modal.alertWarning("请联系管理员");
				}
			});
		}	
		function del(applyId){
			if(confirm("确定删除吗？")){
				$.ajax({
					type:"post",
					url:prefix+"/ifTakeback",
					data:{"applyId":applyId},
					dataType:"json",
					success:function(result){
						if(result == "0"){
							var data = { "ids": applyId };
				     	    $.operate.submit(prefix+"/remove", "post", "json", data);
						}
						else{
							$.modal.alertWarning("不能执行此操作");
						}
					},
					error:function(){
						$.modal.alertWarning("请联系管理员");
					}
				});
			}						
		}
		function edit(applyId){
			$.ajax({
				type:"post",
				async:false,
				url:prefix+"/ifTakeback",
				data:{"applyId":applyId},
				dataType:"json",
				success:function(result){
					if(result == "0"){
						var url = $.table._option.updateUrl.replace("{applyId}",applyId);
						$.modal.open("修改申请", url);
					}else if(result == "1"){
						$.modal.alertWarning("不能执行此操作");
					}
				},
				error:function(){
					$.modal.alertWarning("请联系管理员");
				}
			});
			
		}
	</script>
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<!-- <li>
								申请id：<input type="text" name="applyerId"/>
							</li> -->
							<li>
								申请类型：<select id="applyType" name="applyType" th:with="type=${@dict.getType('sys_user_apply_type')}">
	                    			<option value="">-----------请选择-----------</option>
	                    			<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
	                			</select>	
							</li>

							<li>
								申请状态：<select id="applyState" name="applyState" th:with="type=${@dict.getType('sys_user_apply_state')}">
	                    			<option value="">---------------请选择---------------</option>
	                    			<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
	                			</select>
							</li>

							<li>
								请假类型：<select id="leaveType" name="leaveType" th:with="type=${@dict.getType('sys_user_apply_leavetype')}">
	                    					<option value="">---------------请选择---------------</option>
	                    					<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" onchange="alert('!!!!')"></option>
	                					</select>
							</li>

							<li style="display:none">
								申请时间：<input type="text" name="applyTime"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="add()">
					<i class="fa fa-plus"></i> 请假申请
				</a>
				<a class="btn btn-success" onclick="addOther()">
					<i class="fa fa-plus"></i> 加班申请
				</a>
				<a class="btn btn-success" onclick="addOut()">
					<i class="fa fa-plus"></i> 外出申请
				</a>
				<a class="btn btn-success" onclick="addPic()">
					<i class="fa fa-plus"></i> 补卡申请
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="undoing()" style="display:none">
					<i class="fa fa-edit"></i> 修改
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:userApply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:userApply:remove')}]];
        var prefix = ctx + "system/userApply";
        $(function() {
            var options = {
                url: prefix + "/list",
                undoUrl:"/system/userApply/undo/{applyId}",
                toViewUrl: "/system/userApply/toView/{applyId}",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{applyId}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "申请",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
		        {
					field : 'applyId', 
					title : '申请ID',
					visible: false
				},
				{
					field : 'sysUser.userName', 
					title : '用户名',
					sortable: false
				},
				{
					field : 'applyType', 
					title : '申请类型',
					sortable: false
				},
				{
					field : 'leaveType', 
					title : '请假类型',
					sortable: false
				},
				{
					field : 'timelengthPlus', 
					title : '时长',
					sortable: false
				},
				{
					field : 'applyState', 
					title : '申请状态',
					sortable: false
				},
				{
					field : 'applyTime', 
					title : '申请时间',
					sortable: false
				},
				{
					field : 'allAppNames', 
					title : '所有审批人',
					sortable: false,
					formatter: function(value, row, index) {
						return $.table.tooltip(value);
					}
				},
				{
					field : 'approverName', 
					title : '当前审批人',
					sortable: false
				},
				{
 					field : 'approvalState', 
 					title : '审批意见',
 					sortable: false
 				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + '" href="#" onclick="toView(\'' + row.applyId + '\')" id="check"><i class="fa fa-edit"></i>111查看</a> ');
                        actions.push('<a class="btn btn-warning btn-xs" href="#" onclick="edit(\'' + row.applyId + '\')"><i class="fa fa-edit"></i>修改</a> ');
						actions.push('<a class="btn btn-info btn-xs ' + '" href="#" onclick="del(\'' + row.applyId + '\')"><i class="fa fa-user"></i>删除</a>'); 
						actions.push('<a class="btn btn-primary btn-xs' + '" href="#" onclick="undo(\'' + row.applyId + '\')"><i class="fa fa-remove"></i>销假</a>');
                        actions.push('<a class="btn btn-danger btn-xs ' + '" href="#" onclick="takeBack(\'' + row.applyId + '\')"><i class="fa fa-refresh"></i>撤回</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        
    </script>
</body>
</html>