<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改资产归还')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-xzAssetReturn-edit" th:object="${xzAssetReturn}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <input id="assetId" name="assetId" th:field="*{assetId}" type="hidden">
            <div class="form-group">
						<label class="col-sm-3 control-label"><span style="color: red; ">*</span>归还状态：</label>
						<div class="col-sm-8">
							<div class="input-group" style="width: 100%" >
								<select name="returnStatus" class="form-control m-b"
									th:with="type=${@dict.getType('xz_assets_returnStatus')}" required>
									<option value=""></option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}" th:field="*{returnStatus}"></option>
								</select>
							</div>
						</div>	
					</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注说明：</label>
				<div class="col-sm-8">
					<textarea id="remark2" name="remark2" class="form-control" ></textarea>
				</div>
			</div>
			
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/xzAssetReturn";
		$("#form-xzAssetReturn-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-xzAssetReturn-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
