<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BqZhanxianMapper">
    
    <resultMap type="BqZhanxian" id="BqZhanxianResult">
        <result property="id"    column="id"    />
        <result property="bqMonth"    column="bq_month"    />
        <result property="bqDate"    column="bq_date"    />
        <result property="mdShowdata"    column="md_showdata"    />
        <result property="mdClick"    column="md_click"    />
        <result property="mdCost"    column="md_cost"    />
        <result property="mdPxcost"    column="md_pxcost"    />
        <result property="mdCtr"    column="md_CTR"    />
        <result property="mdCpc"    column="md_CPC"    />
        <result property="mdOrderCount"    column="md_order_count"    />
        <result property="mdCostof"    column="md_costof"    />
        <result property="pcShowdata"    column="pc_showdata"    />
        <result property="pcClick"    column="pc_click"    />
        <result property="pcCost"    column="pc_cost"    />
        <result property="pcPxcost"    column="pc_pxcost"    />
        <result property="pcCtr"    column="pc_CTR"    />
        <result property="pcCpc"    column="pc_CPC"    />
        <result property="pcOrderCount"    column="pc_order_count"    />
        <result property="pcCostof"    column="pc_costof"    />
        <result property="allShowdata"    column="all_showdata"    />
        <result property="allClick"    column="all_click"    />
        <result property="allCost"    column="all_cost"    />
        <result property="allPxcost"    column="all_pxcost"    />
        <result property="allCtr"    column="all_CTR"    />
        <result property="allCpc"    column="all_CPC"    />
        <result property="allOrderCount"    column="all_order_count"    />
        <result property="allCostof"    column="all_costof"    />
        <result property="account"    column="account"    />
        <result property="plan"    column="plan"    />
        <result property="unit"    column="unit"    />
        <result property="keyword"    column="keyword"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectBqZhanxianVo">
        select id, bq_month, bq_date, md_showdata, md_click, md_cost, md_pxcost, md_CTR, md_CPC, md_order_count, md_costof, pc_showdata, pc_click, pc_cost, pc_pxcost, pc_CTR, pc_CPC, pc_order_count, pc_costof, all_showdata, all_click, all_cost, all_pxcost, all_CTR, all_CPC, all_order_count, all_costof, account, plan, unit, keyword, remark from bq_zhanxian
    </sql>
	
    <select id="selectBqZhanxianList" parameterType="BqZhanxian" resultMap="BqZhanxianResult">
        <include refid="selectBqZhanxianVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="bqMonth != null  and bqMonth != '' "> and bq_month = #{bqMonth}</if>
             <if test="bqDate != null "> and bq_date = #{bqDate}</if>
             <if test="mdShowdata != null "> and md_showdata = #{mdShowdata}</if>
             <if test="mdClick != null "> and md_click = #{mdClick}</if>
             <if test="mdCost != null "> and md_cost = #{mdCost}</if>
             <if test="mdPxcost != null "> and md_pxcost = #{mdPxcost}</if>
             <if test="mdCtr != null "> and md_CTR = #{mdCtr}</if>
             <if test="mdCpc != null "> and md_CPC = #{mdCpc}</if>
             <if test="mdOrderCount != null "> and md_order_count = #{mdOrderCount}</if>
             <if test="mdCostof != null "> and md_costof = #{mdCostof}</if>
             <if test="pcShowdata != null "> and pc_showdata = #{pcShowdata}</if>
             <if test="pcClick != null "> and pc_click = #{pcClick}</if>
             <if test="pcCost != null "> and pc_cost = #{pcCost}</if>
             <if test="pcPxcost != null "> and pc_pxcost = #{pcPxcost}</if>
             <if test="pcCtr != null "> and pc_CTR = #{pcCtr}</if>
             <if test="pcCpc != null "> and pc_CPC = #{pcCpc}</if>
             <if test="pcOrderCount != null "> and pc_order_count = #{pcOrderCount}</if>
             <if test="pcCostof != null "> and pc_costof = #{pcCostof}</if>
             <if test="allShowdata != null "> and all_showdata = #{allShowdata}</if>
             <if test="allClick != null "> and all_click = #{allClick}</if>
             <if test="allCost != null "> and all_cost = #{allCost}</if>
             <if test="allPxcost != null "> and all_pxcost = #{allPxcost}</if>
             <if test="allCtr != null "> and all_CTR = #{allCtr}</if>
             <if test="allCpc != null "> and all_CPC = #{allCpc}</if>
             <if test="allOrderCount != null "> and all_order_count = #{allOrderCount}</if>
             <if test="allCostof != null "> and all_costof = #{allCostof}</if>
             <if test="account != null  and account != '' "> and account = #{account}</if>
             <if test="plan != null  and plan != '' "> and plan = #{plan}</if>
             <if test="unit != null  and unit != '' "> and unit = #{unit}</if>
             <if test="keyword != null  and keyword != '' "> and keyword = #{keyword}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectBqZhanxianById" parameterType="Long" resultMap="BqZhanxianResult">
        <include refid="selectBqZhanxianVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBqZhanxian" parameterType="BqZhanxian" useGeneratedKeys="true" keyProperty="id">
        insert into bq_zhanxian
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bqMonth != null  and bqMonth != ''  ">bq_month,</if>
			<if test="bqDate != null  ">bq_date,</if>
			<if test="mdShowdata != null  ">md_showdata,</if>
			<if test="mdClick != null  ">md_click,</if>
			<if test="mdCost != null  ">md_cost,</if>
			<if test="mdPxcost != null  ">md_pxcost,</if>
			<if test="mdCtr != null  ">md_CTR,</if>
			<if test="mdCpc != null  ">md_CPC,</if>
			<if test="mdOrderCount != null  ">md_order_count,</if>
			<if test="mdCostof != null  ">md_costof,</if>
			<if test="pcShowdata != null  ">pc_showdata,</if>
			<if test="pcClick != null  ">pc_click,</if>
			<if test="pcCost != null  ">pc_cost,</if>
			<if test="pcPxcost != null  ">pc_pxcost,</if>
			<if test="pcCtr != null  ">pc_CTR,</if>
			<if test="pcCpc != null  ">pc_CPC,</if>
			<if test="pcOrderCount != null  ">pc_order_count,</if>
			<if test="pcCostof != null  ">pc_costof,</if>
			<if test="allShowdata != null  ">all_showdata,</if>
			<if test="allClick != null  ">all_click,</if>
			<if test="allCost != null  ">all_cost,</if>
			<if test="allPxcost != null  ">all_pxcost,</if>
			<if test="allCtr != null  ">all_CTR,</if>
			<if test="allCpc != null  ">all_CPC,</if>
			<if test="allOrderCount != null  ">all_order_count,</if>
			<if test="allCostof != null  ">all_costof,</if>
			<if test="account != null  and account != ''  ">account,</if>
			<if test="plan != null  and plan != ''  ">plan,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
			<if test="keyword != null  and keyword != ''  ">keyword,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bqMonth != null  and bqMonth != ''  ">#{bqMonth},</if>
			<if test="bqDate != null  ">#{bqDate},</if>
			<if test="mdShowdata != null  ">#{mdShowdata},</if>
			<if test="mdClick != null  ">#{mdClick},</if>
			<if test="mdCost != null  ">#{mdCost},</if>
			<if test="mdPxcost != null  ">#{mdPxcost},</if>
			<if test="mdCtr != null  ">#{mdCtr},</if>
			<if test="mdCpc != null  ">#{mdCpc},</if>
			<if test="mdOrderCount != null  ">#{mdOrderCount},</if>
			<if test="mdCostof != null  ">#{mdCostof},</if>
			<if test="pcShowdata != null  ">#{pcShowdata},</if>
			<if test="pcClick != null  ">#{pcClick},</if>
			<if test="pcCost != null  ">#{pcCost},</if>
			<if test="pcPxcost != null  ">#{pcPxcost},</if>
			<if test="pcCtr != null  ">#{pcCtr},</if>
			<if test="pcCpc != null  ">#{pcCpc},</if>
			<if test="pcOrderCount != null  ">#{pcOrderCount},</if>
			<if test="pcCostof != null  ">#{pcCostof},</if>
			<if test="allShowdata != null  ">#{allShowdata},</if>
			<if test="allClick != null  ">#{allClick},</if>
			<if test="allCost != null  ">#{allCost},</if>
			<if test="allPxcost != null  ">#{allPxcost},</if>
			<if test="allCtr != null  ">#{allCtr},</if>
			<if test="allCpc != null  ">#{allCpc},</if>
			<if test="allOrderCount != null  ">#{allOrderCount},</if>
			<if test="allCostof != null  ">#{allCostof},</if>
			<if test="account != null  and account != ''  ">#{account},</if>
			<if test="plan != null  and plan != ''  ">#{plan},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
			<if test="keyword != null  and keyword != ''  ">#{keyword},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateBqZhanxian" parameterType="BqZhanxian">
        update bq_zhanxian
        <trim prefix="SET" suffixOverrides=",">
            <if test="bqMonth != null  and bqMonth != ''  ">bq_month = #{bqMonth},</if>
            <if test="bqDate != null  ">bq_date = #{bqDate},</if>
            <if test="mdShowdata != null  ">md_showdata = #{mdShowdata},</if>
            <if test="mdClick != null  ">md_click = #{mdClick},</if>
            <if test="mdCost != null  ">md_cost = #{mdCost},</if>
            <if test="mdPxcost != null  ">md_pxcost = #{mdPxcost},</if>
            <if test="mdCtr != null  ">md_CTR = #{mdCtr},</if>
            <if test="mdCpc != null  ">md_CPC = #{mdCpc},</if>
            <if test="mdOrderCount != null  ">md_order_count = #{mdOrderCount},</if>
            <if test="mdCostof != null  ">md_costof = #{mdCostof},</if>
            <if test="pcShowdata != null  ">pc_showdata = #{pcShowdata},</if>
            <if test="pcClick != null  ">pc_click = #{pcClick},</if>
            <if test="pcCost != null  ">pc_cost = #{pcCost},</if>
            <if test="pcPxcost != null  ">pc_pxcost = #{pcPxcost},</if>
            <if test="pcCtr != null  ">pc_CTR = #{pcCtr},</if>
            <if test="pcCpc != null  ">pc_CPC = #{pcCpc},</if>
            <if test="pcOrderCount != null  ">pc_order_count = #{pcOrderCount},</if>
            <if test="pcCostof != null  ">pc_costof = #{pcCostof},</if>
            <if test="allShowdata != null  ">all_showdata = #{allShowdata},</if>
            <if test="allClick != null  ">all_click = #{allClick},</if>
            <if test="allCost != null  ">all_cost = #{allCost},</if>
            <if test="allPxcost != null  ">all_pxcost = #{allPxcost},</if>
            <if test="allCtr != null  ">all_CTR = #{allCtr},</if>
            <if test="allCpc != null  ">all_CPC = #{allCpc},</if>
            <if test="allOrderCount != null  ">all_order_count = #{allOrderCount},</if>
            <if test="allCostof != null  ">all_costof = #{allCostof},</if>
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="plan != null  and plan != ''  ">plan = #{plan},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
            <if test="keyword != null  and keyword != ''  ">keyword = #{keyword},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteBqZhanxianById" parameterType="Long">
        delete from bq_zhanxian where id = #{id}
    </delete>
	
    <delete id="deleteBqZhanxianByIds" parameterType="String">
        delete from bq_zhanxian where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectBqZhanxian" resultMap="BqZhanxianResult">
    	
SELECT al.bq_date,

       (m.showdata)md_showdata,
       (m.click)md_click,
       (m.cost)md_cost,
       (CASE
		 WHEN m.plan LIKE '%智达%' THEN
		  m.cost
		 ELSE 
		  0.00
		END)md_pxcost,
		(m.order_count)md_order_count,
		
		(pc.showdata)pc_showdata,
	    (pc.click)pc_click,
	    (pc.cost)pc_cost,
	    (CASE
		  WHEN pc.plan LIKE '%智达%' THEN
		   pc.cost
		  ELSE 
		   0.00
		 END)pc_pxcost,
		(pc.order_count)pc_order_count,
		
		(al.showdata)all_showdata,
	    (al.click)all_click,
	    (al.cost)all_cost,
	    (CASE
		  WHEN al.plan LIKE '%智达%' THEN
		   al.cost
		  ELSE 
		   0.00
		 END)all_pxcost,
		(al.order_count)all_order_count,
		
		al.account,
		al.plan,
		al.unit,
		al.keyword
		FROM
		(SELECT fa.`bq_date`,
		       fa.`showdata`,
		       fa.`click`,
		       fa.`cost`,
		       ea.`order_count`,
		       fa.`groupword`,
		       fa.`account`,
		       fa.`plan`,
		       fa.`unit`,
		       fa.`keyword` FROM `bq_front`fa 
				LEFT JOIN `bq_end`ea ON fa.`groupword` = ea.`groupword`
		UNION ALL	
		SELECT eau.`bq_date`,
		       0`showdata`,
		       0`click`,
		       0`cost`,
		       eau.`order_count`,
		       eau.`groupword`,
		       eau.`account`,
		       eau.`plan`,
		       eau.`unit`,
		       eau.`keyword` FROM `bq_end`eau 
			WHERE eau.`groupword` NOT IN (SELECT f.groupword FROM `bq_front`f LEFT JOIN bq_end e ON f.groupword = e.groupword))al
		LEFT JOIN 
		(SELECT fm.`bq_date`,
		       fm.`showdata`,
		       fm.`click`,
		       fm.`cost`,
		       em.`order_count`,
		       fm.`plan`,
		       fm.`groupword` FROM `bq_front`fm 
				LEFT JOIN `bq_end`em ON fm.`groupword` = em.`groupword`
				WHERE fm.`plan` LIKE '%M%'
		UNION ALL
		SELECT emd.`bq_date`,
		       0`showdata`,
		       0`click`,
		       0`cost`,
		       emd.`order_count`,
		       emd.plan,
		       emd.groupword FROM `bq_end`emd
				WHERE emd.`plan` LIKE '%M%' AND emd.`groupword`NOT IN(SELECT f.groupword FROM `bq_front`f LEFT JOIN bq_end e ON f.groupword = e.groupword))m
		ON al.groupword = m.groupword
		LEFT JOIN
		(SELECT fp.`bq_date`,
		       fp.`showdata`,
		       fp.`click`,
		       fp.`cost`,
		       ep.`order_count`,
		       fp.`plan`,
		       fp.`groupword` FROM `bq_front`fp 
				LEFT JOIN `bq_end`ep ON fp.`groupword` = ep.`groupword`
				WHERE fp.`plan` NOT IN (SELECT n.plan FROM `bq_front`n WHERE n.`plan` LIKE '%M%')
		UNION ALL
		SELECT epc.`bq_date`,
		       0`showdata`,
		       0`click`,
		       0`cost`,
		       epc.`order_count`,
		       epc.plan,
		       epc.`groupword` FROM `bq_end`epc
				WHERE epc.`groupword` NOT IN (SELECT f.groupword FROM `bq_front`f LEFT JOIN bq_end e ON f.groupword = e.groupword)
				AND epc.plan NOT IN (SELECT en.plan FROM `bq_end`en WHERE en.`plan` LIKE '%M%'))pc
		ON al.groupword = pc.groupword
			
    </select>
    
    <!-- 清除所有数据 -->
    <delete id="deleteAllBqZhanxian" >
        delete from bq_zhanxian 
    </delete> 
    
    
     <select id="selectBqZhanxianSumList" parameterType="BqZhanxian" resultMap="BqZhanxianResult">
     SELECT r.remark,DATE_FORMAT(r.bq_date, '%Y-%m')bq_month,r.bq_date,
		r.pc_showdata,r.pc_click,r.pc_cost,r.pc_pxcost,(CONCAT( ROUND(r.pc_click/r.pc_showdata*100,2),'%'))pc_CTR,(ROUND(r.pc_cost/r.pc_click,2))pc_CPC,r.pc_order_count,(ROUND((r.pc_cost-r.pc_pxcost)/r.pc_order_count,2))pc_costof,
		r.md_showdata,r.md_click,r.md_cost,r.md_pxcost,(CONCAT( ROUND(r.md_click/r.md_showdata*100,2),'%'))md_CTR,(ROUND(r.md_cost/r.md_click,2))md_CPC,r.md_order_count,(ROUND((r.md_cost-r.md_pxcost)/r.md_order_count))md_costof,
		r.all_showdata,r.all_click,r.all_cost,r.all_pxcost,(CONCAT( ROUND(r.all_click/r.all_showdata*100,2),'%'))all_CTR,(ROUND(r.all_cost/r.all_click,2))all_CPC,r.all_order_count,(ROUND((r.all_cost-r.all_pxcost)/r.all_order_count,2))all_costof
		FROM
	
	(SELECT "汇总" remark,bq_date,
		SUM(pc_showdata)pc_showdata,SUM(pc_click)pc_click,SUM(pc_cost)pc_cost,SUM(pc_pxcost)pc_pxcost,SUM(pc_order_count)pc_order_count,
		SUM(md_showdata)md_showdata,SUM(md_click)md_click,SUM(md_cost)md_cost,SUM(md_pxcost)md_pxcost,SUM(md_order_count)md_order_count,
		SUM(all_showdata)all_showdata,SUM(all_click)all_click,SUM(all_cost)all_cost,SUM(all_pxcost)all_pxcost,SUM(all_order_count)all_order_count
				FROM bq_zhanxian  
					GROUP BY bq_date)r
     </select>
    <select id="selectBqZhanxianAccountSumList" parameterType="BqZhanxian" resultMap="BqZhanxianResult">
    	SELECT r.remark,DATE_FORMAT(r.bq_date, '%Y-%m')bq_month,r.bq_date,account,
			r.pc_showdata,r.pc_click,r.pc_cost,r.pc_pxcost,(CONCAT( ROUND(r.pc_click/r.pc_showdata*100,2),'%'))pc_CTR,(ROUND(r.pc_cost/r.pc_click,2))pc_CPC,r.pc_order_count,(ROUND((r.pc_cost-r.pc_pxcost)/r.pc_order_count,2))pc_costof,
			r.md_showdata,r.md_click,r.md_cost,r.md_pxcost,(CONCAT( ROUND(r.md_click/r.md_showdata*100,2),'%'))md_CTR,(ROUND(r.md_cost/r.md_click,2))md_CPC,r.md_order_count,(ROUND((r.md_cost-r.md_pxcost)/r.md_order_count))md_costof,
			r.all_showdata,r.all_click,r.all_cost,r.all_pxcost,(CONCAT( ROUND(r.all_click/r.all_showdata*100,2),'%'))all_CTR,(ROUND(r.all_cost/r.all_click,2))all_CPC,r.all_order_count,(ROUND((r.all_cost-r.all_pxcost)/r.all_order_count,2))all_costof
			FROM
		
		(SELECT "账户层级" remark,bq_date,account,
			SUM(pc_showdata)pc_showdata,SUM(pc_click)pc_click,SUM(pc_cost)pc_cost,SUM(pc_pxcost)pc_pxcost,SUM(pc_order_count)pc_order_count,
			SUM(md_showdata)md_showdata,SUM(md_click)md_click,SUM(md_cost)md_cost,SUM(md_pxcost)md_pxcost,SUM(md_order_count)md_order_count,
			SUM(all_showdata)all_showdata,SUM(all_click)all_click,SUM(all_cost)all_cost,SUM(all_pxcost)all_pxcost,SUM(all_order_count)all_order_count
					FROM bq_zhanxian  
						GROUP BY bq_date,account)r
				
    </select>
    
    <select id="selectBqZhanxianPlanSumList" parameterType="BqZhanxian" resultMap="BqZhanxianResult">
    	 SELECT r.remark,DATE_FORMAT(r.bq_date, '%Y-%m')bq_month,r.bq_date,account,plan,
			r.pc_showdata,r.pc_click,r.pc_cost,r.pc_pxcost,(CONCAT( ROUND(r.pc_click/r.pc_showdata*100,2),'%'))pc_CTR,(ROUND(r.pc_cost/r.pc_click,2))pc_CPC,r.pc_order_count,(ROUND((r.pc_cost-r.pc_pxcost)/r.pc_order_count,2))pc_costof,
			r.md_showdata,r.md_click,r.md_cost,r.md_pxcost,(CONCAT( ROUND(r.md_click/r.md_showdata*100,2),'%'))md_CTR,(ROUND(r.md_cost/r.md_click,2))md_CPC,r.md_order_count,(ROUND((r.md_cost-r.md_pxcost)/r.md_order_count))md_costof,
			r.all_showdata,r.all_click,r.all_cost,r.all_pxcost,(CONCAT( ROUND(r.all_click/r.all_showdata*100,2),'%'))all_CTR,(ROUND(r.all_cost/r.all_click,2))all_CPC,r.all_order_count,(ROUND((r.all_cost-r.all_pxcost)/r.all_order_count,2))all_costof
			FROM
		
		(SELECT "计划层级" remark,bq_date,account,plan,
			SUM(pc_showdata)pc_showdata,SUM(pc_click)pc_click,SUM(pc_cost)pc_cost,SUM(pc_pxcost)pc_pxcost,SUM(pc_order_count)pc_order_count,
			SUM(md_showdata)md_showdata,SUM(md_click)md_click,SUM(md_cost)md_cost,SUM(md_pxcost)md_pxcost,SUM(md_order_count)md_order_count,
			SUM(all_showdata)all_showdata,SUM(all_click)all_click,SUM(all_cost)all_cost,SUM(all_pxcost)all_pxcost,SUM(all_order_count)all_order_count
					FROM bq_zhanxian  
						GROUP BY bq_date,account,plan)r
    </select>
    
    <select id="selectBqZhanxianUnitSumList" parameterType="BqZhanxian" resultMap="BqZhanxianResult">
    	 SELECT r.remark,DATE_FORMAT(r.bq_date, '%Y-%m')bq_month,r.bq_date,account,plan,unit,
			r.pc_showdata,r.pc_click,r.pc_cost,r.pc_pxcost,(CONCAT( ROUND(r.pc_click/r.pc_showdata*100,2),'%'))pc_CTR,(ROUND(r.pc_cost/r.pc_click,2))pc_CPC,r.pc_order_count,(ROUND((r.pc_cost-r.pc_pxcost)/r.pc_order_count,2))pc_costof,
			r.md_showdata,r.md_click,r.md_cost,r.md_pxcost,(CONCAT( ROUND(r.md_click/r.md_showdata*100,2),'%'))md_CTR,(ROUND(r.md_cost/r.md_click,2))md_CPC,r.md_order_count,(ROUND((r.md_cost-r.md_pxcost)/r.md_order_count))md_costof,
			r.all_showdata,r.all_click,r.all_cost,r.all_pxcost,(CONCAT( ROUND(r.all_click/r.all_showdata*100,2),'%'))all_CTR,(ROUND(r.all_cost/r.all_click,2))all_CPC,r.all_order_count,(ROUND((r.all_cost-r.all_pxcost)/r.all_order_count,2))all_costof
			FROM
				
		(SELECT "单元层级" remark,bq_date,account,plan,unit,
			SUM(pc_showdata)pc_showdata,SUM(pc_click)pc_click,SUM(pc_cost)pc_cost,SUM(pc_pxcost)pc_pxcost,SUM(pc_order_count)pc_order_count,
			SUM(md_showdata)md_showdata,SUM(md_click)md_click,SUM(md_cost)md_cost,SUM(md_pxcost)md_pxcost,SUM(md_order_count)md_order_count,
			SUM(all_showdata)all_showdata,SUM(all_click)all_click,SUM(all_cost)all_cost,SUM(all_pxcost)all_pxcost,SUM(all_order_count)all_order_count
					FROM bq_zhanxian  
						GROUP BY bq_date,account,plan,unit)r
				
    </select>
    
    <select id="selectBqZhanxianKeywordSumList" parameterType="BqZhanxian" resultMap="BqZhanxianResult">
        SELECT r.remark,DATE_FORMAT(r.bq_date, '%Y-%m')bq_month,r.bq_date,account,plan,unit,keyword,
			r.pc_showdata,r.pc_click,r.pc_cost,r.pc_pxcost,(CONCAT( ROUND(r.pc_click/r.pc_showdata*100,2),'%'))pc_CTR,(ROUND(r.pc_cost/r.pc_click,2))pc_CPC,r.pc_order_count,(ROUND((r.pc_cost-r.pc_pxcost)/r.pc_order_count,2))pc_costof,
			r.md_showdata,r.md_click,r.md_cost,r.md_pxcost,(CONCAT( ROUND(r.md_click/r.md_showdata*100,2),'%'))md_CTR,(ROUND(r.md_cost/r.md_click,2))md_CPC,r.md_order_count,(ROUND((r.md_cost-r.md_pxcost)/r.md_order_count))md_costof,
			r.all_showdata,r.all_click,r.all_cost,r.all_pxcost,(CONCAT( ROUND(r.all_click/r.all_showdata*100,2),'%'))all_CTR,(ROUND(r.all_cost/r.all_click,2))all_CPC,r.all_order_count,(ROUND((r.all_cost-r.all_pxcost)/r.all_order_count,2))all_costof
			FROM
		
		(SELECT "关键词层级" remark,bq_date,account,plan,unit,keyword,
			SUM(pc_showdata)pc_showdata,SUM(pc_click)pc_click,SUM(pc_cost)pc_cost,SUM(pc_pxcost)pc_pxcost,SUM(pc_order_count)pc_order_count,
			SUM(md_showdata)md_showdata,SUM(md_click)md_click,SUM(md_cost)md_cost,SUM(md_pxcost)md_pxcost,SUM(md_order_count)md_order_count,
			SUM(all_showdata)all_showdata,SUM(all_click)all_click,SUM(all_cost)all_cost,SUM(all_pxcost)all_pxcost,SUM(all_order_count)all_order_count
					FROM bq_zhanxian  
						GROUP BY bq_date,account,plan,unit,keyword)r
    </select>
</mapper>