<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DangdangPcMatchMapper">

    <resultMap type="DangdangPcMatch" id="DangdangPcMatchResult">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="plan" column="plan"/>
        <result property="unit" column="unit"/>
        <result property="keyword" column="keyword"/>
        <result property="remarks" column="remarks"/>
        <result property="channelId" column="channel_id"/>
        <result property="word" column="word"/>
        <result property="secondKind" column="second_kind"/>
        <result property="thiredKind" column="thired_kind"/>
        <result property="back" column="back"/>
        <result property="joinUv" column="join_uv"/>
    </resultMap>

    <sql id="selectDangdangPcMatchVo">
        select id, account, plan, unit, keyword, remarks, channel_id, word, second_kind, thired_kind, back, join_uv from dangdang_pc_match
    </sql>

    <select id="selectDangdangPcMatchList" parameterType="DangdangPcMatch" resultMap="DangdangPcMatchResult">
        <include refid="selectDangdangPcMatchVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="account != null  and account != '' ">and account = #{account}</if>
            <if test="plan != null  and plan != '' ">and plan = #{plan}</if>
            <if test="unit != null  and unit != '' ">and unit = #{unit}</if>
            <if test="keyword != null  and keyword != '' ">and keyword = #{keyword}</if>
            <if test="remarks != null  and remarks != '' ">and remarks = #{remarks}</if>
            <if test="channelId != null  and channelId != '' ">and channel_id = #{channelId}</if>
            <if test="word != null  and word != '' ">and word = #{word}</if>
            <if test="secondKind != null  and secondKind != '' ">and second_kind = #{secondKind}</if>
            <if test="thiredKind != null  and thiredKind != '' ">and thired_kind = #{thiredKind}</if>
            <if test="back != null  and back != '' ">and back = #{back}</if>
            <if test="joinUv != null  and joinUv != '' ">and join_uv = #{joinUv}</if>
        </where>
    </select>

    <select id="selectDangdangPcMatchById" parameterType="Integer" resultMap="DangdangPcMatchResult">
        <include refid="selectDangdangPcMatchVo"/>
        where id = #{id}
    </select>

    <insert id="insertDangdangPcMatch" parameterType="DangdangPcMatch" useGeneratedKeys="true" keyProperty="id">
        insert into dangdang_pc_match
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null  and account != ''  ">account,</if>
            <if test="plan != null  and plan != ''  ">plan,</if>
            <if test="unit != null  and unit != ''  ">unit,</if>
            <if test="keyword != null  and keyword != ''  ">keyword,</if>
            <if test="remarks != null  and remarks != ''  ">remarks,</if>
            <if test="channelId != null  and channelId != ''  ">channel_id,</if>
            <if test="word != null  and word != ''  ">word,</if>
            <if test="secondKind != null  and secondKind != ''  ">second_kind,</if>
            <if test="thiredKind != null  and thiredKind != ''  ">thired_kind,</if>
            <if test="back != null  and back != ''  ">back,</if>
            <if test="joinUv != null  and joinUv != ''  ">join_uv,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null  and account != ''  ">#{account},</if>
            <if test="plan != null  and plan != ''  ">#{plan},</if>
            <if test="unit != null  and unit != ''  ">#{unit},</if>
            <if test="keyword != null  and keyword != ''  ">#{keyword},</if>
            <if test="remarks != null  and remarks != ''  ">#{remarks},</if>
            <if test="channelId != null  and channelId != ''  ">#{channelId},</if>
            <if test="word != null  and word != ''  ">#{word},</if>
            <if test="secondKind != null  and secondKind != ''  ">#{secondKind},</if>
            <if test="thiredKind != null  and thiredKind != ''  ">#{thiredKind},</if>
            <if test="back != null  and back != ''  ">#{back},</if>
            <if test="joinUv != null  and joinUv != ''  ">#{joinUv},</if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dangdang_pc_match (account,plan,unit,keyword,remarks,channel_id,
        word,second_kind,thired_kind)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.account}, #{item.plan},#{item.unit},#{item.keyword},#{item.remarks},
            #{item.channelId},#{item.word},#{item.secondKind},
            #{item.thiredKind})
        </foreach>
    </insert>

    <update id="updateDangdangPcMatch" parameterType="DangdangPcMatch">
        update dangdang_pc_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="plan != null  and plan != ''  ">plan = #{plan},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
            <if test="keyword != null  and keyword != ''  ">keyword = #{keyword},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="channelId != null  and channelId != ''  ">channel_id = #{channelId},</if>
            <if test="word != null  and word != ''  ">word = #{word},</if>
            <if test="secondKind != null  and secondKind != ''  ">second_kind = #{secondKind},</if>
            <if test="thiredKind != null  and thiredKind != ''  ">thired_kind = #{thiredKind},</if>
            <if test="back != null  and back != ''  ">back = #{back},</if>
            <if test="joinUv != null  and joinUv != ''  ">join_uv = #{joinUv},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateBack">
update dangdang_pc_match set  back = concat(channel_id,plan,'_',unit,'_',keyword) where back is  NULL;
    </update>
    <update id="updateUv">
update dangdang_pc_match set join_uv = concat(remarks,plan,unit,keyword) where  join_uv is  null;
    </update>

    <delete id="deleteDangdangPcMatchById" parameterType="Integer">
        delete from dangdang_pc_match where id = #{id}
    </delete>

    <delete id="deleteDangdangPcMatchByIds" parameterType="String">
        delete from dangdang_pc_match where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>