<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DangSummaryMapper">
    
    <resultMap type="DangSummary" id="DangdangSummaryResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="ddDate"    column="dd_date"    />
        <result property="plan"    column="plan"    />
        <result property="unit"    column="unit"    />
        <result property="keyword"    column="keyword"    />
        <result property="showdata"    column="showdata"    />
        <result property="click"    column="click"    />
        <result property="cost"    column="cost"    />
        <result property="clickRate"    column="click_rate"    />
        <result property="averageClickPrice"    column="average_click_price"    />
        <result property="homepageAverageRanking"    column="homepage_average_ranking"    />
        <result property="bid"    column="bid"    />
        <result property="partSpeech"    column="part_speech"    />
        <result property="appClick"    column="app_click"    />
        <result property="appShowdata"    column="app_showdata"    />
        <result property="appCost"    column="app_cost"    />
        <result property="letsClick"    column="lets_click"    />
        <result property="letsShowdata"    column="lets_showdata"    />
        <result property="letsCost"    column="lets_cost"    />
    </resultMap>
	
	<sql id="selectDangdangSummaryVo">
        select id, account, dd_date, plan, unit, keyword, showdata, click, cost, click_rate, average_click_price, homepage_average_ranking, bid, part_speech, app_click, app_showdata, app_cost, lets_click, lets_showdata, lets_cost from dang_summary
    </sql>
	
    <select id="selectDangdangSummaryList" parameterType="DangSummary" resultMap="DangdangSummaryResult">
        SELECT
        s.id ,
        s.account,
        s.dd_date ,
        s.plan,
        s.unit ,
        s.keyword ,
        s.showdata ,
        s.click ,
        s.cost ,
        s.click_rate ,
        s.average_click_price ,
        s.bid,
        s.homepage_average_ranking ,
        s.part_speech ,
        w.click AS app_click,
        w.cost AS app_cost,
        w.showdata AS app_showData,
        q.click AS lets_click,
        q.cost AS lets_cost,
        q.showdata AS lets_showData
        FROM
        dang_summary AS s
        LEFT JOIN (
        SELECT
        date,
        combination,
        sum( click ) AS click,
        sum( showdata ) AS showdata,
        SUM( cost ) AS cost
        FROM
        dangdang_app_front
        GROUP BY
        date,
        combination
        ) AS w ON s.dd_date = w.date
        AND s.combination = w.combination
        LEFT JOIN (
        SELECT
        date,
        combination,
        sum( click ) AS click,
        sum( showdata ) AS showdata,
        SUM( cost ) AS cost
        FROM
        dangdang_applets_front
        GROUP BY
        date,
        combination
        ) AS q ON s.dd_date = q.date
        AND s.combination = q.combination
<!--        <include refid="selectDangdangSummaryVo"/>-->
<!--        <where>  -->
<!--            <if test="id != null "> and id = #{id}</if>-->
<!--             <if test="account != null  and account != '' "> and account = #{account}</if>-->
<!--             <if test="ddDate != null "> and dd_date = #{ddDate}</if>-->
<!--             <if test="plan != null  and plan != '' "> and plan = #{plan}</if>-->
<!--             <if test="unit != null  and unit != '' "> and unit = #{unit}</if>-->
<!--             <if test="keyword != null  and keyword != '' "> and keyword = #{keyword}</if>-->
<!--             <if test="showdata != null "> and showdata = #{showdata}</if>-->
<!--             <if test="click != null "> and click = #{click}</if>-->
<!--             <if test="cost != null "> and cost = #{cost}</if>-->
<!--             <if test="clickRate != null  and clickRate != '' "> and click_rate = #{clickRate}</if>-->
<!--             <if test="averageClickPrice != null  and averageClickPrice != '' "> and average_click_price = #{averageClickPrice}</if>-->
<!--             <if test="homepageAverageRanking != null "> and homepage_average_ranking = #{homepageAverageRanking}</if>-->
<!--             <if test="bid != null "> and bid = #{bid}</if>-->
<!--             <if test="partSpeech != null  and partSpeech != '' "> and part_speech = #{partSpeech}</if>-->
<!--             <if test="appClick != null "> and app_click = #{appClick}</if>-->
<!--             <if test="appShowdata != null "> and app_showdata = #{appShowdata}</if>-->
<!--             <if test="appCost != null "> and app_cost = #{appCost}</if>-->
<!--             <if test="letsClick != null "> and lets_click = #{letsClick}</if>-->
<!--             <if test="letsShowdata != null "> and lets_showdata = #{letsShowdata}</if>-->
<!--             <if test="letsCost != null "> and lets_cost = #{letsCost}</if>-->
<!--         </where>-->
    </select>
    
    <select id="selectDangdangSummaryById" parameterType="Integer" resultMap="DangdangSummaryResult">
        <include refid="selectDangdangSummaryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDangdangSummary" parameterType="DangSummary" useGeneratedKeys="true" keyProperty="id">
        insert into dang_summary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="account != null  and account != ''  ">account,</if>
			<if test="ddDate != null  ">dd_date,</if>
			<if test="plan != null  and plan != ''  ">plan,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
			<if test="keyword != null  and keyword != ''  ">keyword,</if>
			<if test="showdata != null  ">showdata,</if>
			<if test="click != null  ">click,</if>
			<if test="cost != null  ">cost,</if>
			<if test="clickRate != null  and clickRate != ''  ">click_rate,</if>
			<if test="averageClickPrice != null  and averageClickPrice != ''  ">average_click_price,</if>
			<if test="homepageAverageRanking != null  ">homepage_average_ranking,</if>
			<if test="bid != null  ">bid,</if>
			<if test="partSpeech != null  and partSpeech != ''  ">part_speech,</if>
			<if test="appClick != null  ">app_click,</if>
			<if test="appShowdata != null  ">app_showdata,</if>
			<if test="appCost != null  ">app_cost,</if>
			<if test="letsClick != null  ">lets_click,</if>
			<if test="letsShowdata != null  ">lets_showdata,</if>
			<if test="letsCost != null  ">lets_cost,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="account != null  and account != ''  ">#{account},</if>
			<if test="ddDate != null  ">#{ddDate},</if>
			<if test="plan != null  and plan != ''  ">#{plan},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
			<if test="keyword != null  and keyword != ''  ">#{keyword},</if>
			<if test="showdata != null  ">#{showdata},</if>
			<if test="click != null  ">#{click},</if>
			<if test="cost != null  ">#{cost},</if>
			<if test="clickRate != null  and clickRate != ''  ">#{clickRate},</if>
			<if test="averageClickPrice != null  and averageClickPrice != ''  ">#{averageClickPrice},</if>
			<if test="homepageAverageRanking != null  ">#{homepageAverageRanking},</if>
			<if test="bid != null  ">#{bid},</if>
			<if test="partSpeech != null  and partSpeech != ''  ">#{partSpeech},</if>
			<if test="appClick != null  ">#{appClick},</if>
			<if test="appShowdata != null  ">#{appShowdata},</if>
			<if test="appCost != null  ">#{appCost},</if>
			<if test="letsClick != null  ">#{letsClick},</if>
			<if test="letsShowdata != null  ">#{letsShowdata},</if>
			<if test="letsCost != null  ">#{letsCost},</if>
         </trim>
    </insert>
	 
    <update id="updateDangdangSummary" parameterType="DangSummary">
        update dang_summary
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="ddDate != null  ">dd_date = #{ddDate},</if>
            <if test="plan != null  and plan != ''  ">plan = #{plan},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
            <if test="keyword != null  and keyword != ''  ">keyword = #{keyword},</if>
            <if test="showdata != null  ">showdata = #{showdata},</if>
            <if test="click != null  ">click = #{click},</if>
            <if test="cost != null  ">cost = #{cost},</if>
            <if test="clickRate != null  and clickRate != ''  ">click_rate = #{clickRate},</if>
            <if test="averageClickPrice != null  and averageClickPrice != ''  ">average_click_price = #{averageClickPrice},</if>
            <if test="homepageAverageRanking != null  ">homepage_average_ranking = #{homepageAverageRanking},</if>
            <if test="bid != null  ">bid = #{bid},</if>
            <if test="partSpeech != null  and partSpeech != ''  ">part_speech = #{partSpeech},</if>
            <if test="appClick != null  ">app_click = #{appClick},</if>
            <if test="appShowdata != null  ">app_showdata = #{appShowdata},</if>
            <if test="appCost != null  ">app_cost = #{appCost},</if>
            <if test="letsClick != null  ">lets_click = #{letsClick},</if>
            <if test="letsShowdata != null  ">lets_showdata = #{letsShowdata},</if>
            <if test="letsCost != null  ">lets_cost = #{letsCost},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteDangdangSummaryById" parameterType="Integer">
        delete from dang_summary where id = #{id}
    </delete>
	
    <delete id="deleteDangdangSummaryByIds" parameterType="String">
        delete from dang_summary where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="batchInsert"  parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dang_summary (account,plan,unit,keyword,dd_date,showdata,click,cost,click_rate,average_click_price,
        homepage_average_ranking,bid,part_speech)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.account}, #{item.plan},#{item.unit},#{item.keyword},#{item.ddDate},#{item.showdata},#{item.click},
            #{item.cost},#{item.clickRate},#{item.averageClickPrice},#{item.homepageAverageRanking},#{item.bid},#{item.partSpeech})
        </foreach>
    </insert>
    <update id="updateGroupword">
          update dang_summary set combination = CONCAT_WS('@',account,plan,unit,keyword)
    </update>

</mapper>