<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JfEndMapper">
    
    <resultMap type="JfEnd" id="JfEndResult">
        <result property="id"    column="id"    />
        <result property="jfDate"    column="jf_date"    />
        <result property="channle"    column="channle"    />
        <result property="channleName"    column="channle_name"    />
        <result property="clearing"    column="clearing"    />
        <result property="advertising"    column="advertising"    />
        <result property="account"    column="account"    />
        <result property="card"    column="card"    />
        <result property="putin"    column="putin"    />
        <result property="placeOrder"    column="place_order"    />
        <result property="activate"    column="activate"    />
    </resultMap>
	
	<sql id="selectJfEndVo">
        select id, jf_date, channle, channle_name, clearing, advertising, account, card, putin, place_order, activate from jf_end
    </sql>
	
    <select id="selectJfEndList" parameterType="JfEnd" resultMap="JfEndResult">
        <include refid="selectJfEndVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="jfDate != null "> and jf_date = #{jfDate}</if>
             <if test="channle != null  and channle != '' "> and channle = #{channle}</if>
             <if test="channleName != null  and channleName != '' "> and channle_name = #{channleName}</if>
             <if test="clearing != null  and clearing != '' "> and clearing = #{clearing}</if>
             <if test="advertising != null  and advertising != '' "> and advertising = #{advertising}</if>
             <if test="account != null "> and account = #{account}</if>
             <if test="card != null "> and card = #{card}</if>
             <if test="putin != null "> and putin = #{putin}</if>
             <if test="placeOrder != null "> and place_order = #{placeOrder}</if>
             <if test="activate != null "> and activate = #{activate}</if>
         </where>
    </select>
    
    <select id="selectJfEndById" parameterType="Long" resultMap="JfEndResult">
        <include refid="selectJfEndVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJfEnd" parameterType="JfEnd" useGeneratedKeys="true" keyProperty="id">
        insert into jf_end
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jfDate != null  ">jf_date,</if>
			<if test="channle != null  and channle != ''  ">channle,</if>
			<if test="channleName != null  and channleName != ''  ">channle_name,</if>
			<if test="clearing != null  and clearing != ''  ">clearing,</if>
			<if test="advertising != null  and advertising != ''  ">advertising,</if>
			<if test="account != null  ">account,</if>
			<if test="card != null  ">card,</if>
			<if test="putin != null  ">putin,</if>
			<if test="placeOrder != null  ">place_order,</if>
			<if test="activate != null  ">activate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="jfDate != null  ">#{jfDate},</if>
			<if test="channle != null  and channle != ''  ">#{channle},</if>
			<if test="channleName != null  and channleName != ''  ">#{channleName},</if>
			<if test="clearing != null  and clearing != ''  ">#{clearing},</if>
			<if test="advertising != null  and advertising != ''  ">#{advertising},</if>
			<if test="account != null  ">#{account},</if>
			<if test="card != null  ">#{card},</if>
			<if test="putin != null  ">#{putin},</if>
			<if test="placeOrder != null  ">#{placeOrder},</if>
			<if test="activate != null  ">#{activate},</if>
         </trim>
    </insert>
	 
    <update id="updateJfEnd" parameterType="JfEnd">
        update jf_end
        <trim prefix="SET" suffixOverrides=",">
            <if test="jfDate != null  ">jf_date = #{jfDate},</if>
            <if test="channle != null  and channle != ''  ">channle = #{channle},</if>
            <if test="channleName != null  and channleName != ''  ">channle_name = #{channleName},</if>
            <if test="clearing != null  and clearing != ''  ">clearing = #{clearing},</if>
            <if test="advertising != null  and advertising != ''  ">advertising = #{advertising},</if>
            <if test="account != null  ">account = #{account},</if>
            <if test="card != null  ">card = #{card},</if>
            <if test="putin != null  ">putin = #{putin},</if>
            <if test="placeOrder != null  ">place_order = #{placeOrder},</if>
            <if test="activate != null  ">activate = #{activate},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteJfEndById" parameterType="Long">
        delete from jf_end where id = #{id}
    </delete>
	
    <delete id="deleteJfEndByIds" parameterType="String">
        delete from jf_end where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    
    
        <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jf_end (jf_date,channle,channle_name,clearing,advertising,account,card,putin,place_order,activate)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.jfDate}, #{item.channle},#{item.channleName},#{item.clearing},#{item.advertising},#{item.account},#{item.card},#{item.putin},#{item.placeOrder},#{item.activate})
        </foreach>
    </insert>
    
    
    
	<delete id="deleteAllJfEnd">
        delete from jf_end 
    </delete>
    
</mapper>