<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JfFrontMapper">
    
    <resultMap type="JfFront" id="JfFrontResult">
        <result property="id"    column="id"    />
        <result property="frontDate"    column="front_date"    />
        <result property="account"    column="account"    />
        <result property="plan"    column="plan"    />
        <result property="unit"    column="unit"    />
        <result property="keyword"    column="keyword"    />
        <result property="showdata"    column="showdata"    />
        <result property="click"    column="click"    />
        <result property="consume"    column="consume"    />
        <result property="groupword"    column="groupword"    />
    </resultMap>
	
	<sql id="selectJfFrontVo">
        select id, front_date, account, plan, unit, keyword, showdata, click, consume, groupword from jf_front
    </sql>
	
    <select id="selectJfFrontList" parameterType="JfFront" resultMap="JfFrontResult">
        <include refid="selectJfFrontVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="frontDate != null "> and front_date = #{frontDate}</if>
             <if test="account != null  and account != '' "> and account = #{account}</if>
             <if test="plan != null  and plan != '' "> and plan = #{plan}</if>
             <if test="unit != null  and unit != '' "> and unit = #{unit}</if>
             <if test="keyword != null  and keyword != '' "> and keyword = #{keyword}</if>
             <if test="showdata != null "> and showdata = #{showdata}</if>
             <if test="click != null "> and click = #{click}</if>
             <if test="consume != null "> and consume = #{consume}</if>
             <if test="groupword != null  and groupword != '' "> and groupword = #{groupword}</if>
         </where>
    </select>
    
    <select id="selectJfFrontById" parameterType="Long" resultMap="JfFrontResult">
        <include refid="selectJfFrontVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJfFront" parameterType="JfFront" useGeneratedKeys="true" keyProperty="id">
        insert into jf_front
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="frontDate != null  ">front_date,</if>
			<if test="account != null  and account != ''  ">account,</if>
			<if test="plan != null  and plan != ''  ">plan,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
			<if test="keyword != null  and keyword != ''  ">keyword,</if>
			<if test="showdata != null  ">showdata,</if>
			<if test="click != null  ">click,</if>
			<if test="consume != null  ">consume,</if>
			<if test="groupword != null  and groupword != ''  ">groupword,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="frontDate != null  ">#{frontDate},</if>
			<if test="account != null  and account != ''  ">#{account},</if>
			<if test="plan != null  and plan != ''  ">#{plan},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
			<if test="keyword != null  and keyword != ''  ">#{keyword},</if>
			<if test="showdata != null  ">#{showdata},</if>
			<if test="click != null  ">#{click},</if>
			<if test="consume != null  ">#{consume},</if>
			<if test="groupword != null  and groupword != ''  ">#{groupword},</if>
         </trim>
    </insert>
	 
    <update id="updateJfFront" parameterType="JfFront">
        update jf_front
        <trim prefix="SET" suffixOverrides=",">
            <if test="frontDate != null  ">front_date = #{frontDate},</if>
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="plan != null  and plan != ''  ">plan = #{plan},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
            <if test="keyword != null  and keyword != ''  ">keyword = #{keyword},</if>
            <if test="showdata != null  ">showdata = #{showdata},</if>
            <if test="click != null  ">click = #{click},</if>
            <if test="consume != null  ">consume = #{consume},</if>
            <if test="groupword != null  and groupword != ''  ">groupword = #{groupword},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteJfFrontById" parameterType="Long">
        delete from jf_front where id = #{id}
    </delete>
	
    <delete id="deleteJfFrontByIds" parameterType="String">
        delete from jf_front where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    
        <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jf_front (front_date,account,plan,unit,keyword,showdata,click,consume)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.frontDate}, #{item.account},#{item.plan},#{item.unit},#{item.keyword},#{item.showdata},#{item.click},#{item.consume})
        </foreach>
    </insert>
    
    
    <update id="updateGroupword" parameterType="String">
        update jf_front set groupword = CONCAT_WS('@',account,plan,unit,keyword)
    </update>
    
    
    <delete id="deleteAllJfFront">
        delete from jf_front 
    </delete>
</mapper>