<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MfwysEndMapper">
    
    <resultMap type="MfwysEnd" id="MfwysEndResult">
        <result property="id"    column="id"    />
        <result property="newtime"    column="newtime"    />
        <result property="mfwSystem"    column="mfw_system"    />
        <result property="channelPackage"    column="channel_package"    />
        <result property="channel"    column="channel"    />
        <result property="newFacility"    column="new_facility"    />
        <result property="account"    column="account"    />
        <result property="aid"    column="aid"    />
        <result property="keep"    column="keep"    />
    </resultMap>
	
	<sql id="selectMfwysEndVo">
        select id, newtime, mfw_system, channel_package, channel, new_facility, account, aid, keep from mfwys_end
    </sql>
	
    <select id="selectMfwysEndList" parameterType="MfwysEnd" resultMap="MfwysEndResult">
        <include refid="selectMfwysEndVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="newtime != null "> and newtime = #{newtime}</if>
             <if test="mfwSystem != null  and mfwSystem != '' "> and mfw_system = #{mfwSystem}</if>
             <if test="channelPackage != null  and channelPackage != '' "> and channel_package = #{channelPackage}</if>
             <if test="channel != null  and channel != '' "> and channel = #{channel}</if>
             <if test="newFacility != null "> and new_facility = #{newFacility}</if>
             <if test="account != null  and account != '' "> and account = #{account}</if>
             <if test="aid != null "> and aid = #{aid}</if>
             <if test="keep != null "> and keep = #{keep}</if>
         </where>
    </select>
    
    <select id="selectMfwysEndById" parameterType="Long" resultMap="MfwysEndResult">
        <include refid="selectMfwysEndVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMfwysEnd" parameterType="MfwysEnd" useGeneratedKeys="true" keyProperty="id">
        insert into mfwys_end
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="newtime != null  ">newtime,</if>
			<if test="mfwSystem != null  and mfwSystem != ''  ">mfw_system,</if>
			<if test="channelPackage != null  and channelPackage != ''  ">channel_package,</if>
			<if test="channel != null  and channel != ''  ">channel,</if>
			<if test="newFacility != null  ">new_facility,</if>
			<if test="account != null  and account != ''  ">account,</if>
			<if test="aid != null  ">aid,</if>
			<if test="keep != null  ">keep,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="newtime != null  ">#{newtime},</if>
			<if test="mfwSystem != null  and mfwSystem != ''  ">#{mfwSystem},</if>
			<if test="channelPackage != null  and channelPackage != ''  ">#{channelPackage},</if>
			<if test="channel != null  and channel != ''  ">#{channel},</if>
			<if test="newFacility != null  ">#{newFacility},</if>
			<if test="account != null  and account != ''  ">#{account},</if>
			<if test="aid != null  ">#{aid},</if>
			<if test="keep != null  ">#{keep},</if>
         </trim>
    </insert>
	 
    <update id="updateMfwysEnd" parameterType="MfwysEnd">
        update mfwys_end
        <trim prefix="SET" suffixOverrides=",">
            <if test="newtime != null  ">newtime = #{newtime},</if>
            <if test="mfwSystem != null  and mfwSystem != ''  ">mfw_system = #{mfwSystem},</if>
            <if test="channelPackage != null  and channelPackage != ''  ">channel_package = #{channelPackage},</if>
            <if test="channel != null  and channel != ''  ">channel = #{channel},</if>
            <if test="newFacility != null  ">new_facility = #{newFacility},</if>
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="aid != null  ">aid = #{aid},</if>
            <if test="keep != null  ">keep = #{keep},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMfwysEndById" parameterType="Long">
        delete from mfwys_end where id = #{id}
    </delete>
	
    <delete id="deleteMfwysEndByIds" parameterType="String">
        delete from mfwys_end where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    
            <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mfwys_end (newtime,mfw_system,channel_package,channel,new_facility,account,aid,keep)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.newtime}, #{item.mfwSystem},#{item.channelPackage},#{item.channel},#{item.newFacility},#{item.account},#{item.aid},#{item.keep})
        </foreach>
    </insert>
    


    
</mapper>