<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MfwysFrontMapper">
    
    <resultMap type="MfwysFront" id="MfwysFrontResult">
        <result property="id"    column="id"    />
        <result property="frontDate"    column="front_date"    />
        <result property="account"    column="account"    />
        <result property="plan"    column="plan"    />
        <result property="planid"    column="planid"    />
        <result property="unit"    column="unit"    />
        <result property="unitid"    column="unitid"    />
        <result property="keyword"    column="keyword"    />
        <result property="keywordid"    column="keywordid"    />
        <result property="title"    column="title"    />
        <result property="showdata"    column="showdata"    />
        <result property="click"    column="click"    />
        <result property="consume"    column="consume"    />
        <result property="clickRate"    column="click_rate"    />
        <result property="clickAvg"    column="click_avg"    />
        <result property="thousandConsume"    column="thousand_consume"    />
        <result property="groupword"    column="groupword"    />
    </resultMap>
	
	<sql id="selectMfwysFrontVo">
        select id, front_date, account, plan, planid, unit, unitid, keyword, keywordid, title, showdata, click, consume, click_rate, click_avg, 
 			thousand_consume, groupword from mfwys_front
    </sql>
	
    <select id="selectMfwysFrontList" parameterType="MfwysFront" resultMap="MfwysFrontResult">
        <include refid="selectMfwysFrontVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="frontDate != null "> and front_date = #{frontDate}</if>
             <if test="account != null  and account != '' "> and account = #{account}</if>
             <if test="plan != null  and plan != '' "> and plan = #{plan}</if>
             <if test="planid != null "> and planid = #{planid}</if>
             <if test="unit != null  and unit != '' "> and unit = #{unit}</if>
             <if test="unitid != null "> and unitid = #{unitid}</if>
             <if test="keyword != null  and keyword != '' "> and keyword = #{keyword}</if>
             <if test="keywordid != null "> and keywordid = #{keywordid}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="showdata != null "> and showdata = #{showdata}</if>
             <if test="click != null "> and click = #{click}</if>
             <if test="consume != null "> and consume = #{consume}</if>
             <if test="clickRate != null "> and click_rate = #{clickRate}</if>
             <if test="clickAvg != null "> and click_avg = #{clickAvg}</if>
             <if test="thousandConsume != null "> and thousand_consume = #{thousandConsume}</if>
             <if test="groupword != null  and groupword != '' "> and groupword = #{groupword}</if>
         </where>
    </select>
    
    <select id="selectMfwysFrontById" parameterType="Long" resultMap="MfwysFrontResult">
        <include refid="selectMfwysFrontVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMfwysFront" parameterType="MfwysFront" useGeneratedKeys="true" keyProperty="id">
        insert into mfwys_front
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="frontDate != null  ">front_date,</if>
			<if test="account != null  and account != ''  ">account,</if>
			<if test="plan != null  and plan != ''  ">plan,</if>
			<if test="planid != null  ">planid,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
			<if test="unitid != null  ">unitid,</if>
			<if test="keyword != null  and keyword != ''  ">keyword,</if>
			<if test="keywordid != null  ">keywordid,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="showdata != null  ">showdata,</if>
			<if test="click != null  ">click,</if>
			<if test="consume != null  ">consume,</if>
			<if test="clickRate != null  ">click_rate,</if>
			<if test="clickAvg != null  ">click_avg,</if>
			<if test="thousandConsume != null  ">thousand_consume,</if>
			<if test="groupword != null  and groupword != ''  ">groupword,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="frontDate != null  ">#{frontDate},</if>
			<if test="account != null  and account != ''  ">#{account},</if>
			<if test="plan != null  and plan != ''  ">#{plan},</if>
			<if test="planid != null  ">#{planid},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
			<if test="unitid != null  ">#{unitid},</if>
			<if test="keyword != null  and keyword != ''  ">#{keyword},</if>
			<if test="keywordid != null  ">#{keywordid},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="showdata != null  ">#{showdata},</if>
			<if test="click != null  ">#{click},</if>
			<if test="consume != null  ">#{consume},</if>
			<if test="clickRate != null  ">#{clickRate},</if>
			<if test="clickAvg != null  ">#{clickAvg},</if>
			<if test="thousandConsume != null  ">#{thousandConsume},</if>
			<if test="groupword != null  and groupword != ''  ">#{groupword},</if>
         </trim>
    </insert>
	 
    <update id="updateMfwysFront" parameterType="MfwysFront">
        update mfwys_front
        <trim prefix="SET" suffixOverrides=",">
            <if test="frontDate != null  ">front_date = #{frontDate},</if>
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="plan != null  and plan != ''  ">plan = #{plan},</if>
            <if test="planid != null  ">planid = #{planid},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
            <if test="unitid != null  ">unitid = #{unitid},</if>
            <if test="keyword != null  and keyword != ''  ">keyword = #{keyword},</if>
            <if test="keywordid != null  ">keywordid = #{keywordid},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="showdata != null  ">showdata = #{showdata},</if>
            <if test="click != null  ">click = #{click},</if>
            <if test="consume != null  ">consume = #{consume},</if>
            <if test="clickRate != null  ">click_rate = #{clickRate},</if>
            <if test="clickAvg != null  ">click_avg = #{clickAvg},</if>
            <if test="thousandConsume != null  ">thousand_consume = #{thousandConsume},</if>
            <if test="groupword != null  and groupword != ''  ">groupword = #{groupword},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMfwysFrontById" parameterType="Long">
        delete from mfwys_front where id = #{id}
    </delete>
	
    <delete id="deleteMfwysFrontByIds" parameterType="String">
        delete from mfwys_front where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    
    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mfwys_front (front_date,account,plan,planid,unit,unitid,keyword,keywordid,title,showdata,click,consume,click_rate,click_avg,thousand_consume)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.frontDate}, #{item.account},#{item.plan},#{item.planid},#{item.unit},#{item.unitid},#{item.keyword},#{item.keywordid},#{item.title},#{item.showdata},#{item.click},#{item.consume},#{item.clickRate},#{item.clickAvg},#{item.thousandConsume})
        </foreach>
    </insert>
    
    <insert id="insertMfwysZx"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mfwys_zhanxian (front_date,account,plan,planid,unit,unitid,keyword,keywordid,title,showdata,click,consume,click_rate,click_avg,thousand_consume)
        
        select front_date,account,plan,planid,unit,unitid,keyword,keywordid,title,showdata,click,consume,click_rate,click_avg,thousand_consume from mfwys_front
    </insert>
    
</mapper>