<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OaDingdingMapper">
    
    <resultMap type="OaDingding" id="OaDingdingResult">
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="workDate"    column="workDate"    />
        <result property="checkType"    column="checkType"    />
        <result property="userCheckTime"    column="userCheckTime"    />
        <result property="timeResult"    column="timeResult"    />
        <result property="status" column="status"/>
    </resultMap>
    
    <resultMap type="Dingding" id="DingdingResult">
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="workDate"    column="workDate"    />
        <result property="checkType"    column="checkType"    />
        <result property="userCheckTime"    column="userCheckTime"    />
        <result property="timeResult"    column="timeResult"    />
        <result property="status" column="status"/>
    </resultMap>
	
	<sql id="selectOaDingdingVo">
        select user_id, workDate, checkType, userCheckTime, timeResult, status from oa_dingding
    </sql>
	
    <select id="selectOaDingdingList" parameterType="OaDingding" resultMap="OaDingdingResult">
        <include refid="selectOaDingdingVo"/>
        <where>  
            <if test="userId != null"> and user_id = #{userId}</if>
             <if test="workDate != null "> and workDate = #{workDate}</if>
             <if test="checkType != null  and checkType != '' "> and checkType = #{checkType}</if>
             <if test="userCheckTime != null "> and userCheckTime = #{userCheckTime}</if>
             <if test="timeResult != null  and timeResult != '' "> and timeResult = #{timeResult}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
         </where>
    </select>
    <select id="selectOaDingdingListByCondition" parameterType="Dingding" resultType="Dingding">
    	select ding.* from (
			SELECT du.user_name, di.* FROM oa_dingding di
			LEFT JOIN oa_dingding_user du on di.user_id = du.user_id
		) ding
		<where>
			<if test="userId != null">and ding.user_id = #{userId}</if>
			<if test="userName != null and userName != ''">and ding.user_name = #{userName}</if>
			<if test="startTime != null and endTime != null"> and ding.userCheckTime between #{startTime} and #{endTime}</if>
			<if test="checkType != null and checkType != ''">and ding.checkType= #{checkType}</if>
		</where> 
    </select>
    
    <select id="selectOaDingdingById" parameterType="Long" resultMap="OaDingdingResult">
        <include refid="selectOaDingdingVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertOaDingding" parameterType="OaDingding">
        insert into oa_dingding
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">user_id,</if>
			<if test="workDate != null  ">workDate,</if>
			<if test="checkType != null  and checkType != ''  ">checkType,</if>
			<if test="userCheckTime != null  ">userCheckTime,</if>
			<if test="timeResult != null  and timeResult != ''  ">timeResult,</if>
			<if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">#{userId},</if>
			<if test="workDate != null  ">#{workDate},</if>
			<if test="checkType != null  and checkType != ''  ">#{checkType},</if>
			<if test="userCheckTime != null  ">#{userCheckTime},</if>
			<if test="timeResult != null  and timeResult != ''  ">#{timeResult},</if>
			<if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>
    
    <insert id="insertForeach" parameterType="List" useGeneratedKeys="false">
    	insert into oa_dingding 
    	(user_id, workDate, checkType, userCheckTime, timeResult, status)
    	values
    	<foreach collection="list" item="item" index="index" separator=",">
    		(
    		 #{item.userId}, 
    		 #{item.workDate}, 
    		 #{item.checkType},
    		 #{item.userCheckTime},
    		 #{item.timeResult},
    		 #{item.status}
    		)
    	</foreach>
    </insert>
        	 
    <update id="updateOaDingding" parameterType="OaDingding">
        update oa_dingding
        <trim prefix="SET" suffixOverrides=",">
            <if test="workDate != null  ">workDate = #{workDate},</if>
            <if test="checkType != null  and checkType != ''  ">checkType = #{checkType},</if>
            <if test="userCheckTime != null  ">userCheckTime = #{userCheckTime},</if>
            <if test="timeResult != null  and timeResult != ''  ">timeResult = #{timeResult},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where user_id = #{userId}
    </update>

	<update id="updateOaDingDingByTime" parameterType="Dingding">
		update oa_dingding 
		set timeResult=#{timeResult},status=#{status} 
		where user_id= #{userId}
		<if test="startTime != null and endTime != null">and userCheckTime <![CDATA[  >= #{startTime} ]]> and userCheckTime <![CDATA[ <= #{endTime} ]]> </if>
		<if test="workDate != null">and workDate = #{workDate}</if>
		<if test="checkType != null and checkType != ''">and checkType = #{checkType}</if>
	</update>

	<delete id="deleteOaDingdingById" parameterType="Long">
        delete from oa_dingding where user_id = #{userId}
    </delete>
	
    <delete id="deleteOaDingdingByIds" parameterType="Long">
        delete from oa_dingding where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
    <select id="selectDingData" parameterType="Dingding" resultMap="DingdingResult">
    	SELECT
			ding.* 
		FROM
			( SELECT u.dept_id, u.`user_id`, u.`user_name` FROM `sys_user` u ) nu
			RIGHT JOIN (
			SELECT
				ouser.user_id,
				us.user_name,
				ding.workDate,
				(
				 CASE WHEN ding.checkType='OnDuty' THEN '上班'
				 ELSE '下班' END 
				)checkType,
				ding.userCheckTime,
				(
				CASE  WHEN ding.timeResult='Normal' THEN '正常'
					  WHEN ding.timeResult='Late' THEN '迟到'
					  WHEN ding.timeResult='Early' THEN '早退'
					  WHEN ding.timeResult='SeriousLate' THEN '严重迟到'
					  WHEN ding.timeResult='NotSigned' THEN '未打卡'
					  WHEN ding.timeResult = 'out' THEN '外出'
					  WHEN ding.timeResult = 'Absenteeism' THEN '旷工迟到'
					  WHEN ding.timeResult = '1' THEN '年假' 
					  WHEN ding.timeResult = '2' THEN '调休' 
					  WHEN ding.timeResult = '3' THEN '事假' 
					  WHEN ding.timeResult = '4' THEN '病假' 
					  WHEN ding.timeResult = '5' THEN '婚假' 
					  WHEN ding.timeResult = '6' THEN '产假' 
					  WHEN ding.timeResult = '7' THEN '陪产假' 
					  WHEN ding.timeResult = '8' THEN '产检假' 
					  WHEN ding.timeResult = '9' THEN '丧假' 
				      WHEN ding.timeResult = '10' THEN '哺乳假' 					 
				ELSE '' END
				) timeResult, ding.timeResult timeResult2
			FROM
				`oa_dingding` ding
				LEFT JOIN oa_dingding_user us ON ding.user_id = us.user_id
				LEFT JOIN sys_user ouser ON ouser.user_name = us.user_name 
			) ding ON ding.user_id = nu.user_id 
			<where>
             	<if test="userId != null and userId != 1"> and ding.user_id = #{userId}</if>
             	<if test="userName != null and userName != '' "> and ding.user_name like concat('%', #{userName}, '%')</if>  
             	<if test="workDate == 1 "> and ding.workDate = #{workDate}</if>  
             	<if test="checkType != null and checkType != '' "> and ding.checkType = #{checkType}</if>
             	<if test="timeResult != null and timeResult != ''"> and ding.timeResult2 = #{timeResult}</if>
             	<if test="dSet != null"> 
             			and nu.dept_id in 
			          <foreach collection="dSet" index="index" item="item" open="(" separator="," close=")">  
			            	#{item.deptId}  
			          </foreach>
             	</if>
         <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(ding.workDate,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(ding.workDate,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
         	</where>   
    </select>
</mapper>