<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OaFileUploadMapper">
    
    <resultMap type="OaFileUpload" id="OaFileUploadResult">
        <result property="fileId"    column="file_id"    />
        <result property="userId"    column="user_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectOaFileUploadVo">
        select file_id, user_id, file_name, file_path, create_time from oa_file_upload
    </sql>
	
    <select id="selectOaFileUploadList" parameterType="OaFileUpload" resultMap="OaFileUploadResult">
        <include refid="selectOaFileUploadVo"/>
        <where>  
            <if test="fileId != null "> and file_id = #{fileId}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="fileName != null  and fileName != '' "> and file_name like '%${fileName}%'</if>
             <if test="filePath != null  and filePath != '' "> and file_path = #{filePath}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectOaFileUploadById" parameterType="Long" resultMap="OaFileUploadResult">
        <include refid="selectOaFileUploadVo"/>
        where file_id = #{fileId}
    </select>
        
    <insert id="insertOaFileUpload" parameterType="OaFileUpload" useGeneratedKeys="true" keyProperty="fileId">
        insert into oa_file_upload
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">user_id,</if>
			<if test="fileName != null  and fileName != ''  ">file_name,</if>
			<if test="filePath != null  and filePath != ''  ">file_path,</if>
			create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">#{userId},</if>
			<if test="fileName != null  and fileName != ''  ">#{fileName},</if>
			<if test="filePath != null  and filePath != ''  ">#{filePath},</if>
			sysdate()
         </trim>
    </insert>
	 
    <update id="updateOaFileUpload" parameterType="OaFileUpload">
        update oa_file_upload
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="fileName != null  and fileName != ''  ">file_name = #{fileName},</if>
            <if test="filePath != null  and filePath != ''  ">file_path = #{filePath},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where file_id = #{fileId}
    </update>

	<delete id="deleteOaFileUploadById" parameterType="Long">
        delete from oa_file_upload where file_id = #{fileId}
    </delete>
	
    <delete id="deleteOaFileUploadByIds" parameterType="String">
        delete from oa_file_upload where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
    
</mapper>