<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OaOutMapper">
    
    <resultMap type="OaOut" id="OaOutResult">
        <result property="outId"    column="out_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName" column="user_name"/>
        <result property="starttime"    column="starttime"    />
        <result property="endtime"    column="endtime"    />
        <result property="state"    column="state"    />
        <result property="createDate"    column="create_date"    />
        <result property="reason"    column="reason"    />
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
	<sql id="selectOaOutVo">
        SELECT ou.out_id,ou.user_id, us.user_name, ou.starttime,ou.endtime,ou.state,ou.create_date,ou.reason,ou.status, app.remark
		FROM oa_out ou
			LEFT JOIN oa_out_approval app on ou.out_id = app.out_id
			LEFT JOIN sys_user us on us.user_id = ou.user_id
    </sql>
	
    <select id="selectOaOutList" parameterType="OaOut" resultMap="OaOutResult">
        <include refid="selectOaOutVo"/>
        <where>  
            <if test="outId != null "> and ou.out_id = #{outId}</if>
             <if test="userId != null "> and ou.user_id = #{userId}</if>
             <if test="starttime != null "> and ou.starttime = #{starttime}</if>
             <if test="endtime != null "> and ou.endtime = #{endtime}</if>
             <if test="state != null  and state != '' "> and ou.state = #{state}</if>
             <if test="createDate != null "> and ou.create_date = #{createDate}</if>
             <if test="reason != null  and reason != '' "> and ou.reason = #{reason}</if>
             <if test="status != null and status != ''"> and ou.status = #{status}</if>
             <if test="remark != null  and remark != '' "> and app.remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectOaOutCountByTime" parameterType="OaOut" resultType="Long">
        SELECT COUNT( 0 ) FROM oa_out 
        <where>  
           	 <if test="outId != null "> and out_id = #{outId}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="starttime != null "> and (#{starttime} BETWEEN starttime AND endtime)</if>
             <if test="endtime != null "> and (#{endtime} BETWEEN starttime AND endtime)</if>          
         </where>
    </select>   
    
    <resultMap type="OutApproval" id="OutApprovalResult">
        <result property="outId"    column="out_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="deptName" column="dept_name"/>
        <result property="starttime"    column="starttime"    />
        <result property="endtime"    column="endtime"    />
        <result property="state"    column="state"    />
        <result property="createDate"    column="create_date"    />
        <result property="reason"    column="reason"    />
        <result property="approvalState"    column="approval_state"    />
        <result property="approvalName"    column="approval_name"    />
        <result property="approvalDate"    column="approval_date"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    
	<select id="selectOutApprovalList" parameterType="OaOut" resultMap="OutApprovalResult">
        SELECT
	ou.out_id,
	ou.user_id,
	USER.user_name,
	d.dept_name,
	ou.starttime,
	ou.endtime,
	(
	CASE
			
			WHEN ou.state = 1 THEN
			'待审批' 
			WHEN ou.state = 2 THEN
			'已撤回' 
			WHEN ou.state = 3 THEN
			'申请成功' 
			WHEN ou.state = 4 THEN
			'申请失败' 
			WHEN ou.state = 5 THEN
			'已销假' ELSE '' 
		END 
		) state,
		ou.create_date,
		ou.reason,
		(
		CASE
				
				WHEN app.approval_state = 1 THEN
				'同意' 
				WHEN app.approval_state = 2 THEN
				'驳回' 
				WHEN app.approval_state = 3 THEN
				'未操作' ELSE '' 
			END 
			) approval_state,
			us.user_name approval_name,
			app.approval_date,
			app.remark 
		FROM
			oa_out ou
			LEFT JOIN oa_out_approval app ON app.out_id = ou.out_id
			LEFT JOIN sys_user USER ON USER.user_id = ou.user_id
			LEFT JOIN sys_user us ON us.user_id = app.approval_id 
			LEFT JOIN sys_dept d ON USER.dept_id = d.dept_id
        <where>  
        	 us.`status`=0 and USER.`status`=0
            <if test="outId != null"> and ou.out_id = #{outId}</if>
             <if test="userId != null and userId != 1L"> and ou.user_id = #{userId}</if>
             <if test="approvalId != null "> and app.approval_id=#{approvalId}</if>
             <if test="approvalSight != null and approvalSight != ''">and app.approval_sight = #{approvalSight}</if>
             <if test="approvalState != null and approvalState != 4"> and app.approval_state=#{approvalState}</if>
             <if test="approvalState != null and approvalState == 4"> and app.approval_state in(1,2)</if>
             <if test="state != null and state != ''"> and ou.state = #{state}</if>
             <if test="createDate != null and  createDate != ''"> and ou.create_date = #{createDate}</if>
             <if test="applyerName != null and applyerName!=''"> and USER.user_name = #{applyerName}</if>
             <if test="deptName != null and deptName != ''"> and d.dept_name = #{deptName}</if>
             <if test="params.starttime != null and params.starttime != ''"><!-- 开始时间检索 -->
				AND date_format(ou.starttime,'%y%m%d') &gt;= date_format(#{params.starttime},'%y%m%d')
			</if>
			<if test="params.endtime != null and params.endtime != ''"><!-- 结束时间检索 -->
				AND date_format(ou.endtime,'%y%m%d') &lt;= date_format(#{params.endtime},'%y%m%d')
			</if>
			<if test="dSet != null">
					and d.dept_id in
					<foreach collection="dSet" item="item" index="index" open="(" separator="," close=")">
							#{item.deptId}
					</foreach>
			</if>
         </where>
         ORDER BY
				ou.out_id DESC 
    </select>
    
    <select id="selectOaOutById" parameterType="Long" resultMap="OaOutResult">
        <include refid="selectOaOutVo"/>
        where ou.out_id = #{outId} and app.approval_sight=1
    </select>
        
    <insert id="insertOaOut" parameterType="OaOut" useGeneratedKeys="true" keyProperty="outId">
        insert into oa_out
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="outId != null  ">out_id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="starttime != null  ">starttime,</if>
			<if test="endtime != null  ">endtime,</if>
			<if test="state != null  and state != ''  ">state,</if>
			create_date,
			<if test="reason != null  and reason != ''  ">reason,</if>
			<if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="outId != null  ">#{outId},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="starttime != null  ">#{starttime},</if>
			<if test="endtime != null  ">#{endtime},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			sysdate(),
			<if test="reason != null  and reason != ''  ">#{reason},</if>
			<if test="status != null and status != ''">#{status}</if>
         </trim>
    </insert>
	 
    <update id="updateOaOut" parameterType="OaOut">
        update oa_out
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="starttime != null  ">starttime = #{starttime},</if>
            <if test="endtime != null  ">endtime = #{endtime},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="reason != null  and reason != ''  ">reason = #{reason},</if>
            <if test="status != null and status != ''">status = #{status}</if>
        </trim>
        where out_id = #{outId}
    </update>

	<delete id="deleteOaOutById" parameterType="Long">
        delete from oa_out where out_id = #{outId}
    </delete>
	
    <delete id="deleteOaOutByIds" parameterType="String">
        delete from oa_out where out_id in 
        <foreach item="outId" collection="array" open="(" separator="," close=")">
            #{outId}
        </foreach>
    </delete>
    
</mapper>