<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RxFrontMapper">
    
    <resultMap type="RxFront" id="RxFrontResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="rxDate"    column="rx_date"    />
        <result property="plan"    column="plan"    />
        <result property="unit"    column="unit"    />
        <result property="keyword"    column="keyword"    />
        <result property="showdata"    column="showdata"    />
        <result property="click"    column="click"    />
        <result property="consume"    column="consume"    />
        <result property="groupword"    column="groupword"    />
    </resultMap>
	
	<sql id="selectRxFrontVo">
        select id, account, rx_date, plan, unit, keyword, showdata, click, consume, groupword from rx_front
    </sql>
	
    <select id="selectRxFrontList" parameterType="RxFront" resultMap="RxFrontResult">
        <include refid="selectRxFrontVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="account != null  and account != '' "> and account = #{account}</if>
             <if test="rxDate != null "> and rx_date = #{rxDate}</if>
             <if test="plan != null  and plan != '' "> and plan = #{plan}</if>
             <if test="unit != null  and unit != '' "> and unit = #{unit}</if>
             <if test="keyword != null  and keyword != '' "> and keyword = #{keyword}</if>
             <if test="showdata != null "> and showdata = #{showdata}</if>
             <if test="click != null "> and click = #{click}</if>
             <if test="consume != null "> and consume = #{consume}</if>
             <if test="groupword != null  and groupword != '' "> and groupword = #{groupword}</if>
         </where>
    </select>
    
    <select id="selectRxFrontById" parameterType="Integer" resultMap="RxFrontResult">
        <include refid="selectRxFrontVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRxFront" parameterType="RxFront" useGeneratedKeys="true" keyProperty="id">
        insert into rx_front
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="account != null  and account != ''  ">account,</if>
			<if test="rxDate != null  ">rx_date,</if>
			<if test="plan != null  and plan != ''  ">plan,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
			<if test="keyword != null  and keyword != ''  ">keyword,</if>
			<if test="showdata != null  ">showdata,</if>
			<if test="click != null  ">click,</if>
			<if test="consume != null  ">consume,</if>
			<if test="groupword != null  and groupword != ''  ">groupword,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="account != null  and account != ''  ">#{account},</if>
			<if test="rxDate != null  ">#{rxDate},</if>
			<if test="plan != null  and plan != ''  ">#{plan},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
			<if test="keyword != null  and keyword != ''  ">#{keyword},</if>
			<if test="showdata != null  ">#{showdata},</if>
			<if test="click != null  ">#{click},</if>
			<if test="consume != null  ">#{consume},</if>
			<if test="groupword != null  and groupword != ''  ">#{groupword},</if>
         </trim>
    </insert>
	 
    <update id="updateRxFront" parameterType="RxFront">
        update rx_front
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="rxDate != null  ">rx_date = #{rxDate},</if>
            <if test="plan != null  and plan != ''  ">plan = #{plan},</if>
            <if test="unit != null  and unit != ''  ">unit = #{unit},</if>
            <if test="keyword != null  and keyword != ''  ">keyword = #{keyword},</if>
            <if test="showdata != null  ">showdata = #{showdata},</if>
            <if test="click != null  ">click = #{click},</if>
            <if test="consume != null  ">consume = #{consume},</if>
            <if test="groupword != null  and groupword != ''  ">groupword = #{groupword},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteRxFrontById" parameterType="Integer">
        delete from rx_front where id = #{id}
    </delete>
	
    <delete id="deleteRxFrontByIds" parameterType="String">
        delete from rx_front where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
     <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rx_front (account, rx_date, plan, unit, keyword, showdata, click, consume) 
			VALUES
        <foreach collection="list" item="item" separator=",">
        	(#{item.account}, #{item.rxDate}, #{item.plan}, #{item.unit}, #{item.keyword}, #{item.showdata}, #{item.click},#{item.consume})
        </foreach>
    </insert>
    
    <update id="updateGroupword" parameterType="String">
        update rx_front set groupword = CONCAT_WS('@',account,plan,unit,keyword,rx_date)
    </update>
    
    <delete id="deleteAllRxFront">
    	delete from rx_front
    </delete>
</mapper>