<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserMapper">

	<resultMap type="SysUser" id="SysUserResult">
		<id     property="userId"       column="user_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="area"        column="area"        />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="del_flag"     />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="record"       column="record"       />
		<result property="intime"       column="intime"       />
		<result property="firstphase"   column="firstphase"       />
		<result property="secondphase"  column="secondphase"       />
		<association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
	</resultMap>
	
	<resultMap id="deptResult" type="SysDept">
		<id     property="deptId"   column="dept_id"     />
		<result property="parentId" column="parent_id"   />
		<result property="deptName" column="dept_name"   />
		<result property="orderNum" column="order_num"   />
		<result property="status"   column="dept_status" />
	</resultMap>
	
	<resultMap id="RoleResult" type="SysRole">
		<id     property="roleId"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"     column="data_scope"    />
		<result property="status"       column="role_status"    />
	</resultMap>
	
	<sql id="selectUserVo">
        select  u.user_id, u.dept_id, u.login_name, u.user_name,u.area, u.email, u.phonenumber, u.sex, u.avatar, u.password, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_time, u.remark,u.record,u.intime,u.firstphase,u.secondphase,
       		    d.parent_id, d.dept_name, d.order_num, d.status as dept_status,
       		    r.role_id,p.post_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
		from sys_user u
			 left join sys_dept d on u.dept_id = d.dept_id
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
			 LEFT JOIN sys_user_post p on p.user_id = u.user_id
    </sql>
	
	<select id="selectUserList" parameterType="SysUser" resultMap="SysUserResult">
		select u.user_id, u.dept_id, u.login_name, u.user_name,u.area, u.email, u.phonenumber, u.password, u.sex, u.avatar, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark,u.record,u.intime,u.firstphase,u.secondphase, d.dept_name from sys_user u
		left join sys_dept d on u.dept_id = d.dept_id
		where u.del_flag = '0'
		<if test="userId != null">
			AND u.user_id = #{userId}
		</if>
		<if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="area != null and area != ''">
			AND u.area = #{area}
		</if>
		<if test="status != null and status != ''">
			AND u.status = #{status}
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
		<if test="deptId != null and deptId != 0">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		<if test="record != null and record != 0">
			AND u.record = #{record}
		</if>
		<if test="intime != null and intime != 0">
			AND u.intime = #{intime}
		</if>
		<if test="firstphase != null and firstphase != 0">
			AND u.firstphase = #{firstphase}
		</if>
		<if test="secondphase != null and secondphase != 0">
			AND u.secondphase = #{secondphase}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectAllocatedList" parameterType="SysUser" resultMap="SysUserResult">
	    select distinct u.user_id, u.dept_id, u.login_name, u.user_name, u.area, u.email, u.phonenumber, u.status, u.create_time
	    from sys_user u
			 left join sys_dept d on u.dept_id = d.dept_id
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
	    where u.del_flag = '0' and r.role_id = #{roleId}
	    <if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUserByDpetList" parameterType="Long" resultMap="SysUserResult">
		select user_id,user_name  from sys_user  where dept_id in (select dept_id  from  sys_dept where dept_id = #{deptId}  or ancestors like  concat('%',#{deptId}, '%')) 
	</select>
	
	<select id="selectUnallocatedList" parameterType="SysUser" resultMap="SysUserResult">
	    select distinct u.user_id, u.dept_id, u.login_name, u.user_name, u.area, u.email, u.phonenumber, u.status, u.create_time
	    from sys_user u
			 left join sys_dept d on u.dept_id = d.dept_id
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
	    where u.del_flag = '0' and (r.role_id != #{roleId} or r.role_id IS NULL)
	    and u.user_id not in (select u.user_id from sys_user u inner join sys_user_role ur on u.user_id = ur.user_id and ur.role_id = #{roleId})
	    <if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectLeaderList" resultMap="SysUserResult">
		select DISTINCT u.user_id,u.user_name 
		from sys_user u
		right join sys_dept d on d.leader = u.user_name
		where u.user_id is not null
	</select>
	
	<select id="selectUserByLoginName" parameterType="String" resultMap="SysUserResult">
	    <include refid="selectUserVo"/>
		where u.login_name = #{userName}
	</select>
	
	<select id="selectUserByPhoneNumber" parameterType="String" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.phonenumber = #{phonenumber}
	</select>
	
	<select id="selectUserByEmail" parameterType="String" resultMap="SysUserResult">
	    <include refid="selectUserVo"/>
		where u.email = #{email}
	</select>
	
	<select id="checkLoginNameUnique" parameterType="String" resultType="int">
		select count(1) from sys_user where login_name=#{loginName}
	</select>
	
	<select id="checkPhoneUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, phonenumber from sys_user where phonenumber=#{phonenumber}
	</select>
	
	<select id="checkEmailUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, email from sys_user where email=#{email}
	</select>
	
	<select id="selectUserById" parameterType="Long" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.user_id = #{userId}
	</select>
	
	<delete id="deleteUserById" parameterType="Long">
 		delete from sys_user where user_id = #{userId}
 	</delete>
 	
 	<delete id="deleteUserByIds" parameterType="Long">
 		update sys_user set del_flag = '2' where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
 	
 	<update id="updateUser" parameterType="SysUser">
 		update sys_user
 		<set>
 			<if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>
 			<if test="loginName != null and loginName != ''">login_name = #{loginName},</if>
 			<if test="userName != null and userName != ''">user_name = #{userName},</if>
 			<if test="area != null and area != ''">area = #{area},</if>
 			<if test="email != null and email != ''">email = #{email},</if>
 			<if test="phonenumber != null and phonenumber != ''">phonenumber = #{phonenumber},</if>
 			<if test="sex != null and sex != ''">sex = #{sex},</if>
 			<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
 			<if test="password != null and password != ''">password = #{password},</if>
 			<if test="salt != null and salt != ''">salt = #{salt},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
 			<if test="loginDate != null">login_date = #{loginDate},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			<if test="remark != null and remark != ''">remark = #{remark},</if>
 			<if test="record != null and record != ''">record = #{record},</if>
 			<!-- <if test="intime != null and intime != ''">intime = #{intime},</if>
 			<if test="firstphase != null and firstphase != ''">firstphase = #{firstphase},</if>
 			<if test="secondphase != null and secondphase != ''">secondphase = #{secondphase},</if>  -->
 			update_time = sysdate()
 		</set>
 		where user_id = #{userId}
	</update>
 	
 	<insert id="insertUser" parameterType="SysUser" useGeneratedKeys="true" keyProperty="userId">
 		insert into sys_user(
 			<if test="userId != null and userId != 0">user_id,</if>
 			<if test="deptId != null and deptId != 0">dept_id,</if>
 			<if test="loginName != null and loginName != ''">login_name,</if>
 			<if test="userName != null and userName != ''">user_name,</if>
 			<if test="area != null and area != ''">area,</if>
 			<if test="email != null and email != ''">email,</if>
 			<if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
 			<if test="sex != null and sex != ''">sex,</if>
 			<if test="password != null and password != ''">password,</if>
 			<if test="salt != null and salt != ''">salt,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="record != null and record != ''">record,</if>
 			<if test="intime != null ">intime,</if>
 			<if test="firstphase != null ">firstphase,</if>
 			<if test="secondphase != null ">secondphase,</if>
 			create_time
 		)values(
 			<if test="userId != null and userId != ''">#{userId},</if>
 			<if test="deptId != null and deptId != ''">#{deptId},</if>
 			<if test="loginName != null and loginName != ''">#{loginName},</if>
 			<if test="userName != null and userName != ''">#{userName},</if>
 			<if test="area != null and area != ''"> #{area},</if>
 			<if test="email != null and email != ''">#{email},</if>
 			<if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
 			<if test="sex != null and sex != ''">#{sex},</if>
 			<if test="password != null and password != ''">#{password},</if>
 			<if test="salt != null and salt != ''">#{salt},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="record != null and record != ''">#{record},</if>
 			<if test="intime != null">#{intime},</if>
 			<if test="firstphase != null">#{firstphase},</if>
 			<if test="secondphase != null">#{secondphase},</if>
 			sysdate()
 		)
	</insert>
	<!-- 根据用户id查询所在部门领导id -->
	<select id="selectApproverIdByApplyerId" parameterType="Long" resultType="Long">
		SELECT u.user_id FROM `sys_user`u WHERE u.`user_name` = (SELECT d.leader FROM `sys_dept`d, (SELECT * FROM `sys_user`)s WHERE d.`dept_id` = s. dept_id AND s.user_id = #{userId})
	</select>
	<!-- 根据用户id查询上级部门领导id -->
	<select id="selectUpApproverIdByApplyerId" parameterType="Long" resultType="Long">
		SELECT s.user_id FROM sys_user s WHERE s.user_name =(SELECT e.leader FROM sys_dept e WHERE e.dept_id =(SELECT d.parent_id FROM `sys_dept`d,`sys_user`u WHERE u.`dept_id`=d.`dept_id` AND u.`user_id` = #{userId}))
<!-- 		SELECT s.user_id FROM (SELECT * FROM `sys_user`)s WHERE s.user_name =(SELECT e.leader FROM (SELECT * FROM sys_dept)e WHERE e.dept_id =(SELECT d.parent_id FROM `sys_dept`d,`sys_user`u WHERE u.`dept_id`=d.`dept_id` AND u.`user_id` = #{userId})) -->
	</select>
	
	<select id="selectAllUser" resultMap="SysUserResult">
		select u.user_id, u.dept_id, u.login_name, u.user_name, u.area, u.email, u.phonenumber, u.password, u.sex, u.avatar, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark,u.record,u.intime,u.firstphase,u.secondphase, d.dept_name from sys_user u
		left join sys_dept d on u.dept_id = d.dept_id
		where u.del_flag = '0' and u.status = 0
	</select>
	
	<select id="selectUserIdByUserName" parameterType="Long" resultType="String">
		SELECT user_id FROM sys_user WHERE user_name like concat('%', #{userName}, '%') ;
	</select>
	
	<select id="selectAncestorsByUserId" parameterType="Long" resultType="String">
		SELECT d.`ancestors` FROM `sys_user` u,`sys_dept` d WHERE u.`dept_id` = d.`dept_id` AND u.`user_id` = #{userId};
	</select>
	
	<select id="selectUserIdByDeptId" parameterType="Long" resultType="Long">
		SELECT u.`user_id` FROM sys_user u WHERE u.`user_name` = (SELECT d.`leader` FROM `sys_dept`d WHERE d.`dept_id` = #{deptId})
	</select>
	
	<!-- 分部门查询过了三个月试用期的员工人数 -->
	<select id="selectUserCount" parameterType="String" resultType="Data">
			SELECT
				d.dept_name deptName,
				count( u.user_id ) count
			FROM
				sys_user u
				LEFT JOIN sys_dept d ON u.dept_id = d.dept_id 
			WHERE
				u.status = 0 
				AND u.firstphase  &lt; sysdate() 
				AND dept_name IS NOT NULL 
				<if test="_parameter != null and _parameter != ''">and d.dept_name = #{deptName}</if>
			GROUP BY
				d.dept_id
	</select>
	
	<!-- 分部门查询入离职率 ：ratio1离职率、ratio2入职率-->
	<select id="selectUserRatio" parameterType="Data" resultType="Data">
			SELECT
			d.dept_name deptName,
			d.dept_id deptId, 
			d.ratio1,
			d.ratio2 
		FROM
			(
			SELECT
				a.dept_name,
				a.order_num,
				a.parent_id,
				a.dept_id,
				concat(
				LEFT ( IFNULL( b.count, 0 )/( a.count )* 100, 5 )) ratio1,
				concat(
				LEFT ( IFNULL( c.count, 0 )/( a.count )* 100, 5 )) ratio2 
			FROM
				(
				SELECT
					d.dept_name,
					d.dept_id,
					d.order_num,
					d.parent_id,
					count( u.user_id ) count 
				FROM
					sys_user u
					LEFT JOIN sys_dept d ON u.dept_id = d.dept_id 
				WHERE
					dept_name IS NOT NULL 
					<if test="endtime != null"><!-- 结束时间检索 -->
							AND date_format(u.intime,'%y%m%d') &lt;= date_format(#{endtime},'%y%m%d')
						</if>
						<if test="endtime == null"><!-- 结束时间检索 -->
							AND date_format(u.intime,'%y%m%d') &lt;= date_format(sysdate(),'%y%m%d')
						</if>
				GROUP BY
					d.dept_id 
				) a
				LEFT JOIN (
				SELECT
					d.dept_name,
					d.dept_id,
					d.order_num,
					d.parent_id,
					count( u.user_id ) count 
				FROM
					sys_user u
					LEFT JOIN sys_dept d ON u.dept_id = d.dept_id 
				WHERE
					u.STATUS = 1 
					AND dept_name IS NOT NULL 
					<if test="starttime != null"><!-- 开始时间检索 -->
							AND date_format(u.update_time,'%y%m%d') &gt;= date_format(#{starttime},'%y%m%d')
						</if>
						<if test="endtime != null"><!-- 结束时间检索 -->
							AND date_format(u.update_time,'%y%m%d') &lt;= date_format(#{endtime},'%y%m%d')
						</if> 
				GROUP BY
					d.dept_id 
				) b ON a.dept_id = b.dept_id
				LEFT JOIN (
				SELECT
					d.dept_name,
					d.dept_id,
					d.order_num,
					d.parent_id,
					count( u.user_id ) count 
				FROM
					sys_user u
					LEFT JOIN sys_dept d ON u.dept_id = d.dept_id 
				WHERE
					u.STATUS = 0 
					AND dept_name IS NOT NULL 
					<if test="starttime != null"><!-- 开始时间检索 -->
							AND date_format(u.intime,'%y%m%d') &gt;= date_format(#{starttime},'%y%m%d')
						</if>
						<if test="endtime != null"><!-- 结束时间检索 -->
							AND date_format(u.intime,'%y%m%d') &lt;= date_format(#{endtime},'%y%m%d')
						</if>
				GROUP BY
					d.dept_id 
				) c ON a.dept_id = c.dept_id 
			ORDER BY
				a.parent_id,
				a.order_num 
			) d 
	<where>
			d.ratio1 = d.ratio2 =0
		 <if test="deptName != null and deptName != ''">and a.dept_name = #{deptName}</if>				
	</where>		
	</select>
</mapper> 