<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XzAssetAccountRecordMapper">
    
    <resultMap type="XzAssetAccountRecord" id="XzAssetAccountRecordResult">
        <result property="id"    column="id"    />
        <result property="assetId"    column="asset_id"    />
        <result property="disposeUser"    column="dispose_user"    />
        <result property="disposeDate"    column="dispose_date"    />
        <result property="currentStatus"    column="current_status"    />
        <result property="targetStatus"    column="target_status"    />
        <result property="comment"    column="comment"    />
        <result property="count"    column="count"    />
    </resultMap>
	
	<sql id="selectXzAssetAccountRecordVo">
        select id, asset_id, dispose_user, dispose_date, current_status, target_status, comment, count from xz_asset_account_record
    </sql>
	
    <select id="selectXzAssetAccountRecordList" parameterType="XzAssetAccountRecord" resultMap="XzAssetAccountRecordResult">
        <include refid="selectXzAssetAccountRecordVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="assetId != null "> and asset_id = #{assetId}</if>
             <if test="disposeUser != null "> and dispose_user = #{disposeUser}</if>
             <if test="disposeDate != null "> and dispose_date = #{disposeDate}</if>
             <if test="currentStatus != null "> and current_status = #{currentStatus}</if>
             <if test="targetStatus != null "> and target_status = #{targetStatus}</if>
             <if test="comment != null  and comment != '' "> and comment = #{comment}</if>
             <if test="count != null "> and count = #{count}</if>
         </where>
    </select>
    
    <select id="selectXzAssetAccountRecordById" parameterType="Long" resultMap="XzAssetAccountRecordResult">
        <include refid="selectXzAssetAccountRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXzAssetAccountRecord" parameterType="XzAssetAccountRecord" useGeneratedKeys="true" keyProperty="id">
        insert into xz_asset_account_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="assetId != null  ">asset_id,</if>
			<if test="disposeUser != null  ">dispose_user,</if>
			<if test="disposeDate != null  ">dispose_date,</if>
			<if test="currentStatus != null  ">current_status,</if>
			<if test="targetStatus != null  ">target_status,</if>
			<if test="comment != null  and comment != ''  ">comment,</if>
			<if test="count != null  ">count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="assetId != null  ">#{assetId},</if>
			<if test="disposeUser != null  ">#{disposeUser},</if>
			<if test="disposeDate != null  ">#{disposeDate},</if>
			<if test="currentStatus != null  ">#{currentStatus},</if>
			<if test="targetStatus != null  ">#{targetStatus},</if>
			<if test="comment != null  and comment != ''  ">#{comment},</if>
			<if test="count != null  ">#{count},</if>
         </trim>
    </insert>
	 
    <update id="updateXzAssetAccountRecord" parameterType="XzAssetAccountRecord">
        update xz_asset_account_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetId != null  ">asset_id = #{assetId},</if>
            <if test="disposeUser != null  ">dispose_user = #{disposeUser},</if>
            <if test="disposeDate != null  ">dispose_date = #{disposeDate},</if>
            <if test="currentStatus != null  ">current_status = #{currentStatus},</if>
            <if test="targetStatus != null  ">target_status = #{targetStatus},</if>
            <if test="comment != null  and comment != ''  ">comment = #{comment},</if>
            <if test="count != null  ">count = #{count},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteXzAssetAccountRecordById" parameterType="Long">
        delete from xz_asset_account_record where id = #{id}
    </delete>
	
    <delete id="deleteXzAssetAccountRecordByIds" parameterType="String">
        delete from xz_asset_account_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>