<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XzAsstesMapper">

	<resultMap type="XzAsstes" id="XzAsstesResult">
		<result property="id" column="id" />
		<result property="assetsCode" column="assets_code" />
		<result property="region" column="region" />
		<result property="regionName" column="regionName" />
		<result property="assetsName" column="assets_name" />
		<result property="assetsType" column="assets_type" />
		<result property="assetsTypeName" column="assets_type_name" />
		<result property="assetsType2" column="assets_type2" />
		<result property="assetsType2Name" column="assets_type2_name" />
		<result property="assetsModel" column="assets_model" />
		<result property="price" column="price" />
		<result property="unit" column="unit" />
		<result property="unitName" column="unit_name" />
		<result property="count" column="count" />
		<result property="attach" column="attach" />
		<result property="attachName" column="attach_name" />
		<result property="purchaseNum" column="purchase_num" />
		<result property="category" column="category" />
		<result property="brand" column="brand" />
		<result property="brandName" column="brand_name" />
		<result property="buyAddress" column="buy_address" />
		<result property="manufacturer" column="manufacturer" />
		<result property="supplier" column="supplier" />
		<result property="invoiceType" column="invoice_type" />
		<result property="invoiceTypeName" column="invoice_type_name" />
		<result property="invoiceNum" column="invoice_num" />
		<result property="purchaseBy" column="purchase_by" />
		<result property="purchaseName" column="purchase_name" />
		<result property="buyDate" column="buy_date" />
		<result property="annex" column="annex" />
		<result property="remarks" column="remarks" />
		<result property="extendMoney" column="extend_money" />
		<result property="extendTime" column="extend_time" />
		<result property="extendContent" column="extend_content" />
		<result property="assetsStatus" column="assets_status" />
		<result property="assetsStatusName" column="assets_status_name" />
		<result property="useStatus" column="use_status" />
		<result property="useStatusName" column="use_status_name" />
		<result property="useBy" column="use_by" />
		<result property="useName" column="use_name" />
		<result property="department" column="department" />
		<result property="departmentName" column="department_name" />
		<result property="useTime" column="use_time" />
		<result property="submitType" column="submit_type" />
		<result property="scrapDate" column="scrap_date" />
		<result property="storeWay" column="store_way" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="subBy" column="sub_by" />
		<result property="subTime" column="sub_time" />
		<result property="sort" column="sort" />
		<result property="isReturn" column="is_return" />
		<result property="isReturn" column="is_repair" />

		
		
	</resultMap>

	<sql id="selectXzAsstesVo">
		select id, assets_code, region, assets_name, assets_type, assets_type2,
		assets_model, price, unit, count, attach, purchase_num, category,
		brand, buy_address, manufacturer, supplier, invoice_type, invoice_num,
		purchase_by, buy_date, annex, remarks, extend_money, extend_time,
		extend_content, assets_status, use_status, use_by, department,
		use_time, submit_type, scrap_date, store_way, create_by, create_time,
		update_by, update_time, sub_by, sub_time ,sort,is_retrun,is_repair from xz_asstes
	</sql>

	<sql id="selectXzAsstes">
		select a.is_repair,a.is_return,a.id, a.assets_code, a.region, a.assets_name, a.assets_type,
		a.assets_type2, a.assets_model, a.price, a.unit, a.count, a.attach,
		a.purchase_num, a.category, a.brand, a.buy_address,
		a.manufacturer, a.supplier, a.invoice_type, a.invoice_num, a.purchase_by, a.buy_date,
		a.annex, a.remarks, a.extend_money, a.extend_time, a.extend_content,a.assets_status,
		a.use_status, a.use_by, a.department, a.use_time, a.submit_type, a.scrap_date,
		a.store_way, a.create_by, a.create_time, a.update_by, a.update_time,
		a.sub_by, a.sub_time, a.sort,su.user_name purchase_name,user.user_name
		use_name,d.dept_name department_name, at.name assets_type_name from xz_asstes a
		left join sys_user su on su.user_id =a.purchase_by
		left join sys_user user on user.user_id =a.use_by
		left join sys_dept d on d.dept_id = a.department
		left join xz_asset_type at on at.id=a.assets_type
	</sql>

	<select id="selectXzAsstesList" parameterType="XzAsstes" resultMap="XzAsstesResult">
		<include refid="selectXzAsstes" />
		<where>
			<if test="id != null "> and id = #{id}</if>
			<if test="sort != null and sort !='' "> and a.sort =#{sort}</if>
			<if test="submitType != null  and submitType != '' "> and a.submit_type = #{submitType}</if>
			<if test="assetsCode != null  and assetsCode != '' "> and a.assets_code like concat('%', #{assetsCode}, '%')</if>
			<if test="region != null  and region != '' "> and a.region = #{region}</if>
			<if test="assetsName != null  and assetsName != '' "> and a.assets_name like concat('%', #{assetsName}, '%') </if>
			<if test="assetsType != null  and assetsType != '' "> and a.assets_type = #{assetsType}</if>
			<if test="assetsType2 != null  and assetsType2 != '' "> and a.assets_type2 = #{assetsType2}</if>
			<if test="assetsModel != null  and assetsModel != '' "> and a.assets_model = #{assetsModel}</if>
			<if test="attach != null  and attach != '' "> and a.attach = #{attach}</if>
			<if test="category != null  and category != '' "> and a.category = #{category}</if>
			<if test="brand != null  and brand != '' "> and a.brand = #{brand}</if>
			<if test="purchaseName != null  and purchaseName != '' "> and su.user_name like concat('%', #{purchaseName}, '%')</if>
			<if test="useName != null  and useName != '' "> and user.user_name like concat('%', #{useName}, '%')</if>
			<!-- <if test="buyDate != null "> and buy_date = #{buyDate}</if> -->
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(a.buy_date,'%y%m%d') &gt;=
				date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(a.buy_date,'%y%m%d') &lt;=
				date_format(#{params.endTime},'%y%m%d')
			</if>
			<if test="assetsStatus != null  and assetsStatus != '' "> and a.assets_status = #{assetsStatus}</if>
			<if test="useStatus != null  and useStatus != '' "> and a.use_status = #{useStatus}</if>
			<if test="useTime != null "> and a.use_time = #{useTime}</if>
			<if test="submitType != null  and submitType != '' "> and a.submit_type = #{submitType}</if>
		</where>
		ORDER BY create_time DESC
	</select>

	<select id="selectXzAsstesById" parameterType="Long" resultMap="XzAsstesResult">
		<include refid="selectXzAsstes" />
		where a.id = #{id}
	</select>

	<insert id="insertXzAsstes" parameterType="XzAsstes" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into xz_asstes
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="assetsCode != null  and assetsCode != ''  ">assets_code,</if>
			<if test="region != null  and region != ''  ">region,</if>
			<if test="assetsName != null  and assetsName != ''  ">assets_name,</if>
			<if test="assetsType != null  and assetsType != ''  ">assets_type,</if>
			<if test="assetsType2 != null  and assetsType2 != ''  ">assets_type2,</if>
			<if test="assetsModel != null  and assetsModel != ''  ">assets_model,</if>
			<if test="price != null  and price != ''  ">price,</if>
			<if test="unit != null  and unit != ''  ">unit,</if>
			<if test="count != null  and count != ''  ">count,</if>
			<if test="attach != null  and attach != ''  ">attach,</if>
			<if test="purchaseNum != null  and purchaseNum != ''  ">purchase_num,</if>
			<if test="category != null  and category != ''  ">category,</if>
			<if test="brand != null  and brand != ''  ">brand,</if>
			<if test="buyAddress != null  and buyAddress != ''  ">buy_address,</if>
			<if test="manufacturer != null  and manufacturer != ''  ">manufacturer,</if>
			<if test="supplier != null  and supplier != ''  ">supplier,</if>
			<if test="invoiceType != null  and invoiceType != ''  ">invoice_type,</if>
			<if test="invoiceNum != null  and invoiceNum != ''  ">invoice_num,</if>
			<if test="purchaseBy != null  and purchaseBy != ''  ">purchase_by,</if>
			<if test="buyDate != null  ">buy_date,</if>
			<if test="annex != null  and annex != ''  ">annex,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
			<if test="extendMoney != null  and extendMoney != ''  ">extend_money,</if>
			<if test="extendTime != null  ">extend_time,</if>
			<if test="extendContent != null  and extendContent != ''  ">extend_content,</if>
			<if test="assetsStatus != null  and assetsStatus != ''  ">assets_status,</if>
			<if test="useStatus != null  and useStatus != ''  ">use_status,</if>
			<if test="useBy != null  and useBy != ''  ">use_by,</if>
			<if test="department != null  and department != ''  ">department,</if>
			<if test="useTime != null  ">use_time,</if>
			<if test="submitType != null  and submitType != ''  ">submit_type,</if>
			<if test="scrapDate != null  ">scrap_date,</if>
			<if test="storeWay != null  and storeWay != ''  ">store_way,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="subBy != null  and subBy != ''  ">sub_by,</if>
			<if test="subTime != null  ">sub_time,</if>
			<if test="sort != null and sort !='' ">sort,</if>
			<if test="isReturn != null and isReturn !='' ">is_return,</if>
			<if test="isRepair != null and isRepair !='' ">is_repair,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="assetsCode != null  and assetsCode != ''  ">#{assetsCode},</if>
			<if test="region != null  and region != ''  ">#{region},</if>
			<if test="assetsName != null  and assetsName != ''  ">#{assetsName},</if>
			<if test="assetsType != null  and assetsType != ''  ">#{assetsType},</if>
			<if test="assetsType2 != null  and assetsType2 != ''  ">#{assetsType2},</if>
			<if test="assetsModel != null  and assetsModel != ''  ">#{assetsModel},</if>
			<if test="price != null  and price != ''  ">#{price},</if>
			<if test="unit != null  and unit != ''  ">#{unit},</if>
			<if test="count != null  and count != ''  ">#{count},</if>
			<if test="attach != null  and attach != ''  ">#{attach},</if>
			<if test="purchaseNum != null  and purchaseNum != ''  ">#{purchaseNum},</if>
			<if test="category != null  and category != ''  ">#{category},</if>
			<if test="brand != null  and brand != ''  ">#{brand},</if>
			<if test="buyAddress != null  and buyAddress != ''  ">#{buyAddress},</if>
			<if test="manufacturer != null  and manufacturer != ''  ">#{manufacturer},</if>
			<if test="supplier != null  and supplier != ''  ">#{supplier},</if>
			<if test="invoiceType != null  and invoiceType != ''  ">#{invoiceType},</if>
			<if test="invoiceNum != null  and invoiceNum != ''  ">#{invoiceNum},</if>
			<if test="purchaseBy != null  and purchaseBy != ''  ">#{purchaseBy},</if>
			<if test="buyDate != null  ">#{buyDate},</if>
			<if test="annex != null  and annex != ''  ">#{annex},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
			<if test="extendMoney != null  and extendMoney != ''  ">#{extendMoney},</if>
			<if test="extendTime != null  ">#{extendTime},</if>
			<if test="extendContent != null  and extendContent != ''  ">#{extendContent},</if>
			<if test="assetsStatus != null  and assetsStatus != ''  ">#{assetsStatus},</if>
			<if test="useStatus != null  and useStatus != ''  ">#{useStatus},</if>
			<if test="useBy != null  and useBy != ''  ">#{useBy},</if>
			<if test="department != null  and department != ''  ">#{department},</if>
			<if test="useTime != null  ">#{useTime},</if>
			<if test="submitType != null  and submitType != ''  ">#{submitType},</if>
			<if test="scrapDate != null  ">#{scrapDate},</if>
			<if test="storeWay != null  and storeWay != ''  ">#{storeWay},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="subBy != null  and subBy != ''  ">#{subBy},</if>
			<if test="subTime != null  ">#{subTime},</if>
			<if test="sort != null and sort !='' ">#{sort},</if>
			<if test="isReturn != null and isReturn !='' ">#{isReturn},</if>
			<if test="isRepair != null and isRepair !='' ">#{isRepair},</if>
		</trim>
	</insert>

	<update id="updateXzAsstes" parameterType="XzAsstes">
		update xz_asstes
		<trim prefix="SET" suffixOverrides=",">
			<if test="assetsCode != null  and assetsCode != ''  ">assets_code = #{assetsCode},</if>
			<if test="region != null  and region != ''  ">region = #{region},</if>
			<if test="assetsName != null  and assetsName != ''  ">assets_name = #{assetsName},</if>
			<if test="assetsType != null  and assetsType != ''  ">assets_type = #{assetsType},</if>
			<if test="assetsType2 != null  and assetsType2 != ''  ">assets_type2 = #{assetsType2},</if>
			<if test="assetsModel != null  and assetsModel != ''  ">assets_model = #{assetsModel},</if>
			<if test="price != null  and price != ''  ">price = #{price},</if>
			<if test="unit != null  and unit != ''  ">unit = #{unit},</if>
			<if test="count != null  and count != ''  ">count = #{count},</if>
			<if test="attach != null  and attach != ''  ">attach = #{attach},</if>
			<if test="purchaseNum != null  and purchaseNum != ''  ">purchase_num = #{purchaseNum},</if>
			<if test="category != null  and category != ''  ">category = #{category},</if>
			<if test="brand != null  and brand != ''  ">brand = #{brand},</if>
			<if test="buyAddress != null  and buyAddress != ''  ">buy_address = #{buyAddress},</if>
			<if test="manufacturer != null  and manufacturer != ''  ">manufacturer = #{manufacturer},</if>
			<if test="supplier != null  and supplier != ''  ">supplier = #{supplier},</if>
			<if test="invoiceType != null  and invoiceType != ''  ">invoice_type = #{invoiceType},</if>
			<if test="invoiceNum != null  and invoiceNum != ''  ">invoice_num = #{invoiceNum},</if>
			<if test="purchaseBy != null  and purchaseBy != ''  ">purchase_by = #{purchaseBy},</if>
			<if test="buyDate != null  ">buy_date = #{buyDate},</if>
			<if test="annex != null  and annex != ''  ">annex = #{annex},</if>
			<if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
			<if test="extendMoney != null  and extendMoney != ''  ">extend_money = #{extendMoney},</if>
			<if test="extendTime != null  ">extend_time = #{extendTime},</if>
			<if test="extendContent != null  and extendContent != ''  ">extend_content = #{extendContent},</if>
			<if test="assetsStatus != null  and assetsStatus != ''  ">assets_status = #{assetsStatus},</if>
			<if test="useStatus != null  and useStatus != ''  ">use_status = #{useStatus},</if>
			<if test="useBy != ''  ">use_by = #{useBy},</if>
			<if test="department != ''  ">department = #{department},</if>
			<if test="useTime != ''  ">use_time = #{useTime},</if>
			<if test="submitType != null  and submitType != ''  ">submit_type = #{submitType},</if>
			<if test="scrapDate != null  ">scrap_date = #{scrapDate},</if>
			<if test="storeWay != null  and storeWay != ''  ">store_way = #{storeWay},</if>
			<if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
			<if test="subBy != null  and subBy != ''  ">sub_by = #{subBy},</if>
			<if test="subTime != null  ">sub_time = #{subTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteXzAsstesById" parameterType="Long">
		delete from xz_asstes where id = #{id}
	</delete>

	<delete id="deleteXzAsstesByIds" parameterType="String">
		delete from xz_asstes where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO xz_asstes
		(assets_code,region,assets_name,assets_type,assets_model,price,unit,count,attach,purchase_num,category,brand,buy_address,
		purchase_by,buy_date,extend_money,extend_time,extend_content,assets_status,use_status,use_by,department,use_time,sort)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.assetsCode},#{item.region},#{item.assetsName},#{item.assetsType},#{item.assetsModel},#{item.price},#{item.unit},#{item.count},
			#{item.attach},#{item.purchaseNum},#{item.category},#{item.brand},#{item.buyAddress},#{item.purchaseBy},#{item.buyDate},#{item.extendMoney},
			#{item.extendTime},#{item.extendContent},#{item.assetsStatus},#{item.useStatus},#{item.useBy},#{item.department},#{item.useTime},"1")
		</foreach>
	</insert>

	<!-- 固定资产 -->
	<update id="updateXzAsstesByAssDraw" parameterType="XzAsstes">
		update xz_asstes
		<trim prefix="SET" suffixOverrides=",">
			use_status='3',
			<if test="useTime != null  ">use_time = #{useTime},</if>
		</trim>
		where use_by=#{useBy} and use_status='2' and sort='1'
	</update>
	<!-- 办公用品资产 -->
	<update id="updateXzAsstesByStaDraw" parameterType="XzAsstes">
		update xz_asstes
		<trim prefix="SET" suffixOverrides=",">
			use_status='5',
			<if test="useTime != null  ">use_time = #{useTime},</if>
		</trim>
		where use_by=#{useBy} and use_status='2' and sort='2'
	</update>

	<update id="updateXzAsstesByAssId" parameterType="XzAsstes">
		update xz_asstes
		<trim prefix="SET" suffixOverrides=",">
			use_status = '3',
			use_time = #{useTime},
		</trim>
		where id=#{id}
	</update>

	<update id="updateXzAsstesByStaId" parameterType="XzAsstes">
		update xz_asstes
		<trim prefix="SET" suffixOverrides=",">
			use_status = '5',
			use_time = #{useTime},
		</trim>
		where id=#{id}
	</update>

	<select id="countXzAsstesByAllDraw" parameterType="Long"
		resultType="int">
		SELECT COUNT(0) FROM xz_asstes WHERE use_by=#{useBy} and use_status='2'
	</select>

	<select id="selectMinAssetByType2AndRegion" parameterType="XzAsstes"
		resultMap="XzAsstesResult">
		<include refid="selectXzAsstes" />
		where a.id in (
			select min(b.id) as id 
			  from (select a.id 
					  from (select * 
					  		  from xz_asstes
							where 
							<if test="assetsType2 != null  and assetsType2 != '' ">assets_type2 = #{assetsType2}</if>
							<if test="region != null  and region != '' "> and region = #{region}</if>
							and assets_status='2'
						    and use_status ='1' 
							and sort ='2'
							) a 
					) b
		)

	</select>
	
	<select id="countAssetByType2AndRegion" parameterType="Long"
		resultType="int">
		SELECT COUNT(0) FROM (select a.id 
					  			from (select * 
					  		  			from xz_asstes
									  where 
										<if test="assetsType2 != null  and assetsType2 != '' ">assets_type2 = #{assetsType2}</if>
										<if test="region != null  and region != '' "> and region = #{region}</if>
										and assets_status='2'
						   			    and use_status ='1' 
							            and sort ='2') a ) b
	</select>

	 <select id="selectMaxCodeByType" parameterType="XzAsstes" resultType="java.lang.String">
		SELECT
		max( t.assetCode ) assets_code
	FROM
		(
		SELECT
			subString( a.assets_code, length( a.assets_code ) - 3, 4 ) assetCode,
			AT.CODE typeCode,
			ad.CODE dataCode,
			concat( AT.CODE, ad.CODE ) www
		FROM
			xz_asstes a
			LEFT JOIN xz_asset_type AT ON AT.id = a.assets_type
			LEFT JOIN xz_asset_data ad ON ad.id = a.assets_type2
		WHERE
			AT.id = #{assetsType} and  ad.id=#{assetsType2} and a.region =#{region}

		) t
	</select>
	
	<resultMap type="XzAsstesSta" id="XzAsstesStaResult">
		<result property="id" column="id" />
		<result property="region" column="region" />
		<result property="assetTypeId" column="asset_type_id" />
		<result property="assetTypeIdName" column="asset_type_id_name" />
		<result property="assetType2Id" column="asset_type2_id" />
		<result property="assetType2IdName" column="asset_type2_id_name" />
		<result property="brand" column="brand" />
		<result property="assetsModel" column="assets_model" />
		<result property="unit" column="unit" />
		<result property="chushiCount" column="chushi_count" />
		<result property="fenpeiCount" column="fenpei_count" />
		<result property="rukuCount" column="ruku_count" />
		<result property="guihuanCount" column="guihuan_count" />
		<result property="shengyuCount" column="shengyu_count" />
	</resultMap>
	
	
	<select id="selectXzStatisticsList" parameterType="XzAsstesSta" resultMap="XzAsstesStaResult">
		
		select t.region,t.type2Id asset_type2_id,t.typeName2 asset_type2_id_name,t.type1Id asset_type_id,
		t.typeName1 asset_type_id_name,t.brand,t.unit,t.chushiCount chushi_count,t.dangyueCount ruku_count,
		t.fengpeiCount fenpei_count,t.guihuanCount guihuan_count,t.shengyuCount shengyu_count 
		from(
		select a.region ,ad.id type2Id,ad.name typeName2,at.id type1Id ,at.name typeName1,a.brand,a.unit ,
		IFNULL(count(*),0) sumCount,(IFNULL(count(*),0)-IFNULL(t2.dangyueCount,0)) chushiCount ,
		IFNULL(t2.dangyueCount,0) dangyueCount,IFNULL(t3.fenpeiCount,0) sumFengpeiCount,IFNULL(t4.fenpeiCount,0) fengpeiCount,
		IFNULL(t6.guihuan,0) guihuanCount, IFNULL(t5.shengyuCount,0) shengyuCount
		from xz_asstes a
		left join xz_asset_data ad on ad.id = a.assets_type2
		left join xz_asset_type at on at.id = a.assets_type and at.id =ad.parent_id 
		left join (SELECT a.region ,ad.id type2Id,ad.name typeName2,at.id type1Id ,at.name typeName1,IFNULL(count(*),0) dangyueCount  FROM xz_asstes a 
								left join xz_asset_data ad on ad.id = a.assets_type2
								left join xz_asset_type at on at.id = a.assets_type and at.id =ad.parent_id 
		WHERE DATE_FORMAT( a.sub_time, '%Y-%m' ) = DATE_FORMAT( CURDATE( ) , '%Y-%m' ) <if test="sort!=null and sort!=''"> and a.sort=#{sort}</if> and a.submit_type='2'
								group by a.assets_type2,a.region  )t2 on t2.region=a.region and t2.type2Id=ad.id
		left join (SELECT a.region ,ad.id type2Id,ad.name typeName2,at.id type1Id ,at.name typeName1,IFNULL(count(*),0) fenpeiCount  FROM xz_asstes a 
								left join xz_asset_data ad on ad.id = a.assets_type2
								left join xz_asset_type at on at.id = a.assets_type and at.id =ad.parent_id 
								WHERE <if test="sort!=null and sort!=''">a.sort=#{sort} and</if> a.submit_type='2' and a.assets_status='3'
								group by a.assets_type2,a.region )t3 on  t3.region=a.region and t3.type2Id=ad.id
		left join (SELECT a.region ,ad.id type2Id,ad.name typeName2,at.id type1Id ,at.name typeName1,IFNULL(count(*),0) fenpeiCount  FROM xz_asstes a 
								left join xz_asset_data ad on ad.id = a.assets_type2
								left join xz_asset_type at on at.id = a.assets_type and at.id =ad.parent_id 
								left join xz_asset_hand_record ahr on ahr.asset_id = a.id
								WHERE DATE_FORMAT( ahr.distribution_date, '%Y-%m' ) = DATE_FORMAT( CURDATE( ) , '%Y-%m' )
								<if test="sort!=null and sort!=''">and a.sort=#{sort}</if> and a.submit_type='2'
								group by a.assets_type2,a.region ) t4 on  t4.region=a.region and t4.type2Id=ad.id
		left join (SELECT a.region ,ad.id type2Id,ad.name typeName2,at.id type1Id ,at.name typeName1,IFNULL(count(*),0) shengyuCount  FROM xz_asstes a 
								left join xz_asset_data ad on ad.id = a.assets_type2
								left join xz_asset_type at on at.id = a.assets_type and at.id =ad.parent_id 
								WHERE <if test="sort!=null and sort!=''">a.sort=#{sort} and </if> a.submit_type='2' and a.assets_status='2'
								group by a.assets_type2,a.region )t5 on  t5.region=a.region and t5.type2Id=ad.id
		left join (select c.assets_type2,c.region,ifnull(count(a.id),0) guihuan,a.* from xz_asset_return a
								left join xz_personal_asset b on a.asset_id = b.id
								left join xz_asstes c on b.asset_id = c.id
								where a.return_status='1' <if test="sort!=null and sort!=''"> and c.sort=#{sort} </if> group by c.assets_type2,c.region) t6 on t6.assets_type2 = ad.id and t6.region = a.region

		where <if test="sort!=null and sort!=''"> a.sort=#{sort} and </if> a.submit_type='2'
		group by a.assets_type2,a.region
		) t
		where 1=1
			<if test="region != null and region !='' ">and t.region = #{region}</if>
			<if test="assetType2IdName != null and assetType2IdName !='' "> and t.typeName2 like concat('%', #{assetType2IdName}, '%')</if>
	</select>
	
	<select id="selectAssetByType12" parameterType="XzAsstes" resultType="int">
		select count(id) from xz_asstes  where sort ="2" and assets_status="2" and assets_type =#{assetsType} and assets_type2=#{assetsType2}
	</select>
</mapper>