<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XzAssetHandRecordMapper">
    
    <resultMap type="XzAssetHandRecord" id="XzAssetHandRecordResult">
        <result property="id"    column="id"    />
        <result property="applyId"    column="apply_id"    />
        <result property="assetId"    column="asset_id"    />
        <result property="distributor"    column="distributor"    />
        <result property="recipient"    column="recipient"    />
        <result property="distributionDate"    column="distribution_date"    />
        <result property="confirmDate"    column="confirm_date"    />
        <result property="planReturnDate"    column="plan_return_date"    />
        <result property="isClaim"    column="is_claim"    />
        <result property="isMsg"    column="is_msg"    />
        <result property="sourceType"    column="source_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="assetName"    column="asset_name"    />
        <result property="distributorName"    column="distributor_name"    />
        <result property="recipientName"    column="recipient_name"    />
        <result property="departmentName"    column="department_name"    />
        <result property="reason"    column="reason"    />
    </resultMap>
	
	<sql id="selectXzAssetHandRecordVo">
        select id, apply_id, asset_id, distributor, recipient, distribution_date, confirm_date, plan_return_date, is_claim, is_msg, source_type, create_by, create_time, update_by, update_time from xz_asset_hand_record
    </sql>
    
    <sql id="selectXzAssetHandRecord">
        select ahr.id, ahr.apply_id, ahr.asset_id, ahr.distributor, ahr.recipient, ahr.distribution_date, ahr.confirm_date, ahr.plan_return_date, ahr.is_claim, ahr.is_msg, ahr.source_type, ahr.create_by, ahr.create_time, ahr.update_by, ahr.update_time, 
        a.assets_name asset_name,d.dept_name department_name, u.user_name distributor_name,ur.user_name recipient_name
        from xz_asset_hand_record ahr 
        left join xz_asstes a on a.id =ahr.asset_id
        left join sys_user u on u.user_id= ahr.distributor
        left join sys_user ur on ur.user_id= ahr.recipient
        left join sys_dept d on d.dept_id=a.department
        left join xz_personal_apply xpa on xpa.apply_id=ahr.apply_id
    </sql>
	
    <select id="selectXzAssetHandRecordList" parameterType="XzAssetHandRecord" resultMap="XzAssetHandRecordResult">
        <include refid="selectXzAssetHandRecord"/>
        <where>  
             <if test="assetName != null  and assetName != '' "> and a.assets_name = #{assetName}</if>
              and a.sort = '2'
         </where>
    </select>
    
    <select id="selectXzAssetHandRecordById" parameterType="Long" resultMap="XzAssetHandRecordResult">
        <include refid="selectXzAssetHandRecordVo"/>
        where id = #{id}
    </select>
    
    <select id="selectXzAssetHandRecordByAssetId" parameterType="Long" resultMap="XzAssetHandRecordResult">
        <include refid="selectXzAssetHandRecord"/>
        where a.id = #{assetId}
    </select>
        
    <insert id="insertXzAssetHandRecord" parameterType="XzAssetHandRecord" useGeneratedKeys="true" keyProperty="id">
        insert into xz_asset_hand_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="applyId != null  and applyId != ''  ">apply_id,</if>
			<if test="assetId != null  and assetId != ''  ">asset_id,</if>
			<if test="distributor != null  and distributor != ''  ">distributor,</if>
			<if test="recipient != null  and recipient != ''  ">recipient,</if>
			<if test="distributionDate != null  ">distribution_date,</if>
			<if test="confirmDate != null  ">confirm_date,</if>
			<if test="planReturnDate != null  ">plan_return_date,</if>
			<if test="isClaim != null  and isClaim != ''  ">is_claim,</if>
			<if test="isMsg != null  and isMsg != ''  ">is_msg,</if>
			<if test="sourceType != null  and sourceType != ''  ">source_type,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="reason != null and reason !='' ">reason,</if>
			<if test="distributorStatus != null  and distributorStatus != ''  ">distributor_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        	<if test="applyId != null  and applyId != ''  ">#{applyId},</if>
			<if test="assetId != null  and assetId != ''  ">#{assetId},</if>
			<if test="distributor != null  and distributor != ''  ">#{distributor},</if>
			<if test="recipient != null  and recipient != ''  ">#{recipient},</if>
			<if test="distributionDate != null  ">#{distributionDate},</if>
			<if test="confirmDate != null  ">#{confirmDate},</if>
			<if test="planReturnDate != null  ">#{planReturnDate},</if>
			<if test="isClaim != null  and isClaim != ''  ">#{isClaim},</if>
			<if test="isMsg != null  and isMsg != ''  ">#{isMsg},</if>
			<if test="sourceType != null  and sourceType != ''  ">#{sourceType},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="reason != null and reason != ''"> #{reason},</if>
			<if test="distributorStatus != null  and distributorStatus != ''  ">#{distributorStatus},</if>
         </trim>
    </insert>
	 
    <update id="updateXzAssetHandRecord" parameterType="XzAssetHandRecord">
        update xz_asset_hand_record
        <trim prefix="SET" suffixOverrides=",">
        	<if test="applyId != null  and applyId != ''  ">apply_id = #{applyId},</if>
            <if test="assetId != null  and assetId != ''  ">asset_id = #{assetId},</if>
            <if test="distributor != null  and distributor != ''  ">distributor = #{distributor},</if>
            <if test="recipient != null  and recipient != ''  ">recipient = #{recipient},</if>
            <if test="distributionDate != null  ">distribution_date = #{distributionDate},</if>
            <if test="confirmDate != null  ">confirm_date = #{confirmDate},</if>
            <if test="planReturnDate != null  ">plan_return_date = #{planReturnDate},</if>
            <if test="isClaim != null  and isClaim != ''  ">is_claim = #{isClaim},</if>
            <if test="isMsg != null  and isMsg != ''  ">is_msg = #{isMsg},</if>
            <if test="sourceType != null  and sourceType != ''  ">source_type = #{sourceType},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteXzAssetHandRecordById" parameterType="Long">
        delete from xz_asset_hand_record where id = #{id}
    </delete>
	
    <delete id="deleteXzAssetHandRecordByIds" parameterType="String">
        delete from xz_asset_hand_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>