<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XzAssetTypeMapper">
    
    <resultMap type="XzAssetType" id="XzAssetTypeResult">
        <result property="id"    column="id"    />
        <result property="sort"    column="sort"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectXzAssetTypeVo">
        select id, sort, name, create_by, create_time, update_by, update_time from xz_asset_type
    </sql>
	
    <select id="selectXzAssetTypeList" parameterType="XzAssetType" resultMap="XzAssetTypeResult">
        <include refid="selectXzAssetTypeVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="sort != null  and sort != '' "> and sort = #{sort}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectXzAssetTypeById" parameterType="Long" resultMap="XzAssetTypeResult">
        <include refid="selectXzAssetTypeVo"/>
        where id = #{id}
    </select>
    
     <select id="selectXzAssetTypeByName" resultType="int">
        select count(1) from xz_asset_type where sort=#{sort} and name = #{name}  
    </select>
    
    <select id="checkTypeUnique" parameterType="String" resultMap="XzAssetTypeResult">
        <include refid="selectXzAssetTypeVo"/>
        where name = #{name}
    </select>
    
    <!-- 获取办公室用品的资产父级类型 -->
    <select id="selectXzAssetTypeByStaAll"  resultMap="XzAssetTypeResult">
        <include refid="selectXzAssetTypeVo"/>
         where sort='2' 
    </select>
    
     <!-- 获取固定的资产父级类型 -->
    <select id="selectXzAssetTypeByAssAll"  resultMap="XzAssetTypeResult">
        <include refid="selectXzAssetTypeVo"/>
         where sort='1' 
    </select>
    

    <select id="selectXzAssetTypeAll"  resultMap="XzAssetTypeResult">
        <include refid="selectXzAssetTypeVo"/>
    </select>
        
    <insert id="insertXzAssetType" parameterType="XzAssetType" useGeneratedKeys="true" keyProperty="id">
        insert into xz_asset_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sort != null  and sort != ''  ">sort,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sort != null  and sort != ''  ">#{sort},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateXzAssetType" parameterType="XzAssetType">
        update xz_asset_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="sort != null  and sort != ''  ">sort = #{sort},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteXzAssetTypeById" parameterType="Long">
        delete from xz_asset_type where id = #{id}
    </delete>
	
    <delete id="deleteXzAssetTypeByIds" parameterType="String">
        delete from xz_asset_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>