<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('个人资产列表')" />
	<script type="text/javascript">
	/* 个人资产-一键领取 */
	function allDraw() {
			$.operate.post(prefix + "/allDraw");
	}
	
	function draw(assetId) {
		$.operate.post(prefix + "/draw", { "assetId": assetId});
	}
	</script>
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								资产名称：<input type="text" id="assetName" name="assetName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
			 	<a class="btn btn-success" onclick="allDraw()">
					 一键领取
				</a>
				<!-- <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:xzPersonalAsset:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:xzPersonalAsset:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:xzPersonalAsset:export">
						<i class="fa fa-download"></i> 导出
				 </a>  -->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:xzPersonalAsset:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:xzPersonalAsset:remove')}]];
        var prefix = ctx + "system/xzPersonalAsset";

        var region = [[${@dict.getType('xz_assets_region')}]];
        var brand = [[${@dict.getType('xz_assets_brand')}]];
        var useStatus = [[${@dict.getType('xz_assets_useStatus')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "个人资产",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'xzAsstes.assetsId', 
					title : '资产编码',
					sortable: true
				},
				{
					field : 'xzAsstes.assetsName', 
					title : '产资名称',
					sortable: true
				},
				
				{
					field : 'xzAsstes.assetsType', 
					title : '资产类型',
					sortable: true
				},
				{
					field : 'xzAsstes.brand', 
					title : '品牌',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(brand, value);
					}
				},
				{
					field : 'xzAsstes.assetsModel', 
					title : '资产型号',
					sortable: true
				},
				{
					field : 'xzAsstes.region', 
					title : '地域',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(region, value);
					}
				},
				{
					field : 'xzAsstes.useStatus', 
					title : '使用状态',
					formatter: function(value, row, index) {
					    return $.table.selectDictLabel(useStatus, value);
					}
				},
				{
					field : 'xzAsstes.useTime', 
					title : '领用时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if(row.xzAsstes.useStatus=='2'){
		            		actions.push('<a class="btn btn-success btn-xs ' + '" onclick="draw(\'' + row.assetId + '\')">领取</a> ');
		            	}
		            	if(row.xzAsstes.useStatus=='3'){
		            		actions.push('<a class="btn btn-danger btn-xs ' + '" onclick="#">报修</a> ');
		            		actions.push('<a class="btn btn-white btn-xs ' + '" onclick="#">归还</a> ');
		            	}
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>