<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改办公用品分配记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-xzStationeryassetRecord-edit" th:object="${xzStationeryassetRecord}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">地域：</label>
				<div class="col-sm-8">
					<input id="region" name="region" th:field="*{region}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产名称：</label>
				<div class="col-sm-8">
					<input id="assetsName" name="assetsName" th:field="*{assetsName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产父类型：</label>
				<div class="col-sm-8">
					<input id="assetsType" name="assetsType" th:field="*{assetsType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产子类型：</label>
				<div class="col-sm-8">
					<input id="assetsType2" name="assetsType2" th:field="*{assetsType2}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产型号：</label>
				<div class="col-sm-8">
					<input id="assetsModel" name="assetsModel" th:field="*{assetsModel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">品牌：</label>
				<div class="col-sm-8">
					<input id="brand" name="brand" th:field="*{brand}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单价：</label>
				<div class="col-sm-8">
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单位：</label>
				<div class="col-sm-8">
					<input id="unit" name="unit" th:field="*{unit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">数量：</label>
				<div class="col-sm-8">
					<input id="count" name="count" th:field="*{count}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总金额：</label>
				<div class="col-sm-8">
					<input id="sumPrice" name="sumPrice" th:field="*{sumPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">采购单号：</label>
				<div class="col-sm-8">
					<input id="purchaseNum" name="purchaseNum" th:field="*{purchaseNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">采购人：</label>
				<div class="col-sm-8">
					<input id="purchaseBy" name="purchaseBy" th:field="*{purchaseBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">购入时间：</label>
				<div class="col-sm-8">
					<input id="buyDate" name="buyDate" th:field="*{buyDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">购买地址（如网上购买链接）：</label>
				<div class="col-sm-8">
					<input id="buyAddress" name="buyAddress" th:field="*{buyAddress}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发票类型：</label>
				<div class="col-sm-8">
					<input id="invoiceType" name="invoiceType" th:field="*{invoiceType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发票编号：</label>
				<div class="col-sm-8">
					<input id="invoiceNum" name="invoiceNum" th:field="*{invoiceNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">附件：</label>
				<div class="col-sm-8">
					<input id="annex" name="annex" th:field="*{annex}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remarks" name="remarks" th:field="*{remarks}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产状态：</label>
				<div class="col-sm-8">
					<input id="assetsStatus" name="assetsStatus" th:field="*{assetsStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">使用状态：</label>
				<div class="col-sm-8">
					<input id="useStatus" name="useStatus" th:field="*{useStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">分配人：</label>
				<div class="col-sm-8">
					<input id="distributor" name="distributor" th:field="*{distributor}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">分配时间：</label>
				<div class="col-sm-8">
					<input id="distributionTime" name="distributionTime" th:field="*{distributionTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">前当使用人：</label>
				<div class="col-sm-8">
					<input id="useBy" name="useBy" th:field="*{useBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">使用时间：</label>
				<div class="col-sm-8">
					<input id="useTime" name="useTime" th:field="*{useTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">使用部门：</label>
				<div class="col-sm-8">
					<input id="department" name="department" th:field="*{department}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产提交方式：</label>
				<div class="col-sm-8">
					<input id="submitType" name="submitType" th:field="*{submitType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产报废日期：</label>
				<div class="col-sm-8">
					<input id="scrapDate" name="scrapDate" th:field="*{scrapDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资产入库方式：</label>
				<div class="col-sm-8">
					<input id="storeWay" name="storeWay" th:field="*{storeWay}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" th:field="*{createBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改人：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" th:field="*{updateBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" th:field="*{updateTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库提交时间：</label>
				<div class="col-sm-8">
					<input id="subTime" name="subTime" th:field="*{subTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">提交人：</label>
				<div class="col-sm-8">
					<input id="subBy" name="subBy" th:field="*{subBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/xzStationeryassetRecord";
		$("#form-xzStationeryassetRecord-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-xzStationeryassetRecord-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
