<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增当当pc后端百度数据明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dangdangPcBack-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<input id="ddDate" name="ddDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">来源明细：</label>
				<div class="col-sm-8">
					<input id="source" name="source" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订订单数：</label>
				<div class="col-sm-8">
					<input id="receiveOrders" name="receiveOrders" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订金额：</label>
				<div class="col-sm-8">
					<input id="receiveAmount" name="receiveAmount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收订新账户数：</label>
				<div class="col-sm-8">
					<input id="receiveAccount" name="receiveAccount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库订单数：</label>
				<div class="col-sm-8">
					<input id="outOrders" name="outOrders" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库金额：</label>
				<div class="col-sm-8">
					<input id="outAmount" name="outAmount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出库新客数：</label>
				<div class="col-sm-8">
					<input id="outNumber" name="outNumber" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/dangdangPcBack"
		$("#form-dangdangPcBack-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-dangdangPcBack-add').serialize());
	        }
	    }
	</script>
</body>
</html>
