<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('打印')" />
</head>
<body class="white-bg">
    <div>
        <button type="button" class="btn btn-w-m btn-primary" onclick="show(1)" th:text="${btn1}"></button>
        <button type="button" id="btn2" class="btn btn-w-m btn-primary" onclick="show(2)" th:text="${btn2}"></button>
        <div id="content">

        </div>
	</div>
    <div th:include="include::footer"></div>
    <script th:inline="javascript">

        $(function () {
            show(1);
            var btn2 = [[${btn2}]];
            if(btn2==undefined){
                $("#btn2").attr("style","display:none")
            }
        })



        function show(id) {
            var num = [[${num}]];
            var type1 = [[${type1}]];
            var type2 = [[${type2}]];
            var url = "";
            if(id==1){
                url = "/system/print/preview?type="+type1+"&num="+num;
            }else if(id==2){
                url = "/system/print/preview?type="+type2+"&num="+num;
            }
            var config = {
                url: url,
                type: "get",
                dataType: "html",
                async: false,
                data: "",
                success: function(result) {
                    var str = result.substring(0,1);
                    if(str=="否"){
                        result = result.substring(1);
                    }
                    $("#content").html(result);
                }
            };
            $.ajax(config)
        }
	</script>
</body>
</html>
